<div id="show-buttons">
  <ul>
    <div id="temp-custom">
      <ul>
        <li>
          <%= link_to case_documents_path(case_id: @case.id), :class => 'dark' do %>
            <span id="temp" class="glyphicon glyphicon-arrow-left pull-right" title="Back to Documents"></span>
          <% end %>
        </li>
        <li><% link_to 'Edit', '#', id: 'preview_docx', class: 'dark' %></li>
        <li class="dropdown">
          <%= link_to "", class: 'dropdown-toggle action-button', id: 'generate_doc', data: {toggle: "dropdown"} do %>
            GENERATE DOCUMENT
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
            <li><%= link_to "Download to local", '#', id: 'create_docx' %></li>
            <li><%= link_to 'Save directly to Litigo', '', id: 'save_to_app' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </ul>
</div>
<div class="template_block" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">
      <div class="template_html_show"><%= raw @html %></div>
    </div>
    <div class="col-md-1 col-lg-2"></div>
  </div>
  <!-- row end -->
</div>
<%= render :partial => "settlements_form_javascript" %>