<%= simple_form_for(@treatment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :surgery %>
    <%= f.input :surgery_count %>
    <%= f.input :surgery_type %>
    <%= f.input :casted_fracture %>
    <%= f.input :stitches %>
    <%= f.input :future_surgery %>
    <%= f.input :future_medicals %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
