<p id="notice"><%= notice %></p>

<h1>Listing Treatments</h1>

<table>
  <thead>
    <tr>
      <th>Injury</th>
      <th>Firm</th>
      <th>Surgery</th>
      <th>Surgery count</th>
      <th>Surgery type</th>
      <th>Casted fracture</th>
      <th>Stitches</th>
      <th>Future surgery</th>
      <th>Future medicals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.injury_id %></td>
        <td><%= treatment.firm_id %></td>
        <td><%= treatment.surgery %></td>
        <td><%= treatment.surgery_count %></td>
        <td><%= treatment.surgery_type %></td>
        <td><%= treatment.casted_fracture %></td>
        <td><%= treatment.stitches %></td>
        <td><%= treatment.future_surgery %></td>
        <td><%= treatment.future_medicals %></td>
        <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_treatment_path %>
