<p id="notice"><%= notice %></p>

<p>
  <strong>Injury:</strong>
  <%= @treatment.injury_id %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @treatment.firm_id %>
</p>

<p>
  <strong>Surgery:</strong>
  <%= @treatment.surgery %>
</p>

<p>
  <strong>Surgery count:</strong>
  <%= @treatment.surgery_count %>
</p>

<p>
  <strong>Surgery type:</strong>
  <%= @treatment.surgery_type %>
</p>

<p>
  <strong>Casted fracture:</strong>
  <%= @treatment.casted_fracture %>
</p>

<p>
  <strong>Stitches:</strong>
  <%= @treatment.stitches %>
</p>

<p>
  <strong>Future surgery:</strong>
  <%= @treatment.future_surgery %>
</p>

<p>
  <strong>Future medicals:</strong>
  <%= @treatment.future_medicals %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
