<%= simple_form_for(new_note) do |f| %>
      <%= f.error_notification %>

    <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
              <h1>New Note</h1>
            </div>
         <div class="modal-body">
    <% end %>


    <table class="note-form table-condensed">
        <tbody>
          <tr>
              <td>
                  <strong>Author:</strong>
              </td>
              <td>
                  <%= f.text_field :author, :readonly => true, :value => @user.name, label: false, :class => 'table-input' %>
              </td>
          </tr>
          <tr>
              <td>
                  <strong>Created:</strong>
              </td>
              <td>
                  <%= Date.today %>
              </td>
          </tr>
          <tr>
              <td>
                  <strong>Case:</strong>
              </td>
              <td>
               <% if !@case %>
                  <%= f.association :case, :collection => @firm.cases, :input_html => {:id => "note_select"}, label: false %>
               <% else %>
                  <%= @case.name %>
               <% end %>
              </td>
          </tr>
          <tr>
              <td>
                  <strong>Type:</strong>
              </td>
              <td>
                  <%= f.select :note_type, ['General', 'Update','Status Update', 'Phone Call', 'Email', 'Communication w/ Client', 'Medical/Review', 'Deposition', 'Lit Follow Up', 'Settlement Offer', 'Settlement Demand' ], label: false, :class => 'table-input' %>
              </td>
          </tr>
          <tr>
              <td class="big-row">
                  <Strong>Note:</Strong>
              </td>
              <td class="big-row">
                  <%= f.text_area :note, label: false, :class => 'table-text' %>
              </td>
          </tr>
<% if false %> <!-- START OF COMMENT -->            
          <tr>
            <td>
              <strong>Add Task:</strong>
            </td>
            <td>
              <%= f.check_box :add_task, {}, true, false %>
            </td>
          </tr>

            <tr class="task_field">
              <td>
                <strong>Task:</strong>
              </td>
              <td>
                <%= f.text_field :task_name, label: false, :class => 'table-input' %>
              </td>
            </tr>
            <tr class="task_field">
              <td>
                <strong>Task Owner: </strong>
              </td>
              <td>
                <%= f.select :task_owner_id, @firm.users.map {|u| [u.name, u.id]}, :selected => current_user.id, :input_html => {:id => "owner_select"}, label: false %>
              </td>
            </tr>
            <tr class="task_field">
              <td>
                <strong>Secondary Owner: </strong>
              </td>
              <td>
                <%= f.select :task_secondary_owner_id, @firm.users.map {|u| [u.name, u.id]}, :input_html => {:id => "secondary_owner_select"}, label: false, :include_blank => true %>
              </td>
            </tr>

            <tr class="task_field">
              <td>
                <strong>Due Date:</strong>
              </td>
              <td>
                <%= f.date_field :task_due_date, label: false, :class => 'table-input' %>
              </td>
            </tr>
            <tr class="task_field">
              <td>
                <strong>Task Description:</strong>
              </td>
              <td class="big-row">
                <%= f.text_area :task_description, label: false, :class => 'table-text' %>
              </td>
            </tr>            
            <tr class="task_field">
              <td>
                <strong>Add to My Calendar:</strong>
              </td>
              <td>
                
                <%= f.check_box :task_add_event, {:checked => true}, true, false %>
                
                <%= f.select :task_calendar_id, @user.active_calendars.map{ |c| ["#{c.namespace.full_name}: #{c.name}", c.id] }, include_blank: true, label: false, :class => 'table-input' %>
              </td>
            </tr>
<% end %> <!-- END OF COMMENT -->
        </tbody>
    </table>
    <br>
        <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') %>
          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>
        <% end %>

              <div class="form-actions">
                  <%= f.button :submit, :class =>"btn btn-info", :style => 'font-size: 18px;' %>
              </div>

    <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
    <% end %>

<% end %>
  <script>
    $(document).ready(function() {
      $("#note_select, td select").select2();
      $('#note_add_task').change(function (e) {
        if($(this).is(':checked')) {
          $('.task_field').show();
        } else {
          $('.task_field').hide();
        }
      })
    });
  </script>