<%= javascript_include_tag 'notes/edit', 'data-turbolinks-track' => true %>
<%= simple_form_for @note do |f| %>

<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to notes_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></span> <% end %>
      </td>
      <td>
      </td>
      <td><%= link_to 'Cancel', @note, :class => 'dark-right' %>
      </td>
      <td><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
    <strong>  Note</strong>
    </td>
  </tr>
</thead>
<tbody>
      <tr>
        <td class="right">
        <strong>Author:</strong>
        </td>
        <td colspan="2">
           <%= @note.author %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>CC:</strong>
        </td>
        <td colspan="2">
          <% @note.try(:notes_user).to_a.each do |user| %>
              <%= user.user.name %><br />
          <% end %>
        </td>
      </tr>
	<tr>
        <td class="right">
          <strong>Creation Date:</strong>
        </td>
        <td colspan="2">
          <%= @note.created_at.strftime("%m/%d/%Y") %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Case:</strong>
        </td>
        <td colspan="2">
      		 <% if !@case %>
              <%= f.association :case, :collection => @firm.cases, :input_html => {:id => "note_select"}, label: false %>
           <% else %>
              <%= @case.name %>
           <% end %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Type:</strong>
        </td>
        <td colspan="2">
           <%= f.select :note_type, ['Status', 'Lit Follow Up', 'Settlement Offer', 'Settlement Demand', 'Bankruptcy', 'Medical/Review', 'Communication w/ Client', 'Deposition'], label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
          <strong>Note:</strong>
        </td >
        <td colspan="2" class="big-row">
          <%= f.text_area :note, :class => 'table-text' %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
          <strong>Case Alert:</strong>
        </td >
        <td colspan="2" class="big-row">
          <%= f.check_box :case_alert, {}  %> Make this note a Case Alert
        </td>
      </tr>
  </tbody>
</table>


<% end %>




      
      
   
        
