<% if @case %>
 <div class="case-header">
    <div class="case-title">
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-8" style="font-size: 24px;">
            <strong><%= @case.name %></strong><br>
          </div>
        </div>
      </div>
            <div id="case-buttons">
              <ul>
               <li><%= link_to "", :class => 'dark' do %>
          <span id="print" class="glyphicon glyphicon-print" title="Print Tasks"></span>
        <% end %></li>
                  <li><%= render 'new_button' %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
      <%= render partial: 'notes/case_alert' %>
</div>
<div class="incase-tabs-gap">
</div>

<% else %>
 <div id="index-buttons">
              <ul>
                <li><%= link_to "", :class => 'dark' do %>
                      <span id="print" class="glyphicon glyphicon-print" title="Print Tasks"></span>
                    <% end %>
                </li>
                  <li><%= render 'new_button' %></li>
              </ul>
   </div>
<% end %>


<div class="index-table-space">
<h3>My Notes</h3>
</div>
<% if @case %>
  <%= render :partial => 'table', :locals => { :id => 'case_user_notes'} %>
<% else %>
  <%= render :partial => 'table', :locals => { :id => 'user_notes'} %>
<% end %>
<br/>
<br/>
<div class="index-table-space">
<h3>All Firm Notes</h3>
</div>
<% if @case %> 
  <%= render :partial => 'table', :locals => { :id => 'case_notes_case'} %>
<% else %>
  <%= render :partial => 'table', :locals => { :id => 'notes'} %>
<% end %>
<%= render :partial => "notes_index_javascript" %>
