<% if @case %>
  <ol class="breadcrumb">
    <li><%= link_to 'Cases', cases_path %></li>
    <li><%= link_to @case.name, case_path(@case) %></li>
    <li class="active">Notes</li>
  </ol>

  <%= render partial: 'shared/case_tabs' %>
<% end %>

<%= render 'new_button' %>

    <div class="table-responsive">
      <table id="tasks" class="table table-striped table-hover rowlink">
        <thead>
        <tr>
          <th>Author</th>
          <th>Case</th>
          <th>Date</th>
          <th>Type</th>
          <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <% @notes.each do |note| %>
          <tr data-id="<%= note.id %>">
            <td><%= link_to note.author, note_path(note)  %></td>
            <td><%= note.case.name if note.case.present? %></td>
            <td><%= note.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= note.note_type %></td>
            <td><%= note.note %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'notes/form', new_note: @notes_a ) %>");
  });
  <%= render :partial => 'datatable.js', :locals => { :sort_column => false, :sort_order => false} %>
});
</script>
