<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to notes_path,  :class => 'dark' do %><span id="back" title="Back to Notes" class="glyphicon glyphicon-arrow-left"></span> <% end %></td>
      <td>
      </td>
      <td>
      </td>
      <td><%= link_to @note, :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a note will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Note"></span> <% end %>
       <%= link_to "",  :class => 'dark-right' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %>
      <%= link_to 'Edit', edit_note_path(@note), :class => 'dark' %></td>
    </tr>
    </tbody>
  </table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
      <strong>Note</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
        <strong>Author:</strong>
        </td>
        <td colspan="2">
        <%= @note.author %>    
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Creation Date:</strong>
        </td>
        <td colspan="2">
          <%= simple_format_datetime @note.created_at %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Case:</strong>
        </td>
        <td class="doc-link" colspan="2">
          <%= link_to @note.case.name,  case_path(@note.case) if @note.case.present? %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Type:</strong>
        </td>
        <td colspan="2">
          <%= @note.note_type %>
        </td>
      </tr>
        <tr>
        <td class="right big-row">
          <strong>Note:</strong>
        </td >
        <td colspan="2" class="big-row">
          <%= @note.note %>
        </td>
      </tr>
        
  </tbody>
</table>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'n', fade: true});
    $('#back').tipsy({gravity: 'n', fade: true});
    $('#delete').tipsy({gravity: 'ne', fade: true});
  });
</script>
