<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @note.author %>
</p>
<p>
  <strong>Date:</strong>
  <%= @note.created_at %>
</p>
<p>
  <strong>Case:</strong>
  <%= @note.case %>
</p>
<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
