<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @note.author %>
</p>
<p>
  <strong>Date:</strong>
  <%= localize(@note.created_at).to_date %>
</p>
<p>
  <strong>Case:</strong>
  <%= @note.case.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @note.note_type %>
</p>
<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
