<div style="margin: 0 auto;width: 900px;">
<div style="text-align:right;padding-bottom:10px;">
  <%= link_to formatted_dossier_report_path('csv', report), class: 'dark download-csv' do %>
        <span class="glyphicon glyphicon-share export" title="Export to CSV"></span>
  <% end %>
  <%= link_to "javascript:window.print()", class: 'dark download-csv' do %>
        <span class="glyphicon glyphicon-print" id="print" title="Print report"></span>
  <% end %>
</div>
<%= render_options(report) %>
    <table class="table-striped report-table">
      <thead class="user-table-head">
        <tr>
          <% report.results.headers.each do |header| %>
            <th>
              <%= report.format_header(header) %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% report.results.body.each do |row| %>
          <tr>
            <% row.each do |value| %>
              <td>
                <%= value %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <% if report.results.footers.any? %>
        <tfoot>
          <% report.results.footers.each do |row| %>
            <tr>
              <% row.each do |value| %>
                <th>
                  <%= value %>
                </th>
              <% end %>
            </tr>
          <% end %>
        </tfoot>
      <% end %>
    </table>
</div>
<script type='text/javascript'>
  $(function() {
    $('.export').tipsy({gravity: 's', fade: true});
    $('#print').tipsy({gravity: 's', fade: true});
  });
</script>