<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Litigo | About Us" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Litigo | Legal Software" %>">
    <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50072568-1', 'auto');
  ga('send', 'pageview');

</script>
 </head>
 <body>
<header>
    <div class="home-nav-banner">
      <div class="wrapper">
        <a href="index"class="navlogo marge"></a>
        <% if user_signed_in? %>
            <%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete', :class=> 'sign-home' %>
        <% else %>
        <%= link_to 'SIGN IN', new_user_session_path, :class => 'sign-home' %>
        <% end %>
        <div id="header-links">
                      <ul id="header-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><%= link_to 'Contact', contactlitigo_path %></li>
                          <li style="color:white; font-size:12px; font-weight: 400; padding-right: 15px; opacity: .6; letter-spacing: 1px;">Questions? (888) 444-2317</li>
                      </ul>
              </div>
      </div>
    </div>
    </header>
    <div class="terms-container">
    <div class="aboutus">
        <p><strong>About Us:</strong><br></p>
        <p>Our mission is to help lawyers make more money. We do this by making lawyers and their firms more efficient and reducing costs.</p>
    </div>
		<div class="biocontainer-first">
    		<div class="ben">
    			<a href="https://twitter.com/BenSmalley" class="follow-4" target="_blank"><img src="/assets/twitter.png" class="icons"></img></a>
        		<a href="mailto:ben@litigo.co?Subject=Hello" class="follow-4"><span class="glyphicon glyphicon-envelope"></span></a>
        		<a href="http://www.linkedin.com/pub/ben-smalley/22/38/b57/" target="_blank" class="follow-4"><img src="/assets/linkedin.png" class="icons"></img></a>
        		<a href="https://angel.co/ben-smalley" target="_blank" class="follow-4"><img src="/assets/angel.png" class="icons"></img></a>
    		</div>
    			 <div class="bio">
            		<h2>Ben Smalley, Founder and CEO</h2></br>
           			 Prior to starting Litigo, Ben worked as a consultant at PwC and as a finance analyst at Practice Fusion. While working at his father's law firm, Ben experienced first hand the nature of the legal industry: paper documents, three-ring binders, fax machines and all. While working at Practice Fusion, he realized how innovative software can create real change in an archaic industry like healthcare. He is looking to bring that same type of change to the legal industry with Litigo.
        		</div>
        </div>
       
        <div class="biocontainer">
    		<div class="rav">
    			<a href="mailto:rav@litigo.co?Subject=Hello" class="follow-3"><span class="glyphicon glyphicon-envelope"></span></a>
        		<a href="https://github.com/ravjohal" target="_blank" class="follow-3"><img src="/assets/git.png" class="icons"></img></a>
        		<a href="https://www.linkedin.com/profile/view?id=24397703&authType=NAME_SEARCH&authToken=yKxb&locale=en_US&trk=tyah2&trkInfo=tarId%3A1413183994209%2Ctas%3Arav%2Cidx%3A1-1-1" target="_blank" class="follow-3"><img src="/assets/linkedin.png" class="icons"></img></a>
    		</div>
    			<div class="bio">
            			<h2>Rav Johal, Co-founder and CTO</h2></br>
            			Prior to joining Litigo, Rav was number 309 at Workday and is a developer. He has experience with agile development and Ruby on Rails and keeps the engineering team busy. Workday has given him an extensive knowledge of business applications and processes, which he leverages everyday to make the product better.
        		</div>
        </div>
        <div class="biocontainer-last">
    		<div class="john">
        		<a href="http://www.dgmslaw.com/" class="follow-2" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
        		<a href="mailto:john@litigo.co?Subject=Hello" class="follow-2"><span class="glyphicon glyphicon-envelope"></span></a>
    		</div>
    		 		<div class="bio">
           				<h2>John Smalley Esq., Advisor (Product)</h2></br>
               			 John has 25+ years experience as a personal injury attorney, on both the defense and plaintiff side. He has tried 400+ jury trials across the U.S. involving personal injuries, catastrophic injuries, wrongful death, construction accidents, property damage-fire loss, insurance bad faith, multiple types of business litigation and federal trademark infringement.</br>
               			 </br>John lends his deep knowledge of injuries, case evaluation, and litigation to help guide product decisions.
        			</div>
        </div>
      </div>
      <div class="ending">
              <div class="footer-container">
                  &copy 2014 Litigo Inc.
                  <div id="footer-links">
                      <ul id="footer-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><%= link_to 'Contact', contactlitigo_path %></li>
                      </ul>
                  </div>
                    <p>
                      <%= link_to 'Terms of Service', terms_path, :id => 'service' %>
                      <%= link_to 'Privacy Policy', privacy_path, :id => 'service' %>
                    </p>
              </div>
        </div>
    </body>
    </html>