<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Litigo | Legal Software" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Litigo | Legal Software" %>">
    <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
  <body>
    <header>
    <div class="home-nav-banner">
      <div class="wrapper">
        <div class="navlogo"></div>
        <% if user_signed_in? %>
            <%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete', :class=> 'sign-home' %>
        <% else %>
        <%= link_to 'SIGN IN', new_user_session_path, :class => 'sign-home' %>
        <% end %>
              <div id="header-links">
                      <ul id="header-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><%= link_to 'Contact', contactlitigo_path %></li>
                      </ul>
              </div>
      </div>
    </div>
    </header>

<div class="wood-back">
</div>
    <div class="shadow"></div>
      <div class="tagline">
      Case Management made simple.
      </div>
      <div class="trial">
          SIGN UP FOR A FREE TRIAL
      </div>
      <div class="formarea">
        <%= form_tag new_user_registration_path, :method => "get" do %>
          <%= text_field_tag :email, nil, :placeholder => "ENTER YOUR EMAIL ADDRESS HERE", :class => "homepage-email" %>
          <%= submit_tag "START FREE TRIAL", :class => "sub" %>
        <% end %>

      </div>
      <div class="mission">
          <p>Your software shouldn't look like it was made in 1998.</p> Reduce costs and increase efficiencies <p>by staying organized</p>
      </div>
      <div class="section-two">
            <div class="section-two-container">
                <div class="row">
                      <div class="col-sm-4 col-md-4">
                          <div class="text-center">
                                <span class="glyphicon glyphicon-folder-open icon"></span>
                                <div class="icon-text">
                                    Organized
                                </div>
                                <div class="feature-list">
                                  <ul>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Case Management</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Note Taking</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Task Management</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Document Storage</li>
                                  </ul>
                                </div>
                          </div>
                      </div>
                      <div class="col-sm-4 col-md-4">
                          <div class="text-center">
                                <span class="glyphicon glyphicon-globe icon"></span>
                                <div class="icon-text">
                                    Web-based
                                </div>
                                <div class="feature-list">
                                  <ul>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>24/7 Access</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>No Server Costs</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Mobile Friendly</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Access Anywhere</li>
                                  </ul>
                                </div>
                          </div>
                      </div>
                      <div class="col-sm-4 col-md-4">
                          <div class="text-center">
                                <span class="glyphicon glyphicon-lock icon"></span>
                                <div class="icon-text">
                                    Secure
                                </div>
                                <div class="feature-list">
                                  <ul>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Bank Level Security</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>SSL Encryption</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Data Redundancy</li>
                                    <li><span class="glyphicon glyphicon-ok" style="margin-right: 10px; font-size:90%;"></span>Always Backed-up</li>
                                  </ul>
                                </div>
                          </div>
                      </div>
                </div> <!-- row div -->
            </div> <!-- section-two-container div -->
      </div> <!-- section-two div -->
      <div class="section-three">
          <div class="section-three-container">
                <div class="row">
                      <div class="col-md-7">
                            <div class="computer">
                              <div class="slider-container">
                                      <div class="slide"><img src="/assets/cases.png"></div>
                                      <div class="slide"><img src="/assets/details.png"></div>
                                      <div class="slide"><img src="/assets/insight.png"></div>
                                </div>
                            </div>
                      </div>
                      <div class="col-md-5">
                            <div class="computer-text">
                            <div style="margin-bottom: 30px;">
                           Organize your cases, contacts, documents and notes in a secure place</div>
                           <div style="margin-bottom: 30px;">
                            Easily access active or past cases, contacts, and documents with a simple search
                            </div>
                            Visually map 1,000s of past cases and read case summaries to learn what drives case value<br>
                            
                                <div class="second-btn">
                                    <%= form_tag new_user_registration_path, :method => "get" do %>
                                      <%= submit_tag "START FREE TRIAL", :class => "sub-btn" %>
                                    <% end %>
                                </div>
                            </div>
                      </div>
                </div> <!-- row div -->
          </div> <!-- section container div -->
      </div> <!-- section-three div -->
      </div>
        <div class="quote-container">
              <div class="valueprop">"Case management software provides attorneys with a convenient method of effectively managing client and case information, including contacts, calendaring, documents in law practices."<br><p class="small">- American Bar Association</p>
              </div>
        </div>
      

    </div>
         <div class="ending">
              <div class="footer-container">
                  &copy 2014 Litigo Inc.
                  <div id="footer-links">
                      <ul id="footer-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><%= link_to 'Contact', contactlitigo_path %></li>
                      </ul>
                  </div>
                    <p>
                      <%= link_to 'Terms of Service', terms_path %>
                      <%= link_to 'Privacy Policy', privacy_path %>
                    </p>
              </div>
        </div>

  <script type="text/javascript">
        $(document).ready(function(){
            $('.slider-container').slick({
              dots: true,
              autoplay: true,
              autoplaySpeed: 3000,
              arrows: false,
            });
        });
  </script>
  </body>
</html>