<main>
 	  <div class="shadow"></div>
      <div class="tagline">
      Legal Insights to Build a Winning Case
      </div>
      <div class="trial">
          SIGN UP FOR OUR BETA LIST
      </div>
      <div class="formarea">
        <%= form_tag new_user_registration_path, :method => "get" do %>
          <%= text_field_tag :email, nil, :placeholder => "ENTER YOUR EMAIL ADDRESS", :class => "email" %>
          <%= submit_tag "REQUEST BETA", :class => "sub" %>
        <% end %>

<!--
            <form method="post" action="#{new_user_registration_path}">
          <input type="email" name="email" id="email" placeholder="ENTER YOUR EMAIL ADDRESS" class="email">
          </input>
-->

      </div>
      <div class="mission">
      Empowering attorneys to attain higher verdicts and settlements with FREE case management and analytics
      </div>
      <div class="main_home">
          <p class="valueprop">Litigo is a web-based case management software designed for personal injury lawyers
          that actually helps them attain <strong>higher verdicts and settlements</strong> by analyzing tens of thousands of past cases and outcomes to predict
          future case values and discover meaningful patterns in the data allowing lawyers to craft winning strategies.</p>
          <div class="submain">
              <div class="imgbox1">
                  <%= image_tag 'mag2.png' %>
                  </div>
                      <div class="imgbox2">
                      <%= image_tag 'folder2.png' %>
                      </div>
                  <div class="imgbox3">
                  <%= image_tag 'chart2.png' %>
                  </div>
              <div class="firstbox">
              Case Evaluation
      <p class="boxes">Save time on client intake while inputting pertinent case details for Litigo to analyze them against over 100,000 historical cases to return a possible value range.</p>
      <p class="boxes">Attach a case evaluation to an exisiting case or create a new one. Users can also export the evaluation to share with clients or generate demand letters.</p>
              </div>
              <div class="secondbox">
              Case Management
              <p class="boxes">Designed from the ground up for personal injury lawyers, Litigo enables users to track events, add documents, add evaluations, and manage contacts.</p>
              <p class="boxes">Litigo is web-based, so users can access their cases 24/7. All client data is encrypted with SSL security ensuring it is completely secure - guarenteed.</p>
              </div>
              <div class="thirdbox">
              Insights & Statistics
      <p class="boxes">The Insights tool lets attorneys quickly see how case value is affected by insurer, judge, injury, or other factors that might have an impact on the case outcome.</p>
      <p class="boxes">Attorneys can see their personal stats such as number of cases settled vs. went to trial, average result, and comparisons to other attorneys in the practice, state, or nation.</p>
              </div>
          </div>
          	<li><%= link_to 'FREE TRIAL', new_user_registration_path, class: 'button1' %></li>
      </div>
  </main>  