<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Litigo | Pricing" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Litigo | Legal Software" %>">
    <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
 </head>
 <body>
<header>
    <div class="home-nav-banner">
      <div class="wrapper">
        <a href="index"class="navlogo marge"></a>
        <% if user_signed_in? %>
            <%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete', :class=> 'sign-home' %>
        <% else %>
        <%= link_to 'SIGN IN', new_user_session_path, :class => 'sign-home' %>
        <% end %>
      </div>
    </div>
    </header>

<div class="terms-container">
    <table id="price-table">
        <thead id="head">
        <tr class="xlarge">
                <th class="cent"></th>
                <th class="cent">Basic</th>
                <th class="cent">Pro</th>
                <th class="cent">Premium</th>
            </tr>
            <tr class="large-star">
                <th></th>
                <th class="cent"><span class="glyphicon glyphicon-star yellow"></span></th>
                <th class="cent"><span class="glyphicon glyphicon-star yellow"></span><span class="glyphicon glyphicon-star yellow"></span></th>
                <th class="cent"><span class="glyphicon glyphicon-star yellow"></span><span class="glyphicon glyphicon-star yellow"></span><span class="glyphicon glyphicon-star yellow"></span></th>
            </tr>
          
             <tr class="large">
                <th></th>
                <th class="cent">FREE<br></th>
                <th class="cent">$99<br><div class="small">Practice/month</div></th>
                <th class="cent">$199<br><div class="small">Practice/month</div></th>
            </tr>
             <tr>
                <th></th>
                <th class="cent"><a href='#' class="cta-alt">Sign Up</a></th>
                <th class="cent"><a href='#' class="cta">Start Free Trial</a></th>
                <th class="cent"><a href='#' class="cta">Start Free Trial</a></th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <td colspan="4">
                * Indicates that feature is coming soon
                </td>
            </tr>
          </tfoot>
        <tbody>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr>
                <th>100% web-based</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr>
                <th>Mobile access</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr>
                <th>SSL encryption</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
              <tr>
                <th>Client and case management</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
              <tr>
                <th>Google Calendar sync</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
              <tr>
                <th>Search</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
              <tr>
                <th>Note taking</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
              <tr>
                <th>Multi-user access</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               <tr>
                <th>Task management</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               <tr>
                <th>Reporting</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
                <tr>
                <th>Billing*</th>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               </tr>
                <tr>
                <th>Client intake*</th>
                <td>
                </td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               <tr>
                <th>Litigation research</th>
                <td>
                </td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               <tr>
                <th>Case evaluation*</th>
                <td>
                </td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
                <tr>
                <th>Judge analytics*</th>
                <td></td>
                <td></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               <tr>
                <th>Jury analytics*</th>
                <td></td>
                <td></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
               <tr>
                <th>Firm & attorney bench marking*</th>
                <td></td>
                <td></td>
                <td><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
          </tbody>
    </table>
</div>
 
  <div class="ending">
              <div class="footer-container">
                  &copy 2014 Litigo Inc.
                  <div id="footer-links">
                      <ul id="footer-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><a href=#>Contact</a></li>
                      </ul>
                  </div>
                    <p>
                      <%= link_to 'Terms of Service', terms_path %>
                      <%= link_to 'Privacy Policy', privacy_path %>
                    </p>
              </div>
        </div>
 </body>
</html>