<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Litigo | Pricing" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Litigo | Legal Software" %>">
    <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50072568-1', 'auto');
  ga('send', 'pageview');

</script>
 </head>
 <body>
<header>
    <div class="home-nav-banner">
      <div class="wrapper">
        <a href="index"class="navlogo marge"></a>
        <% if user_signed_in? %>
            <%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete', :class=> 'sign-home' %>
        <% else %>
        <%= link_to 'SIGN IN', new_user_session_path, :class => 'sign-home' %>
        <% end %>
                <div id="header-links">
                      <ul id="header-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><%= link_to 'Contact', contactlitigo_path %></li>
                          <li style="color:white; font-size:12px; font-weight: 400; padding-right: 15px; opacity: .6; letter-spacing: 1px;">Questions? (888) 444-2317</li>
                      </ul>
              </div>
      </div>
    </div>
    </header>


<div class="row">
  <div class="col-md-12">
    <div class="price-tagline">
        Try Litigo for free. 
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-1 col-xs-1">
</div>
  <div class="col-md-10 col-xs-10">
     <div class="price-sub-mission">
        No committment - get started with just your email
    </div>
  </div>
  <div class="col-md-1 col-xs-1">
</div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
     <div class="sign-up-price-page">
                    <%= form_tag new_user_registration_path, :method => "get" do %>
                   <%= submit_tag "START FREE TRIAL", :class => "sub-btn" %>
                        <% end %>
   </div>
   </div>
</div>

     <div class="row">
      <div class="col-md-3 col-xs-1">
      </div>
      <div class="col-md-6 col-xs-10 text-center price-container">
        <div style="font-size: 36px; margin-bottom: 15px; margin-top: 15px;">$15 <span style="font-size:24px;">per user / month</span></div>
        <div style="font-size: 14px; color: #aaa;">Clear and simple pricing.<p> Whether billed annually or month-to-month.</p></div>
        <hr class="price-divider">
              <div class="feature-list">
                                  <ul id="list-of-feat">
                                    <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>Case Management</li>
                                    <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>Saved Task Lists</li>
                                    <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>Google Calendar Sync</li>
                                    <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>Document Management</li>
                                     <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>Billing & Expenses</li>
                                    <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>Free Tech Support</li>
                                     <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>100% Web-based</li>
                                     <li><span class="glyphicon glyphicon-ok green" style="margin-right: 10px; font-size:90%;"></span>SSL Encryption</li>
                                  </ul>
              </div>
     </div>
     <div class="col-md-3 col-xs-1">
      </div>
     </div>

     <div class="row">
      <div class="col-md-12 text-center">
        <div style="margin: 50px auto; width: 300px; text-align: center;">
                    Still have questions? Send us an <a href="mailto:support@litigo.co" class="doc-link">email</a> 
        </div>
      </div>
    </div>
   
    
 
  <div class="ending">
              <div class="footer-container">
                  &copy 2014 Litigo Inc.
                  <div id="footer-links">
                      <ul id="footer-links">
                          <li><%= link_to 'About', about_path %></li>
                          <li><%= link_to 'Pricing', pricing_path %></li>
                          <li><%= link_to 'Contact', contactlitigo_path %></li>
                      </ul>
                  </div>
                    <p>
                      <%= link_to 'Terms of Service', terms_path %>
                      <%= link_to 'Privacy Policy', privacy_path %>
                    </p>
              </div>
        </div>
 </body>
</html>