<%= javascript_include_tag 'invoices/form', 'data-turbolinks-track' => true %>
<%= simple_form_for(@invoice, html: {:class => 'invoice-form'}) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :number, :value =>  @invoice.increment_number %>
  <%= f.hidden_field :expenses_ids %>
  <%= f.hidden_field :time_entries_ids %>
  <%= f.hidden_field :amount %>
  <%= f.hidden_field :status %>

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <%= f.label :case_id do %> <strong>Case</strong> <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.select :case_id, options_from_collection_for_select(@firm.cases, 'id', 'name'), {prompt: "Select #{:case}"}, {:class => 'cases_select'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <%= f.label :contact_id do %> <strong>Recipient</strong> <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.select :contact_id, options_from_collection_for_select((@invoice.case ? @invoice.case.contacts : @firm.contacts), 'id', 'name'), {prompt: "Select #{:contact}"}, {:class => 'contacts_select'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <%= f.label :due_date do %> Due Date<% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.date_field :due_date %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
      <%= link_to 'ADD SERVICES', '#add_services', {class: 'action-button insure', :id => 'add_services',  :remote => true, :'data-toggle' => 'modal', :'data-target' => '#modal-window'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table-tripped">
        <thead>
        <tr>
          <th>Staff Member</th>
          <th>Description of Service</th>
          <th>Hours</th>
          <th>Rate</th>
          <th style="width: 200px !important;">Amount</th>
        </tr>
        </thead>
        <tbody id="services_table">
        <% @services = @invoice.time_entries %>
        <%= render 'services_table_for_form' %>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
      <%= link_to 'ADD EXPENSES', '#add_expenses', {class: 'action-button insure', :id => 'add_expenses',  :remote => true, :'data-toggle' => 'modal', :'data-target' => '#modal-window'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table-tripped">
        <thead>
        <tr>
          <th>Expense</th>
          <th>ABA Code</th>
          <th style="width: 200px !important;">Amount</th>
        </tr>
        </thead>
        <tbody id="expenses_table">
        <% @expenses = @invoice.expenses %>
        <%= render 'expenses_table_for_form' %>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <table class="table-tripped">
        <tfoot>
        <tr>
          <th>TOTAL</th>
          <th id="total_amount" style="width: 200px !important;"><%= number_to_currency 0.to_f %></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-info hidden', :style => 'font-size: 18px;', id: 'submit_form' %>
  </div>
<% end %>