<%= javascript_include_tag 'invoices/show', 'data-turbolinks-track' => true %>
<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong>Invoice #<%= @invoice.number %></strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to 'Edit', edit_invoice_path(@invoice), :class => 'dark' %></li>
        <li><%= link_to "javascript:window.print()", :class => 'dark' do %>
            <span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span>
          <% end %></li>
        <li><%= link_to @invoice, :class => 'dark', method: :delete, data: {confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?'} do %>
            <span id="delete" class="glyphicon glyphicon-trash" title="Delete Invoice"></span>
          <% end %></li>
        <li>
          <%=  link_to '#', :class => :dark, :id => :add_payment, :'data-toggle' => :modal, :'data-target' => '#modal-window', :remote => true do %>
          <span class="glyphicon glyphicon-plus-sign" title="Add Payment"></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <strong style="color: white;">A</strong>
  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'invoice_tabs' %>
      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap-double">
</div>
<table id="info-table3" class="lead-table">
  <thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>Invoice Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right">
      <strong>Case:</strong>
    </td>
    <td>
      <%= (@invoice.case.present? ? link_to(@invoice.case.name, @invoice.case, :style => 'color: inherit') : '') %>
    </td>
    <td class="right">
      <strong>Contact:</strong>
    </td>
    <td>
      <%= (@invoice.contact.present? ? link_to(@invoice.contact.name, @invoice.contact, :style => 'color: inherit') : '') %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Due Date</strong>
    </td>
    <td>
      <%= simple_format_date @invoice.due_date %>
    </td>
    <td class="right">
      <strong>Amount:</strong>
    </td>
    <td>
      <%= number_to_currency @invoice.amount.to_f %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Payments:</strong>
    </td>
    <td>
      <%= number_to_currency @invoice.payment_sum.to_f %>
    </td>
    <td class="right">
      <strong>Balance:</strong>
    </td>
    <td>
      <%= number_to_currency @invoice.balance.to_f %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Status:</strong>
    </td>
    <td><%= Invoice::STATUS[@invoice.status.to_sym] %></td>
  </tr>
  </tbody>
</table>
<%= render :partial => 'invoices_show_javascript' %>