<%= javascript_include_tag 'invoices/show', 'data-turbolinks-track' => true %>
<div id="show-buttons">
  <ul>
    <div id="temp-custom">
      <ul>
        <li>
          <%= link_to invoices_path, :class => 'dark' do %>
            <span id="temp" class="glyphicon glyphicon-arrow-left" title="Back to Invoices"></span>
          <% end %>
        </li>
        <li>
          <%= link_to 'Add Payment', '#add_payment', :class => 'action-button', :id => :add_payment, :'data-toggle' => :modal, :'data-target' => '#modal-window', :remote => true %>
        </li>
      </ul>
    </div>
  </ul>
</div>

<div style="width:500px; margin-bottom: 30px;">
  <h3>Invoice #<%= @invoice.number %></h3>
</div>

<div class="row" style="max-width: 1200px; margin: 10px auto;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <strong>Billed Amount</strong>
        </div>
        <div class="row">
          <div class="invoice_box left_box">
            <%= number_to_currency @invoice.amount.to_f %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <strong>Paid</strong>
        </div>
        <div class="row">
          <div class="invoice_box center_box">
            <%= number_to_currency @invoice.payment_sum.to_f %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <strong>Balance</strong>
        </div>
        <div class="row">
          <div class="invoice_box right_box">
            <%= number_to_currency @invoice.balance.to_f %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'template_block' %>

<%= render :partial => 'invoices_show_javascript' %>