<%= simple_form_for(new_task) do |f| %>
  <%= f.error_notification %>

  <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'task_lists' && action_name == 'new') %>
    <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>

          <h1>New Task</h1>
        </div>
        <div class="modal-body">
  <% end %>
  <table class="task-form table-condensed">
    <tbody>
    <tr>
      <td>
        <strong>Task:</strong>
      </td>
      <td colspan="2">
        <%= f.text_field :name, label: false, :class => 'table-input' %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Case:</strong>
      </td>
      <td colspan="2">
        <% if !@case %>
          <%= f.association :case, :collection => @firm.cases, :input_html => {:id => "task_select"}, label: false %>
        <% else %>
          <%= @case.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Task Owner: </strong>
      </td>
      <td colspan="2">
        <%= f.association :owner, :collection => @firm.users, :selected => current_user.id, :input_html => {:id => "owner_select"}, label: false %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Secondary Owner: </strong>
      </td>
      <td colspan="2">
        <%= f.association :secondary_owner, :collection => @firm.users, :input_html => {:id => "secondary_owner_select"}, label: false, :include_blank => true %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Due Date:</strong>
      </td>
      <td colspan="2">
        <%= f.date_field :due_date, label: false, :class => 'table-input' %>
      </td>
    </tr>
    
    <tr>
      <td>
        <strong>Task Description:</strong>
      </td>
      <td class="big-row" colspan="2">
        <%= f.text_area :description, label: false, :class => 'table-text' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Add to Calendar:</strong>
      </td>
      <td colspan="2">
        <%= f.check_box :add_event, {:checked => true}, true, false %>
        <%= f.select :calendar_id, @user.calendars.map{ |c| ["#{c.namespace.full_name}: #{c.name}", c.id] }, include_blank: true, label: false, :class => 'table-input' %>
      </td>
    </tr>
    </tbody>
  </table>
  <br>

  <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') %>
    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-info", :style => 'font-size: 18px;' %>
  </div>

  <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') %>
    </div><!--end of modal-footer-->
    </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  <% end %>

<% end %>
<script>
  $(document).ready(function () {
    $("#task_select, td select").select2({allowClear: true});
    $('#task_add_event').change(function (e) {
      if ($(this).is(":checked")){
        $('.google-calendar-row').show();
      } else {
        $('.google-calendar-row').hide();
        $('#task_google_calendar_id').val('');
        $('#task_google_calendar_id').select2('val', '');
      }
    })
  });
</script>
