
<%= simple_form_for @task do |f| %>

<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to @tasks_path,  :class => 'dark' do %><span id="back" data-tip="Back" class="glyphicon glyphicon-arrow-left"></span> <% end %>
      </td>
      <td>
      </td>
      <td><%= link_to 'Cancel', @task, :class => 'dark-right' %>
      </td>
      <td>
      		<%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
     <strong>Task</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
            <strong>Task:</strong>
        </td>
        <td colspan="2">
            <%= f.text_field :name, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Case(s):</strong>
        </td>
        <td colspan="2">
              <% if !@case %>
                  <%= f.association :case, :collection => @firm.cases, :input_html => {:id => "task_select"}, :class => 'table-input', label: false  %>
                <% else %>
                  <%= @case.name %>
                <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Owner:</strong>
        </td>
        <td colspan="2">
        <%= f.association :owner, :collection => @firm.users, :input_html => {:id => "owner_select"}, label: false, :include_blank => false %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Secondary Owner:</strong>
        </td>
        <td colspan="2">
        <%= f.association :secondary_owner, :collection => @firm.users, :input_html => {:id => "second_owner_select"}, label: false, label: false, :include_blank => true %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Due date:</strong>
        </td>
        <td colspan="2">
          <%= f.date_field :due_date, :class => 'table-input' %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Estimated Time to Complete:</strong>
        </td>
        <td>
          <%= f.number_field :estimated_time, :class => 'table-input' %>
        </td>
        <td>
          <%= f.select :estimated_time_unit, ['Hour(s)','Day(s)','Week(s)','Month(s)'], :class => 'table-input', label: false, :include_blank => true %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Completed:</strong>
        </td>
        <td colspan="2">
        <%= f.date_field :completed, :class => 'table-input' %>
        </td>
      </tr>
        <tr>
        <!-- <td class="right">
          <strong>Sms reminder:</strong>
        </td>
        <td colspan="2">
          <%= best_in_place @task, :sms_reminder, :as => :checkbox, :class => 'edit' %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Email reminder:</strong>
        </td>
        <td colspan="2">
          <%= @task.email_reminder %>
        </td>
      </tr> -->
       <tr>
        <td class="right big-row">
          <strong>Description:</strong>
        </td>
        <td colspan="2" class="big-row">
          <%= f.text_area :description, :class => 'table-text'  %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Add to My Calendar:</strong>
        </td>
        <td colspan="2">
          <%= f.check_box :add_event, {:checked => @task.event.present?}, true, false  %>
        </td>
      </tr>
      <tr class="right google-calendar-row <%= @task.event.present? ? '' : 'no-display' %>">
        <td>
          <strong>Google Calendar:</strong>
        </td>
        <td colspan="2">
         <%= f.select :calendar_id, @user.active_calendars.map{ |c| ["#{c.namespace.full_name}: #{c.name}", c.id] }, include_blank: true, label: false, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>

<% end %>

  <script>
    $(document).ready(function() {
      $("#task_select, select").select2({allowClear: true});
      $('#task_add_event').change(function (e) {
        if ($(this).is(":checked")){
          $('.google-calendar-row').show();
        } else {
          $('.google-calendar-row').hide();
          $('#task_google_calendar_id').val('');
          $('#task_google_calendar_id').select2('val', '');
        }
      })
    });
  </script>
  <script type='text/javascript'>
  $(function() {
    $('#back').tipsy({gravity: 'n', fade: true});
  });
</script>
