<% if @case %>
  <ul class="breadcrumb">
    <li><strong>Case Name: </strong><%= @case.name %></li>
    <li class="active-breadcrumb"><strong>Case #: </strong><%= @case.id %></li>
  </ul>

  <%= render partial: 'shared/case_tabs' %>
<% end %>


<%= render 'new_button' %>
<h3>My Tasks</h3>
  <div class="table-responsive">
    <table id="my_tasks" class="table table-striped">
      <thead class="user-table-head">
      <tr>
        <th>Task</th>
        <th>Case(s)</th>
        <th>Owner </th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completed On</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
      <% @my_tasks.each do |task| %>
        <tr data-id="<%= task.id %>">
          <td><%= task.name %></td>
          <td class="doc-link"><%= raw(task.cases.map {|c| link_to(c.name, case_path(c)) }.join(', ')) %></td>
          <td><%= task.owner.name if task.owner %></td>
          <td><%= task.description %></td>
          <td><%= task.due_date %></td>
          <td><%= check_box_tag "complete-task-#{task.id}", true, task.completed.present?, disabled: task.completed.present?, class: 'complete-task', data: { "task-completed" => "#{task.id}" } %> <%= task.completed if task.completed.present? %></td>
          <td style="text-align: center;"><%= link_to task_path(task),  :class => 'dark-small' do %><span data-tip="View" class="glyphicon glyphicon-eye-open tip"></span> <% end %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<br />
<br />
<% if @case %>
<h3>All Case Tasks</h3>
<% else %>
<h3>All Firm Tasks</h3>
<% end %>
  <div class="table-responsive">
    <table id="tasks" class="table table-striped">
      <thead class="user-table-head">
      <tr>
        <th>Task</th>
        <th>Case(s)</th>
        <th>Owner </th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
      <% @tasks.each do |task| %>
        <tr data-id="<%= task.id %>">
          <td><%= task.name %></td>
          <td class="doc-link"><%= raw(task.cases.map {|c| link_to(c.name, case_path(c)) }.join(', ')) %></td>
          <td><%= task.owner.name if task.owner %></td>
          <td><%= task.description %></td>
          <td><%= task.due_date %></td>
          <td><%= check_box_tag "complete-task-#{task.id}", true, task.completed.present?, disabled: task.completed.present?, class: 'complete-task', data: { "task-completed" => "#{task.id}" } %> <%= task.completed if task.completed.present? %></td>
          <td style="text-align: center;"><%= link_to task_path(task),  :class => 'dark-small' do %><span data-tip="View" class="glyphicon glyphicon-eye-open tip"></span> <% end %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal').click(function (event) {
    $("#modal-window").html("<%= escape_javascript(render 'tasks/form', new_task: @tasks_a ) %>");
  });
  $(".complete-task").click(function(e){
    var id = $(e.currentTarget).data('task-completed');
    $.ajax({
      type: "post",
      url: '/tasks/complete_task',
      data: {'task': {"task_id" : id}},
      success: function(data) {
        $('[data-task-completed='+id+']').prop('checked', true);
        $('[data-task-completed='+id+']').attr('disabled', 'disabled');
        $('[data-task-completed='+id+']').after(' ' + data.date);
        $('.alert').remove();
        $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
      },
      error: function(responce, status, error) {
        $('.alert').remove();
        $('body').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + responce.responseText + "</div>");
      }
    });
  });
  <%= render :partial => 'datatable.js', :locals => { :sort_column => 1, :sort_order => 'asc'} %>
});
</script>
<script>
     $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
     });
</script>
