<% if @case %>
  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @case.name %></strong><br>
      </div>
      <div id="case-buttons">
    <ul>
      <li><%= link_to "", :class => 'dark' do %>
          <span id="print" class="glyphicon glyphicon-print" title="Print Tasks"></span>
        <% end %></li>
        <div id="top-custom">
        <ul>
      <li class="dropdown task-list">
        <%= link_to "", class: 'dropdown-toggle action-button', id: 'task-list-bnt', data: {toggle: "dropdown", :style => 'display:inline;'} do %>
          TASK ITEMS
          <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
            <li style="padding: 0; display: inline;"><%= link_to "New Task", @new_path, { :id => "new_modal", :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Create New Task List', new_task_list_path %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Import Saved Task List', task_lists_path(case_id: @case.id) %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Modify Saved Task List', task_lists_path %></li>
        </ul>
      </li>
    </ul>
    </div>
    </ul>

      </div> <!-- case buttons div -->
    </div>
    <strong>Case #: </strong><%= @case.case_number %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap">
  </div>
<% else %>
  <div id="index-buttons">
    <ul>
      <li><%= link_to 'javascript:window.print()', :class => 'dark' do %>
          <span id="print" class="glyphicon glyphicon-print tip" title="Print Tasks"></span>
        <% end %></li>
      <div id="top-custom">
        <ul>
          <li class="dropdown task-list">
            <%= link_to "", class: 'dropdown-toggle action-button', id: 'task-list-bnt', data: {toggle: 'dropdown', :style => 'display:inline;'} do %>
              TASK ITEMS
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
              <li style="padding: 0; display: inline;"><%= link_to 'New Task', @new_path, {:id => 'new_modal', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
              <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Create New Task List', new_task_list_path %></li>
              <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Modify Saved Task List', task_lists_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </ul>
  </div>
<% end %>
<div style="margin-top: 70px;">
  <h3>My Tasks</h3>
</div>

<div class="table-responsive">
  <table id="my_tasks" class="table table-striped tasks_table table-hover">
    <thead class="user-table-head">
    <tr>
      <th style="vertical-align:middle;">Case(s)</th>
      <th>Owner</th>
      <th>Task</th>
      <th>Due Date</th>
      <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <% @my_tasks.each do |task| %>
      <tr class="<%= task.row_color%>" id="<%= task.id %>">
        <td class="doc-link"><%= task.try(:case).try(:name) %></td>
        <td><%= task.try(:owner).try(:name)%></td>
        <td>
          <div class="larger-td"><%= task.name %></div>
        </td>
        <td><%= task.try(:due_date).try(:strftime, '%b %e, %Y') %></td>
        <td><%= check_box_tag "complete-task-#{task.id}", true, task.completed.present?, disabled: task.completed.present?, class: 'complete-task', data: {'task-completed' => "#{task.id}"} %> <%= task.completed if task.completed.present? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br/>
<br/>
<div style="margin-top: 70px;">
  <% if @case %>
    <h3>Case Tasks</h3>
  <% else %>
    <h3>All Firm Tasks</h3>
  <% end %>
</div>
<div class="table-responsive">
  <table id="tasks" class="table table-striped tasks_table table-hover">
    <thead class="user-table-head">
    <tr>
      <th>Case(s)</th>
      <th>Owner</th>
      <th>Task</th>
      <th>Due Date</th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= task.row_color%>" id="<%= task.id %>">
        <td class="doc-link"><%= task.try(:case).try(:name) %></td>
        <td><%= task.try(:owner).try(:name) %></td>
        <td>
          <div class="larger-td"><%= link_to(task.name, task_path(task)) %></div>
        </td>
        <td><%= task.try(:due_date).try(:strftime, '%b %e, %Y') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $('#new_modal').click(function (event) {
      $("#modal-window").html("<%= escape_javascript(render 'tasks/form', new_task: @tasks_a ) %>");
    });

    $(document).on('click', ".complete-task", function (e) {
      var id = $(e.currentTarget).data('task-completed');
      var tasks_owner = $(this).closest('.dataTables_wrapper').find('.table').attr('id');
      var parent_tr = $(this).parents('tr');
      $(parent_tr).hide();
      $.ajax({
        type: "post",
        url: '/tasks/complete_task',
        data: {'task': {"task_id": id}},
        success: function (data) {
          tables.table('#'+tasks_owner).row( parent_tr ).remove().draw();
          $('.alert').remove();
          $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
          setTimeout(function () {
            $('.alert-success').fadeOut();
          }, 2000);
        },
        error: function (responce, status, error) {
          $(parent_tr).show();
          $('.alert').remove();
          $('body').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + responce.responseText + "</div>");
          setTimeout(function () {
            $('.alert-danger').fadeOut();
          }, 4000);
        }
      });
    });
    $(document).on('click', '.table tbody tr', function (e) {
      if($(e.target).attr('href') === undefined && !$(e.target).hasClass('complete-task')){
        var task_id = $(this).attr('id');
        window.location = "/tasks/"+task_id;
      }
    });

    var tables = $('.table').DataTable({
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search or Filter",
        lengthMenu: "View _MENU_"
      },
      sDom: '<"toolbar">Rfrtlip',
      aaSorting: [[ 3, 'asc' ]]
    });
    $("div.toolbar").html("<%= render(partial: 'tasks/filter_button') %>");

    $('.task-filter .dropdown-menu li a').click(function (e) {
      e.preventDefault();
      var text = $(this).text();
      var tasks_scope = $(this).data('scope');
      var tasks_owner = $(this).closest('.task-filter').closest('.dataTables_wrapper').find('.table').attr('id');
      var case_id = '<%= @case.present? ? @case.id : nil %>';
      $(this).closest('.task-filter').find('a.btn-default').html(text.toUpperCase()+" <span class='caret'></span>");
      tables.table('#'+tasks_owner).ajax.url('<%= get_tasks_path %>?tasks_owner='+tasks_owner+'&tasks_scope='+tasks_scope+'&case_id='+case_id).load(function (data) {});
    });
  });
</script>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'n', fade: true});
  });
</script>