<% if @case %>
  <div class="case-header">
    <div class="case-title">
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-2" style="font-size: 24px;">
            <strong><%= @case.name %></strong><br>
          </div>
          <div class="col-md-7">
            <%= render partial: 'notes/case_alert' %>
          </div>
        </div>
      </div>
      <div id="case-buttons">
    <ul>
      <li><%= link_to "", :class => 'dark' do %>
          <span id="print" class="glyphicon glyphicon-print" title="Print Tasks"></span>
        <% end %></li>
        <div id="top-custom">
        <ul>
      <li class="dropdown task-list">
        <%= link_to "", class: 'dropdown-toggle action-button', id: 'task-list-bnt', data: {toggle: "dropdown", :style => 'display:inline;'} do %>
          TASK ITEMS
          <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
            <li style="padding: 0; display: inline;"><%= link_to "New Task", @new_path, { :id => "new_modal", :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Create New Task List', new_task_list_path %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Import Saved Task List', task_lists_path(case_id: @case.id) %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Modify Saved Task List', task_lists_path %></li>
        </ul>
      </li>
    </ul>
    </div>
    </ul>

      </div> <!-- case buttons div -->
    </div>
    <strong>Case #: </strong><%= @case.case_number %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap">
  </div>
<% else %>
  <div id="index-buttons">
    <ul>
      <li><%= link_to 'javascript:window.print()', :class => 'dark' do %>
          <span id="print" class="glyphicon glyphicon-print tip" title="Print Tasks"></span>
        <% end %></li>
      <div id="top-custom">
        <ul>
          <li class="dropdown task-list">
            <%= link_to "", class: 'dropdown-toggle action-button', id: 'task-list-bnt', data: {toggle: 'dropdown', :style => 'display:inline;'} do %>
              TASK ITEMS
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
              <li style="padding: 0; display: inline;"><%= link_to 'New Task', @new_path, {:id => 'new_modal', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
              <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Create New Task List', new_task_list_path %></li>
              <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Modify Saved Task List', task_lists_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </ul>
  </div>
<% end %>
<div class="index-table-space">
  <h3>My Tasks</h3>
</div>

<div class="table-responsive">
  <table id="my_tasks" class="table table-striped tasks_table table-hover">
    <thead class="user-table-head">
    <tr>
      <th style="vertical-align:middle;">Case(s)</th>
      <th>Owner</th>
      <th>Task</th>
      <th>Due Date</th>
      <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <% @my_tasks.each do |task| %>
      <tr class="<%= task.row_color%>" id="<%= task.id %>">
        <td class="doc-link"><%= task.try(:case).try(:name) %></td>
        <td><%= task.try(:owner).try(:name)%></td>
        <td>
          <div class="larger-td"><%= task.name %></div>
        </td>
        <td><%= simple_format_date task.try(:due_date) %></td>
        <td><%= check_box_tag "complete-task-#{task.id}", true, task.completed.present?, disabled: task.completed.present?, class: 'complete-task', data: {'task-completed' => "#{task.id}"} %> <%= task.completed if task.completed.present? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br/>
<br/>
<div class="index-table-space">
  <% if @case %>
    <h3>Case Tasks</h3>
  <% else %>
    <h3>All Firm Tasks</h3>
  <% end %>
</div>
<div class="table-responsive">
  <table id="tasks" class="table table-striped tasks_table table-hover">
    <thead class="user-table-head">
    <tr>
      <th>Case(s)</th>
      <th>Owner</th>
      <th>Task</th>
      <th>Due Date</th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= task.row_color%>" id="<%= task.id %>">
        <td class="doc-link"><%= task.try(:case).try(:name) %></td>
        <td><%= task.try(:owner).try(:name) %></td>
        <td>
          <div class="larger-td"><%= link_to(task.name, task_path(task)) %></div>
        </td>
        <td><%= simple_format_date task.try(:due_date) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render :partial => "index_javascript" %>
