
<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to tasks_path,  :class => 'dark' do %><span id="back" title="Back to Tasks" class="glyphicon glyphicon-arrow-left"></span> <% end %></td>
      <td>
      </td>
      <td>
      </td>
      <td><%= link_to @task, :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a note will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Task"></span> <% end %>
       <%= link_to "",  :class => 'dark-right' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %>
      <%= link_to 'Edit', edit_task_path(@task), :class => 'dark' %></td>
    </tr>
    <tbody>
  </table>
</div>


<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
     <strong>Task</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
            <strong>Task:</strong>
        </td>
        <td colspan="2">
            <%= @task.name %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Case(s):</strong>
        </td>
        <td colspan="2" class="doc-link">
          <%= link_to @task.case.name,  case_path(@task.case) if @task.case.present? %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Owner:</strong>
        </td>
        <td colspan="2">
          <%= @task.try(:owner).try(:name) %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Second Owner:</strong>
        </td>
        <td colspan="2">
          <%= @task.try(:secondary_owner).try(:name) %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Due date:</strong>
        </td>
        <td colspan="2">
            <%= @task.due_date.try(:strftime, "%b %e, %Y") %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Estimated Time to Complete (hours):</strong>
        </td>
        <td>
          <%= @task.estimated_time %>
        </td>
        <td>
          <%= @task.estimated_time_unit %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Completed:</strong>
        </td>
        <td colspan="2">
          <%= @task.completed.try(:strftime, "%b %e, %Y") %>
        </td>
      </tr>
        <tr>
        <!-- <td class="right">
          <strong>Sms reminder:</strong>
        </td>
        <td colspan="2">
          <%= best_in_place @task, :sms_reminder, :as => :checkbox, :class => 'edit' %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Email reminder:</strong>
        </td>
        <td colspan="2">
          <%= @task.email_reminder %>
        </td>
      </tr> -->
       <tr>
        <td class="right big-row">
          <strong>Description:</strong>
        </td>
        <td colspan="2" class="big-row">
          <%= @task.description  %>
        </td>
      </tr>
      <% if @task.event.present? %>
      <tr>
        <td class="right">
          <strong>Calendar Event:</strong>
        </td>
        <td colspan="2">
          <%= "#{@task.try(:event).try(:subject)} dd #{@task.try(:event).try(:start).try(:strftime, "%b %e, %Y")}" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'n', fade: true});
    $('#delete').tipsy({gravity: 'ne', fade: true});
    $('#back').tipsy({gravity: 'n', fade: true});
  });
</script>


