
<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to tasks_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %></td>
      <td>
      </td>
      <td>
      </td>
      <td><%= link_to @task, :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a note will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></i> <% end %>
      <%= link_to 'Edit', edit_task_path(@task), :class => 'dark' %></td>
    </tr>
    <tbody>
  </table>
</div>


<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
     <strong>Task</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
            <strong>Task:</strong>
        </td>
        <td colspan="2">
            <%= @task.name %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Case(s):</strong>
        </td>
        <td colspan="2">
          <%= @task.cases.map {|c| c.name}.join(', ') %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Owner:</strong>
        </td>
        <td colspan="2">
          <%= @task.owner.name if @task.owner %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Due date:</strong>
        </td>
        <td colspan="2">
          <%= @task.due_date %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Completed:</strong>
        </td>
        <td colspan="2">
          <%= @task.completed  %>
        </td>
      </tr>
        <tr>
        <!-- <td class="right">
          <strong>Sms reminder:</strong>
        </td>
        <td colspan="2">
          <%= best_in_place @task, :sms_reminder, :as => :checkbox, :class => 'edit' %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Email reminder:</strong>
        </td>
        <td colspan="2">
          <%= @task.email_reminder %>
        </td>
      </tr> -->
       <tr>
        <td class="right big-row">
          <strong>Description:</strong>
        </td>
        <td colspan="2" class="big-row">
          <%= @task.description  %>
        </td>
      </tr>
        
  </tbody>
</table>


<script>
     $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
     });
</script>


