<%= simple_form_for(@template) do |f| %>
  <%= f.error_notification %>

  <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'templates') %>
    <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h2>New Template</h2>
        </div>
        <div class="modal-body">
  <% end %>

  <table class="case-form template-form table-condensed">
    <tbody>
    <tr>
      <td>
        <strong>Name:</strong>
      </td>
      <td>
        <%= f.input :name, label: false, :class => 'table-input'%>
      </td>
    </tr>
    <tr>
      <td>
        <strong>File:</strong>
      </td>
      <td>
        <%= f.input :file, as: :file, label: false, input_html: { :class => 'table-input-file' } %>
        <em style="font-size: 12px;">Document must be a .docx file</em>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Description:</strong>
      </td>
      <td>
        <%= f.text_field :description, label: false, :class => 'table-input' %>
      </td>
    </tr>
    </tbody>
  </table>

  <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'templates') %>
    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class =>"sub2-small" %>
  </div>

  <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'templates') %>
    </div><!--end of modal-footer-->
    </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  <% end %>

<% end %>
<script>
  $(document).ready(function() { $("td select").select2(); });
</script>
