<%= simple_form_for(@template) do |f| %>
  <%= f.error_notification %>
   <div id="template-buttons">
              <ul>
                  <li><%= link_to @template, :class => 'trash-icon', method: :delete, data: { confirm: 'WARNING! Deleting a document will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Template"></span> <% end %></li>
                  <li><%= f.submit :class => 'sub2-small', :value => 'Finished' %></li>
              </ul>
  </div>

  <div style="width:100%; margin-bottom: 20px;">
      <h3>Template Name</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                	<%= f.input :name, label: false, :class => 'table-input'%>
            </div>
          <div class="col-md-4">
          </div>
          </div>
        </div>
            <div class="form-group">
                     <strong>Author:</strong> <%= @template.user.name %>
            </div>
            <div class="form-group">
                  <strong>Creation Date:</strong> <%= @template.created_at.strftime("%m/%d/%y %I:%M %p")%>
            </div>
            <div class="form-group">
                  <strong>Word Template:</strong> 
                      <% if @template.file %>
                            <%= link_to @template.file.file.filename, @template.file_url, :id => 'add-action' %>
                      <% end %>
            </div>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <strong>Document Descrition:</strong> <%= f.text_area :description, label: false, :class => 'table-input'%>
                </div>
            </div>
                   <div class="col-md-8" style="margin-top: 0;">
                      <div class="temp_buttons" id="buttons">
                          <a href="#" id="cancel_selection">Clear All</a>
                          <a href="#" class="action-button" id="save_template_html">Save</a>
                      </div>
                  </div>
          </div>
  </div>

<% end %>
<div class="template_block">
      <div class="row">
                  <div class="col-md-4">
                        <div class="template_var_list"  id="accord-menu">
                                <div id="accordion" class="accordion-list">
                                            <% ActiveRecord::Base::Template::FIELDS_LIST.each do |hash| %>
                                            <h3><%= hash[:name] %></h3>
                                    <ul>
                                          <% hash[:attrs].each do |attr| %>
                                            <li data-model="<%= attr[:model] %>" data-attr="<%= attr[:attr] %>"><%= attr[:name] %></li>
                                          <% end %>
                                    </ul>
                                  <% end %>
                                </div>
                                
                        </div>
            
                  </div>
                  <div class="col-md-8">
                        <div class="template_html"><%= raw @template.html_content %></div>
                  </div>
      </div> <!-- row end -->
</div>
<script type='text/javascript'>
  $(document).ready(function() {
    var selected = false;
    $( "#accordion" ).accordion();
    $('#back').tipsy({gravity: 'n', fade: true});
    $('.template_html').on('mouseup', function(e){
      if($(e.target).attr('class') != 'selection'){
        var sel = window.getSelection ? window.getSelection() : document.selection.createRange();
        var offset = sel.getRangeAt(0).endOffset - sel.getRangeAt(0).startOffset
        if(sel.getRangeAt && offset != 0){
          var range = sel.getRangeAt(0);
          var newNode = document.createElement("span");
          newNode.setAttribute('class', 'selection');
          sel.removeAllRanges();
          range.surroundContents(newNode);
          selected = true;
        }
      } else {
        $(e.target).contents().unwrap('span');
        selected = false;
      }
    });
    
    $('.template_html .insertion').click(function (e) {
      $(e.target).contents().unwrap('span');
    });
    
    $('#accordion ul li').click(function (e) {
      if(selected){
        var model = $(this).attr('data-model');
        var attr = $(this).attr('data-attr');
        var selection = $('.selection');
        selection.attr('data-model', model).attr('data-attr', attr);
        selection.html($(this).html()).toggleClass('selection insertion');
      }
    });
    $('#save_template_html').click(function (e) {
      e.preventDefault();
      $.ajax({
            url: "/templates/update_html/<%= @template.id %>",
            type: 'PATCH',
            dataType: "json",
            data: {template: {html_content: $('.template_html').html()}},
            success: function(data){
              $('.alert').remove();
              $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
              setTimeout(function() {$('.alert-success').fadeOut();}, 2000);
            }
          });
    });
    $('#cancel_selection').click(function (e) {
      e.preventDefault();
      $('.template_html').html('<%= @template.html_content.html_safe %>');
    });
  });
</script>
<script type='text/javascript'>
  $(function() {
    $('#delete').tipsy({gravity: 'n', fade: true});
  });
</script>
<script type="text/javascript">
    $(function() {
    // Stick the #nav to the top of the window
    var nav = $('#accord-menu');
    var btn = $('#buttons');
    var btnHomeY = btn.offset().top;
    var navHomeY = nav.offset().top;
    var isFixed = false;
    var $w = $(window);
    $w.scroll(function() {
        var scrollTop = $w.scrollTop();
        var shouldBeFixed = scrollTop > navHomeY - 70;
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: 70,
                left: nav.offset().left,
                width: nav.width(),
            });
            btn.css({
                position: 'fixed',
                top: 64,
                left: btn.offset().left,
                width: btn.width(),
                'padding-top' : '17px',
                'background-color' : '#fff',
                '-webkit-box-shadow' : '4px 5px 28px -13px rgba(0,0,0,0.75)',
                '-moz-box-shadow' : '4px 5px 28px -13px rgba(0,0,0,0.75)',
                'box-shadow' : '4px 5px 28px -13px rgba(0,0,0,0.75)',
                'border' : '1px solid #E8ECF1',
            });
            isFixed = true;
        }
        else if (!shouldBeFixed && isFixed)
        {
            nav.css({
                position: 'static'
            });
            btn.css({
                position: 'static',
                'box-shadow' : 'none',
                'background-color' : 'transparent',
                'border' : 'none',
                'padding-top' : '45px',
            });
            isFixed = false;
        }
    });
});
</script>
