<%= simple_form_for(@template) do |f| %>
  <%= f.error_notification %>
   <div id="temp-custom">
              <ul>
                    <li><%= link_to templates_path, :class => 'dark' do %>
                            <span id="temp" class="glyphicon glyphicon-arrow-left" title="Back to Templates"></span>
                        <% end %></li>
                  <li><%= link_to @template, :class => 'trash-icon', method: :delete, data: { confirm: 'WARNING! Deleting a document will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Template"></span> <% end %></li>
                  <li><%= f.submit :class => 'sub2-small', :id => 'finished', :value => 'Finished' %></li>
              </ul>
  </div>

  <div style="width:100%; margin-bottom: 20px;">
      <h3>Template Name</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                	<%= f.input :name, label: false, :class => 'table-input'%>
            </div>
          <div class="col-md-4">
          </div>
          </div>
        </div>
            <div class="form-group">
                     <strong>Author:</strong> <%= @template.user.name %>
            </div>
            <div class="form-group">
                  <strong>Creation Date:</strong> <%= simple_format_datetime_slash_regexp @template.created_at %>
            </div>
            <div class="form-group">
                  <strong>Word Template:</strong> 
                      <% if @template.file %>
                            <%= link_to @template.file.file.filename, @template.file_url, :id => 'add-action' %>
                      <% end %>
            </div>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <strong>Document Description:</strong> <%= f.text_area :description, label: false, :class => 'table-input'%>
                </div>
                <span id="help1" title="Choose a data field to replace highlighted text with data during doc creation" style="cursor: pointer; margin-right: 10px;" class="glyphicon glyphicon-info-sign pull-left"></span>
            </div>
                   <div class="col-md-8" style="margin-top: 0;">
                      <div class="temp_buttons" id="buttons">
                          <a href="#" id="cancel_selection">Clear All</a>
                          <a href="#" class="action-button" id="save_template_html">Save</a>
                          <span id="help" title="Highlight words to replace with data fields from the list" style="cursor: pointer; margin-right: 10px;" class="glyphicon glyphicon-info-sign pull-right"></span>
                      </div>
                  </div>
          </div>
  </div>

<% end %>
<div class="template_block">
      <div class="row">
                  <div class="col-md-4">
                        <div class="template_var_list"  id="accord-menu">
                                <div id="accordion" class="accordion-list">
                                            <% ActiveRecord::Base::Template::FIELDS_LIST.each do |hash| %>
                                            <h3><%= hash[:name] %></h3>
                                    <ul>
                                          <% hash[:attrs].each do |attr| %>
                                            <li data-model="<%= attr[:model] %>" data-attr="<%= attr[:attr] %>"><%= attr[:name] %></li>
                                          <% end %>
                                    </ul>
                                  <% end %>
                                </div>
                                
                        </div>
            
                  </div>
                  <div class="col-md-8">
                        <div class="template_html"><%= raw @template.html_content %></div>
                  </div>
      </div> <!-- row end -->
</div>
<%= render :partial => "templates_edit_javascript" %>