<div class="template-model">
  <%= label_tag :case, 'Select Case' %> <br/>
  <%= select_tag :case, options_for_select(@firm.cases.pluck(:name, :id)), :prompt => "Select a case" %> <br/>
  <%= label_tag :addressee, 'Addressee' %>  <br/>
  <%= select_tag :addressee, options_for_select(@firm.contacts.select(:first_name, :last_name, :email, :id).map {|contact| [contact.first_name.present? ? "#{contact.first_name} #{contact.last_name}" : contact.email, contact.id] }), :prompt => "Add Addressee"  %><br/>
  <%= label_tag :template_name, 'Name' %> <br/>
  <%= text_field_tag :template_name %>
</div>
<div>
  <%= link_to 'Preview DOCX', '#', id: 'preview_docx', class: 'action-button' %>
  <%= link_to 'Create DOCX', '#', id: 'create_docx', class: 'action-button' %>
</div>
<div class="template_block">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="template_html_show"><%= raw @html %></div>
    </div>
    <div class="col-md-1"></div>
  </div> <!-- row end -->
</div>
<script>
  $(document).ready(function () {
    $('.template-model select, .template_html_show select').select2({ width: 'resolve' });
    $('#input_date').datepicker();
    $('#case').change(function (e) {
      var case_id = $(this).val();
      var case_attrs = [];
      var lead_attrs = [];
      if (case_id == '') {
        $('.insertion[data-model="Case"], .insertion[data-model="Lead"]').each(function () {
          var field = $(this);
          field.text(field.data('name'))
        });
      } else {
        $('.insertion[data-model="Case"], .insertion[data-model="Lead"]').each(function () {
          var model = $(this).data('model');
          var attr = $(this).data('attr');
          if (model == 'Case') {
            case_attrs.push(attr);
          } else if (model == 'Lead') {
            lead_attrs.push(attr);
          }
        });

        $.ajax({
          url: "/templates_get_case",
          type: 'POST',
          dataType: "json",
          data: {case_attrs: case_attrs, lead_attrs: lead_attrs, id: case_id},
          success: function (data) {
            $.each(data.case_attrs_values, function (attr, val) {
              $('.insertion[data-model="Case"][data-attr="' + attr + '"]').html(val);
            });
            $.each(data.lead_attrs_values, function (attr, val) {
              $('.insertion[data-model="Lead"][data-attr="' + attr + '"]').html(val);
            });
            $('.insertion[data-model="Contact"]').each(function () {
              var attr = $(this).data('attr');
              var select = $(this).find('select.custom_input');
              var options = $(this).find('select.custom_input option:gt(0)');
              options.remove();
              $.each(data.contacts, function (i, hash) {
                select.append($("<option></option>").attr("value", hash[attr] ? hash[attr] : '').text(hash['name']));
              });
            });
            $('.template_html_show select').select2({width: 'resolve'});
          }
        });
      }
    });
    $('#addressee').change(function (e) {
      var addressee_id = $(this).val();
      var addressee_attrs = [];
      if (addressee_id == '') {
        $('.insertion[data-model="Addressee"]').each(function () {
          var addressee_field = $(this);
          addressee_field.text(addressee_field.data('name'))
        });
      } else {
        $('.insertion[data-model="Addressee"]').each(function () {
          var attr = $(this).data('attr');
          addressee_attrs.push(attr);
        });

        if (addressee_attrs.length){
          $.ajax({
            url: "/templates_get_addressee",
            type: 'POST',
            dataType: "json",
            data: {addressee_attrs: addressee_attrs, id: addressee_id},
            success: function(data){
              console.log(data.addressee_attrs_values);
              $.each(data.addressee_attrs_values, function (attr, val) {
                $('.insertion[data-model="Addressee"][data-attr="'+attr+'"]').html(val);
              });
            }
          });
        }
      }

    });
    $('.custom_input').change(function (e) {
      var val = $(this).val();
      $(this).parent().find('ins').html(val);
      $(this).parent().addClass('green');
      if(val != '') {
        $(this).parent().find('.select2-container').hide();
      }
    });

    $('ins').click(function(e){
      $(this).parent().find('.select2-container').show();
    });

    $('#create_docx').click(function (e) {
      e.preventDefault();
      var html = $('.template_html_show').clone();
      html.find("select").remove();
      html.find(".custom_input").remove();
      html.find('.insertion').removeClass();
      $.ajax({
            url: "/templates_generate_docx",
            type: 'POST',
            dataType: "json",
            data: {id: <%= @template.id %>, html: html[0].innerHTML, name: $('#template_name').val()},
            success: function(data){
              var id = data.id;
              window.location.href = '/download_docx/'+id+'.docx';
            }
          });
    });
    var preview = false;
    $('#preview_docx').click(function (e) {
      e.preventDefault();
      preview = !preview;
      if (preview) {
        $('.template_html_show .custom_input').hide();
        $(this).text('Edit');
      } else {
        $('.template_html_show .custom_input').show();
        $(this).text('Preview DOCX');
      }
      $('.template-model').toggle();
      $('.template_html_show .insertion').toggleClass('white');
    })
  });
</script>