<div id="show-buttons">
  <ul>
    <div id="temp-custom">
      <ul>
        <li><%= link_to @template, :class => 'dark' do %>
            <span id="temp" class="glyphicon glyphicon-arrow-left pull-right" title="Back to Template"></span>
          <% end %></li>
        <li><%= link_to 'Preview', '#', id: 'preview_docx', class: 'dark' %></li>
        <li class="dropdown">
          <%= link_to "", class: 'dropdown-toggle action-button', id: 'generate_doc', data: {toggle: "dropdown"} do %>
            GENERATE DOCUMENT
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
            <li><%= link_to "Download", '#', id: 'create_docx' %></li>
            <li><%= link_to 'Save to App', '', id: 'save_to_app' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </ul>
</div> <!-- case buttons div -->

<div class="template-model">
  <div class="row">
    <div class="col-md-6">
      <h3>Document Name
        <span id="name" title="This will be the name of the file" style="cursor: pointer; font-size: 12px;" class="glyphicon glyphicon-question-sign"></span>
      </h3>

      <div class="form-group">

        <%= text_field_tag :template_name, '', :class => 'table-input', :placeholder => 'If name is blank, doc will take template name' %>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :case, 'Select Case' %>
        <span id="cs-sel" title="This will restrict options to only the selected case" style="cursor: pointer; font-size: 12px;" class="glyphicon glyphicon-question-sign"></span><br/>
        <%= select_tag :case, options_for_select(@firm.cases.pluck(:name, :id)), :prompt => "Select a case", :class => 'table-input' %>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :addressee, 'Addressee' %>
        <span id="addy" title="This will populate any addressee fields" style="cursor: pointer; font-size: 12px;" class="glyphicon glyphicon-question-sign"></span>
        <br/>
        <%= select_tag :addressee, options_for_select(@firm.contacts.select(:first_name, :last_name, :email, :company_name, :id).map { |contact| [contact.name_with_company, contact.id] }), :prompt => "Add Addressee", :class => 'table-input' %>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="instructions">
        <ul>
          <li>If you do not wish to use a field (e.g. Company in the address), simply leave it blank and it will be
            ignored
          </li>
          <li>After clicking 'Generate Document' your document will downloaded and located in your Downloads folder</li>
          <li>Paragraphs are preserved in the final Word document but may look different when viewing them in the
            browser
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>




<div class="template_block" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">
      <div class="template_html_show"><%= raw @html %></div>
    </div>
    <div class="col-md-1 col-lg-2"></div>
  </div>
  <!-- row end -->
</div>
<script>
  $(document).ready(function () {
    $('.template-model select, .template_html_show select').select2({width: 'resolve'});
    $('#input_date').datepicker();
    $('#case').change(function (e) {
      var case_id = $(this).val();
      var case_attrs = [];
      var lead_attrs = [];
      if (case_id == '') {
        $('.insertion[data-model="Case"], .insertion[data-model="Lead"]').each(function () {
          var field = $(this);
          field.text(field.data('name'))
        });
      } else {
        $('.insertion[data-model="Case"], .insertion[data-model="Lead"]').each(function () {
          var model = $(this).data('model');
          var attr = $(this).data('attr');
          if (model == 'Case') {
            case_attrs.push(attr);
          } else if (model == 'Lead') {
            lead_attrs.push(attr);
          }
        });

        $.ajax({
          url: "/templates_get_case",
          type: 'POST',
          dataType: "json",
          data: {case_attrs: case_attrs, lead_attrs: lead_attrs, id: case_id},
          success: function (data) {
            $.each(data.case_attrs_values, function (attr, val) {
              $('.insertion[data-model="Case"][data-attr="' + attr + '"]').html(val);
            });
            $.each(data.lead_attrs_values, function (attr, val) {
              $('.insertion[data-model="Lead"][data-attr="' + attr + '"]').html(val);
            });
            $('.insertion[data-model="Contact"]').each(function () {
              var attr = $(this).data('attr');
              var select = $(this).find('select.custom_input');
              var options = $(this).find('select.custom_input option:gt(0)');
              options.remove();
              $.each(data.contacts, function (i, hash) {
                select.append($("<option></option>").attr("value", hash[attr] ? hash[attr] : '').text(hash['name']));
              });
            });
            $('.template_html_show select').select2({width: 'resolve'});
          }
        });
      }
    });
    $('#addressee').change(function (e) {
      var addressee_id = $(this).val();
      var addressee_attrs = [];
      if (addressee_id == '') {
        $('.insertion[data-model="Addressee"]').each(function () {
          var addressee_field = $(this);
          addressee_field.text(addressee_field.data('name'))
        });
      } else {
        $('.insertion[data-model="Addressee"]').each(function () {
          var attr = $(this).data('attr');
          addressee_attrs.push(attr);
        });

        if (addressee_attrs.length) {
          $.ajax({
            url: "/templates_get_addressee",
            type: 'POST',
            dataType: "json",
            data: {addressee_attrs: addressee_attrs, id: addressee_id},
            success: function (data) {
              console.log(data.addressee_attrs_values);
              $.each(data.addressee_attrs_values, function (attr, val) {
                $('.insertion[data-model="Addressee"][data-attr="' + attr + '"]').html(val);
              });
            }
          });
        }
      }

    });
    $('.custom_input').change(function (e) {
      var val = $(this).val();
      $(this).parent().find('ins').html(val);
      $(this).parent().addClass('green');
      if (val != '') {
        $(this).parent().find('.select2-container').hide();
      }
    });

    $('ins').click(function (e) {
      $(this).parent().find('.select2-container').show();
    });

    $('#create_docx').click(function (e) {
      e.preventDefault();
      var html = $('.template_html_show').clone();
      html.find("select").remove();
      html.find(".custom_input").remove();
      html.find('.insertion').removeClass();
      $.ajax({
        url: "/templates_generate_docx",
        type: 'POST',
        dataType: "json",
        data: {id: <%= @template.id %>, html: html[0].innerHTML, name: $('#template_name').val()},
        success: function (data) {
          var id = data.id;
          window.location.href = '/download_docx/' + id + '.docx';
        }
      });
    });

    $('#save_to_app').click(function (e) {
      e.preventDefault();
      var html = $('.template_html_show').clone();
      html.find("select").remove();
      html.find(".custom_input").remove();
      html.find('.insertion').removeClass();
      $.ajax({
        url: "/upload_docx",
        type: 'POST',
        dataType: "json",
        data: {id: <%= @template.id %>, html: html[0].innerHTML, name: $('#template_name').val()},
        success: function (data) {
          window.location.href = data.href;
        }
      });
    });
    var preview = false;
    $('#preview_docx').click(function (e) {
      e.preventDefault();
      preview = !preview;
      if (preview) {
        $('.template_html_show .custom_input').hide();
        $(this).text('Edit');
      } else {
        $('.template_html_show .custom_input').show();
        $(this).text('Preview');
      }
      $('.template-model').toggle();
      $('.template_html_show .insertion').toggleClass('white');
    })
  });
</script>
<script type='text/javascript'>
  $(function () {
    $('#name').tipsy({gravity: 's', fade: true});
    $('#cs-sel').tipsy({gravity: 's', fade: true});
    $('#addy').tipsy({gravity: 's', fade: true});
    $('#temp').tipsy({gravity: 'n', fade: true});
  });
</script>