<div class="case-header">
      <div class="case-title">
          <div style="font-size: 24px;">
                <strong>Templates</strong>
          </div>
                <div id="case-buttons">
                      <ul>
                            <li><%= render 'new_button' %></li>
                      </ul>
                </div>
      </div>
                <strong style="color: white;">A</strong>

          <div class="container-fluid" style="padding: 0;">
                <div class="row">
                      <div class="col-md-12">
                                <%= render 'shared/doc_tabs' %>
                      </div>
                </div>
          </div>
  </div>
  <div class="incase-tabs-gap">
  </div>
  <div style="margin-top: 70px;">
  <h3>Firm Templates</h3>
  </div>
<div class="table-responsive">
  <table id="templates" class="table table-striped">
    <thead class="user-table-head">
    <tr>
      <th>Template Name</th>
      <th>Description</th>
      <th>Uploaded By</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><div class="larger-td"><%= template.name %></div></td>
        <td><%= template.description%></td>
        <td><%= template.user.try(:name)%></td>
        <td><%= link_to template_path(template),  :class => 'dark-small' do %><span data-tip="View" class="glyphicon glyphicon-eye-open tip"></span> <% end %></td>
        <td><%= link_to edit_template_path(template),  :class => 'dark-small' do %><span data-tip="Edit" class="glyphicon glyphicon-pencil tip"></span> <% end %></td>
        <td><%= link_to  template,  method: :delete, data: { confirm: 'Are you sure you want to delete this template?' }, :class => 'dark-small' do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></span><% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#new_modal').click(function(event){
      $("#modal-window").html("<%= escape_javascript(render 'templates/form') %>");
    });
    var templates_table = $('#templates').dataTable({
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search or Filter",
        lengthMenu: "View _MENU_"
      },
      sDom: 'Rfrtlip'
    });
    <% if @template.errors.present? %>
      var error_text = '<%= @template.errors.full_messages.join('. ') %>';
    $('.alert').remove();
    $('body').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + error_text + "</div>");
    setTimeout(function() {$('.alert').fadeOut();}, 2000);
    <% end %>
  });
</script>