<div class="text-center">
  <table id="info-table4">
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to request.referrer,  :class => 'dark' do %><span id="back" title="Back" class="glyphicon glyphicon-arrow-left"></span> <% end %>
      </td>
      <td><%= link_to @template, :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a document will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Document"></span> <% end %>
        <%= link_to 'Edit', edit_template_path(@template), :class => 'dark' %></td>
    </tr>
    </tbody>
  </table>
</div>

<div style="width:500px; margin-bottom: 30px;">
  <h3><%= @template.name %></h3>      
        <div class="form-group">
            
        </div>
   <div class="form-group">
           <strong>Author:</strong> <%= @template.user.name %>
  </div>
    <div class="form-group">
          <strong>Creation Date:</strong> <%= @template.created_at.strftime("%m/%d/%y %I:%M %p")%>
    </div>
    <div class="form-group">
          <strong>Word Template:</strong> 
              <% if @template.file %>
                    <%= link_to @template.file.file.filename, @template.file_url, :id => 'add-action' %>
              <% end %>
    </div>
      <div class="form-group">
          <strong>Document Description:</strong> <%= @template.description %>
    </div>
</div>

<div class="template_block">
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
              <div class="template_html_show"><%= raw @template.html_content %></div>
        </div>
        <div class="col-md-1"></div>
</div> <!-- row end -->
</div>
<script type='text/javascript'>
  $(document).ready(function() {
    var selected = false;
    $( "#accordion" ).accordion();
    $('#back').tipsy({gravity: 'n', fade: true});
    $('.template_html').on('mouseup', function(e){
      if($(e.target).attr('class') != 'selection'){
        var sel = window.getSelection ? window.getSelection() : document.selection.createRange();
        var offset = sel.getRangeAt(0).endOffset - sel.getRangeAt(0).startOffset
        if(sel.getRangeAt && offset != 0){
          var range = sel.getRangeAt(0);
          var newNode = document.createElement("span");
          newNode.setAttribute('class', 'selection');
          sel.removeAllRanges();
          range.surroundContents(newNode);
          selected = true;
        }
      } else {
        $(e.target).contents().unwrap('span');
        selected = false;
      }
    });
    $('#accordion ul li').click(function (e) {
      var val = $(this).attr('data-val');
      console.log(val);
      if(selected){
        $('.selection').html(val).toggleClass('selection insertion');
      }
    });
    $('#save_template_html').click(function (e) {
      e.preventDefault();
      $.ajax({
            url: "/templates/update_html/<%= @template.id %>",
            type: 'PATCH',
            dataType: "json",
            data: {template: {html_content: $('.template_html').html()}},
            success: function(data){
              $('.alert').remove();
              $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
              setTimeout(function() {$('.alert-success').fadeOut();}, 2000);
            }
          });
    });
    $('#cancel_selection').click(function (e) {
      e.preventDefault();
      $('.template_html').html('<%= raw @template.html_content %>');
    });
  });

</script>
