<%= simple_form_for([@case, @incident]) do |f| %>


<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Cancel', [@case, @incident], :class => 'dark' %></li>
                  <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Incident Summary</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
        <strong>Date of Incident:</strong>
        </td>
        <td>
        <%= f.date_field :incident_date, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Defendant Liability:</strong>
        </td>
        <td>
        <%= f.text_field :defendant_liability, :value => '100', :class => 'table-input-small', label: false %>%
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Property Damage ($):</strong>
        </td>
        <td>
          <%= f.text_field :property_damage, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Speed of Bullet Car:</strong>
        </td>
        <td>
          <%= f.text_field :speed, :class => 'table-input-small' %> m.p.h.
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Alcohol Involved?:</strong>
        </td>
        <td>
          <div class='radio'>
              <%= f.radio_button :alcohol_involved, 'true' %> 
  		        <%= label :alcohol_involved, 'Yes', :value => 'Yes' %>
          </div>
          <div class='radio'>
  		      <%= f.radio_button :alcohol_involved, 'false' %>
  		      <%= f.label :alcohol_involved, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Weather a factor:</strong>
        </td>
        <td>
          <div class='radio'>
            <%= f.radio_button :weather_factor, 'true' %> 
  		      <%= label :weather_factor, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
  		      <%= f.radio_button :weather_factor, 'false' %>
  		      <%= f.label :weather_factor, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
       
      <tr>
        <td class="right">
          <strong>Airbag Deployed:</strong>
        </td>
        <td>
          <div class='radio'>
            <%= f.radio_button :airbag_deployed, 'true' %> 
  		      <%= label :airbag_deployed, 'Yes', :value => 'Yes' %>
          </div>
          <div class='radio'>
  		      <%= f.radio_button :airbag_deployed, 'false' %>
  		      <%= f.label :airbag_deployed, 'No', :value => 'No'%>
          </div>
        </td>
      </tr>
          
         <tr>
        <td class="right">
          <strong>Police Report:</strong>
        </td>
        <td>
          <div class='radio'>
              <%= f.radio_button :police_report, 'true' %> 
  		        <%= label :police_report, 'Yes', :value => 'Yes' %>
          </div>
          <div class='radio'>
  		        <%= f.radio_button :police_report, 'false' %>
  		        <%= f.label :police_report, 'No', :value => 'No'%>
          </div>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Towed:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= f.radio_button :towed, 'true' %> 
  		          <%= label :towed, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
  		          <%= f.radio_button :towed, 'false' %>
  		          <%= f.label :towed, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
  </tbody>
</table>
</div>

<% end %>




<script>
   $(document).ready(function() { $("select").select2(); });
   $('.tip').tipr({
    'speed': 500,
    'mode': 'top'
   });
</script>

