<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Edit', edit_case_incident_path(@case, @incident), :class => 'dark' %></li>
                  <!-- <li><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %></li> -->
                  <li><%= link_to '',  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Incident Summary</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
        <strong>Date of Incident:</strong>
        </td>
        <td>
        <%= simple_format_date_regexp @incident.incident_date if @incident.incident_date.present? %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
        <strong>Location of Incident:</strong>
        </td>
        <td>
        <%= @incident.location %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Defendant Liability:</strong>
        </td>
        <td>
          <%= @incident.defendant_liability %>%
        </td>
      </tr>
      <% if @case.subtype == 'Motor Vehicle' %>
       <tr>
        <td class="right">
          <strong>Property Damage ($):</strong>
        </td>
        <td>
          <%= number_to_currency(@incident.property_damage, precision: 2) %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Speed of Bullet Car:</strong>
        </td>
        <td>
          <%= @incident.speed %> m.p.h.
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Alcohol Involved?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.alcohol_involved  %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Weather a factor?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.weather_factor %>
        </td>
      </tr>
       
      <tr>
        <td class="right">
          <strong>Airbag Deployed?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.airbag_deployed %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Is there a Police Report?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.police_report %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Police Report Number:</strong>
        </td>
        <td>
          <%= @incident.police_report_number %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Vehicle towed from scene?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.towed %>
        </td>
      </tr>
      <% elsif @case.subtype == 'Medical Malpractice' %>
        <tr>
        <td class="right">
        <strong>Discovery Date:</strong>
        </td>
        <td>
            <%= simple_format_date_regexp @incident.discovery_date if @incident.discovery_date.present? %>
        </td>
      </tr>
      <tr>
        <td class="right">
        <strong>Date of final treatment with negligent provider:</strong>
        </td>
        <td>
             <%= simple_format_date_regexp @incident.final_treatment_date if @incident.final_treatment_date.present? %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Notice of Suit given within 1 year of Injury?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.notice %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Involves Insertion of Foreign Object</strong>
        </td>
        <td>
          <%= boolean_as_yesno @incident.foreign_object %>
        </td>
      </tr>
      <% elsif @case.subtype == 'Product Liability' %>
        <tr>
        <td class="right">
          <strong>Date product first sold</strong>
        </td>
        <td>
          <%= simple_format_date_regexp @incident.first_sold_date if @incident.first_sold_date.present? %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'ne', fade: true});
  });
</script>