<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Incident</li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<p>
  <strong>Incident date:</strong>
  <%= @incident.incident_date %>
</p>

<p>
  <strong>Statute of limitations:</strong>
  <%= @incident.statute_of_limitations %>
</p>

<p>
  <strong>Defendant Liability:</strong>
  <%= @incident.defendant_liability %>%
</p>

<p>
  <strong>Alcohol Involved?:</strong>
  <%= boolean_as_yesno @incident.alcohol_involved  %>
</p>

<p>
  <strong>Weather a factor:</strong>
  <%= boolean_as_yesno @incident.weather_factor %>
</p>

<p>
  <strong>Property Damage:</strong>
  <%= number_to_currency(@incident.property_damage, precision: 0) %>
</p>

<p>
  <strong>Insurance Company:</strong>
  <%= @incident.insurance_provider %>
</p>

<p>
  <strong>Airbag Deployed:</strong>
  <%= boolean_as_yesno @incident.airbag_deployed %>
</p>

<p>
  <strong>Speed of Bullet Car:</strong>
  <%= @incident.speed %>
</p>

<p>
  <strong>Police Report:</strong>
  <%= @incident.police_report %>
</p>

<p>
  <strong>Towed:</strong>
  <%= @incident.towed %>
</p>

<div class="text-center link-pad">
<%= link_to 'Edit', edit_case_incident_path(@case, @incident), :class => 'dark' %> | 
<%= link_to 'Back to Cases', cases_path, :class => 'dark' %>
</div>