<h1>Listing witnesses</h1>

<table>
  <thead>
    <tr>
      <th>Witness type</th>
      <th>Witness subtype</th>
      <th>Witness doctype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @witnesses.each do |witness| %>
      <tr>
        <td><%= witness.witness_type %></td>
        <td><%= witness.witness_subtype %></td>
        <td><%= witness.witness_doctype %></td>
        <td><%= link_to 'Show', witness %></td>
        <td><%= link_to 'Edit', edit_witness_path(witness) %></td>
        <td><%= link_to 'Destroy', witness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Witness', new_witness_path %>
