<p id="notice"><%= notice %></p>

<p>
  <strong>Witness type:</strong>
  <%= @witness.witness_type %>
</p>

<p>
  <strong>Witness subtype:</strong>
  <%= @witness.witness_subtype %>
</p>

<p>
  <strong>Witness doctype:</strong>
  <%= @witness.witness_doctype %>
</p>

<%= link_to 'Edit', edit_witness_path(@witness) %> |
<%= link_to 'Back', witnesses_path %>
