
    <tr class="nested-fields insurance-field">
      <%= javascript_include_tag 'insurances/insurance_fields', 'data-turbolinks-track' => true %>
      <td>
          <%= f.association :company, :collection => @firm.companies, label: false, :class => 'table-input', :include_blank => '' %>
      </td>
      <td>
        <%= f.association :adjustor, :collection => @firm.contacts, label: false, :class => 'table-input', :include_blank => '' %>
      </td>
      <td>
          <%= f.text_field :insurance_type, :class => 'table-input' %>
      </td>
      <td>
          <%= f.association :policy_holder_contact, :collection => @firm.contacts, label: false, :class => 'table-input', :include_blank => '' %>
      </td>
      <td>
          <%= f.text_field :claim_number, :class => 'table-input' %>
      </td>
      <td>
          <%= f.text_field :policy_limit, :class => 'table-input' %>
      </td>
      <td>
          <%= f.text_field :amount_paid, :class => 'table-input' %>
      </td>      
    <td class="insurance-icon" style="text-align: center;">
      <%= link_to_remove_association f, class: 'dark-small remove_children' do %><span id="remove" class="glyphicon glyphicon-trash" original-title="Remove Insurance"></span><% end %>
    </td>
  </tr>

