
    <tr class="nested-fields insurance-field">
      <%= javascript_include_tag 'insurances/insurance_fields', 'data-turbolinks-track' => true %>
      <td class="select_contacts_insurance">
          <%= f.association :company, :collection => @firm.companies, label: false, :class => 'table-input', :include_blank => '' %>
      </td>
      <td>
        <%= f.association :adjustor, :collection => @firm.contacts, label: false, :class => 'table-input', :include_blank => '' %>
      </td>
      <td>
          <%= f.text_field :insurance_type, :class => 'table-input' %>
        <div id="popup_insurance"></div>
      </td>
      <td>
          <%= f.association :policy_holder_contact, :collection => @firm.contacts, label: false, :class => 'table-input', :include_blank => '' %>
      </td>
      <td>
          <%= f.text_field :claim_number, :class => 'table-input' %>
      </td>
      <td>
          <%= f.text_field :policy_limit, :class => 'table-input' %>
      </td>
      <td>
          <%= f.text_field :amount_paid, :class => 'table-input' %>
      </td>      
    <td class="insurance-icon" style="text-align: center;">
      <%= link_to_remove_association f, class: 'dark-small remove_children' do %><span id="remove" class="glyphicon glyphicon-trash" original-title="Remove Insurance"></span><% end %>
    </td>
  </tr>
    <script type="text/javascript">
        $(document).ready(function() {
            var self =  $("#popup_insurance");
            $(document).mousemove(function (e) {
                mX = e.pageX;
                mY = e.pageY;
            }).mouseover();
            $('select').select2()
              .on("change", function(e) { // When user select Value then change event fire
                 $('#popup_insurance').close();
              })
              .on("select2-highlight", function(e) { //when user mouse over or highlight value using keyboard navigation keys ("arrow keys")
                var p = 'P: ';
                var f = 'F: ';
                var idd = e.val.split(':')[0];
                $.ajax({
                  url: '/contacts/'+ idd,
                  type: 'GET',
                  dataType: 'json',
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                  },
                  success: function(data){
                  $('#popup_insurance').css({
                    'opacity': '0.1',
                    'top': mY-80,
                  }).animate({
                    'opacity': '1.0',
                  }, 300);
                  if(data.fax_number == null || data.fax_number == '') { data.fax_number = ''; f = '';} else {f = '<br>' + 'F: '}
                  if(data.phone_number == null || data.phone_number == '') { p = '';} else {p = '<br>' + 'P: '}
                  if(data.address == null) {data.address = '' ;}
                  $("#popup_insurance").html(data.first_name + ' ' + data.last_name + '<br>' +
                                             data.address + p + data.phone_number  +
                                             f + data.fax_number
                                            ).fadeIn( "slow").show();
                  setTimeout(function(){
                    $("#popup_insurance").hide();
                  }, 5000);/* do something meaningful with data */},
                  error: function(xhr, status, response) {/* your error callback */}
                });
              });
        });
    </script>