<%= simple_form_for([@case, @insurance]) do |f| %>
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Cancel', [@case, @insurance], :class => 'dark' %></li>
                  <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="5" class="gray-back">
      <strong>Insurance Summary</strong>
      <%= link_to root_path, :class => 'pull-right', :id => 'add-action', :title => 'Add Row' do %>Add Provider <span class="glyphicon glyphicon-plus" data-tip="Add Insurance"></span> <% end %>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
          <td class="right">
              <strong>Insurance Provider</strong>
          </td>
          <td class="right">
              <strong>Insurance Type</strong>
          </td>
          <td class="right">
              <strong>Policy Limit</strong>
          </td>
           <td class="right">
              <strong>Claim Number</strong>
          </td>
          <td class="right">
              <strong>Policy Holder</strong>
          </td>
      </tr>
      <tr>
          <td>
              <%= f.select :insurance_provider, Insurance::INSURANCE_PROVIDERS, :class => 'table-input', :include_blank => '' %>
          </td>
          <td>
              <%= f.text_field :insurance_type, :class => 'table-input' %>
          </td>
          <td>
              <%= f.text_field :policy_limit, :class => 'table-input' %>
          </td>
          <td>
              <%= f.text_field :claim_number, :class => 'table-input' %>
          </td>
          <td>
              <%= f.text_field :policy_holder, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
</div>
<% end %>