<%= simple_form_for([@case, @insurance]) do |f| %>
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Cancel', [@case, @insurance], :class => 'dark' %></li>
                  <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="insurance-edit-container">
 <%= link_to_add_association 'ADD INSURANCE', f, :children, :"data-association-insertion-node" => "tbody#children", :"data-association-insertion-method" => "append", :partial => "insurance_fields", class: 'action-button insure pull-right' %>
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="6" class="gray-back">
      <strong>Insurance Summary</strong>
    </td>
  </tr>
</thead>
<tfoot>
      <tr>
          <td colspan="4" style="text-align: left;">
              <strong>Total Policy Limits</strong>
          </td>
          <td style="text-align: right;">
              <strong><%= number_to_currency Insurance.total_policy_limit_amount(@case), precision: 0 %></strong>
          </td>
          <td>
          </td>
      </tr>
</tfoot>
  <tbody id="children">
      <tr>
          <td class="right">
              <strong>Insurance Provider</strong>
          </td>
          <td class="right">
              <strong>Insurance Type</strong>
          </td>
          <td class="right">
              <strong>Policy Holder</strong>
          </td>
           <td class="right">
              <strong>Claim Number</strong>
          </td>
          <td style="text-align: right;">
              <strong>Policy Limit</strong>
          </td>
          <td style="text-align: center;">
          </td>
      </tr>
      <%= f.simple_fields_for :children do |insurance| %>
        <%= render 'insurance_fields', :f => insurance %>
      <% end %>
  </tbody>
</table>
</div>
<% end %>