    <tr class="nested-fields insurance-field">
      <%= javascript_include_tag 'cases/case_contact_fields', 'data-turbolinks-track' => true %>
      <td class="select_contact">
          <%= f.association :contact, :collection => (@firm.contacts.select(:first_name, :last_name, :email, :company_name, :id).map { |contact| [contact.name_with_company, contact.id] }), :prompt => "Add Contact", :class => 'table-input', :label => false %>
      </td>
      <td>
          <div id="popup_case"></div>
          <%= f.input :role, collection: Contact::TYPES, :prompt => "Add Role", :class => 'table-input', :label => false %>
      </td>
      <td colspan="2">
          <%= f.text_field :note, :prompt => "Add Note", :class => 'table-input-75', :label => false %>
      
          <%= f.hidden_field :firm_id, :value => @firm.id %>
      
          <%= link_to_remove_association f, class: 'dark-small remove_case_contacts' do %><span id="remove" class="glyphicon glyphicon-remove pull-right" original-title="Remove Contact"></span><% end %>
      </td>
  </tr>

<script type="text/javascript">
  $(document).ready(function() {
    var self =  $("#popup_case");
    $(document).mousemove(function (e) {
      mX = e.pageX;
      mY = e.pageY;
    }).mouseover();
    $('select').select2()
    .on("change", function(e) { // When user select Value then change event fire
       $('#popup_case').close();
    })
    .on("select2-highlight", function(e) { //when user mouse over or highlight value using keyboard navigation keys ("arrow keys")
       var p = 'P: ';
       var f = 'F: ';
       var idd = e.val.split(':')[0];
       $.ajax({
         url: '/contacts/'+ idd,
         type: 'GET',
         dataType: 'json',
         beforeSend: function (xhr) {
           xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
         },
           success: function(data){
               $('#popup_case').css({
                   'opacity': '0.1',
                   'top': mY-80,
               }).animate({
                   'opacity': '1.0',
               }, 300);
               if(data.fax_number == null || data.fax_number == '') { data.fax_number = ''; f = '';} else {f = '<br>' + 'F: '}
               if(data.phone_number == null || data.phone_number == '') { p = '';} else {p = '<br>' + 'P: '}
               if(data.address == null) {data.address = '' ;}
               $("#popup_case").html(data.first_name + ' ' + data.last_name + '<br>' +
                       data.address + p + data.phone_number  +
                       f + data.fax_number
               ).fadeIn( "slow").show();
               setTimeout(function(){
                   $("#popup_case").hide();
               }, 5000);/* do something meaningful with data */},
         error: function(xhr, status, response) {/* your error callback */}
       });
    });
  });
</script>