    <tr class="nested-fields insurance-field">
      <%= javascript_include_tag 'cases/case_contact_fields', 'data-turbolinks-track' => true %>
      <td class="select_contact">
          <%= f.association :contact, :collection => (@firm.contacts.select(:first_name, :last_name, :email, :company_name, :id).map { |contact| [contact.name_with_company, contact.id] }), :prompt => "Add Contact", :class => 'table-input', :label => false %>
      </td>
      <td class="select_contact">
          <%= f.input :role, collection: Contact::TYPES, :prompt => "Add Role", :class => 'table-input', :label => false %>
      </td>
      <td colspan="2">
          <%= f.text_field :note, :prompt => "Add Note", :class => 'table-input-75', :label => false %>
      
          <%= f.hidden_field :firm_id, :value => @firm.id %>
      
          <%= link_to_remove_association f, class: 'dark-small remove_case_contacts' do %><span id="remove" class="glyphicon glyphicon-remove pull-right" original-title="Remove Contact"></span><% end %>
      </td>
  </tr>

<script type="text/javascript">
  $(document).ready(function() {
    var self =  $("#popup_case");
    $(".select_contact select").mouseover(function(){
       $(this).attr("size", 7);
    });
    $(".select_contact select").click(function(){
      $(this).attr("size", 1);
    });
    $(".select_contact select").mouseout(function(){
      $(this).attr("size", 1);
    });

    $("select option").hover(function (e)
      {
        var $target = $(e.target);
        if($target.is('option')){
         //contact_name = $target.text()
          var idd = $target.val().split(':')[0];
          $.ajax({
            url: '/contacts/'+ idd,
            type: 'GET',
            dataType: 'json',
            beforeSend: function (xhr) {
                           xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            },
            success: function(data){
              $("#popup_case").html(data.first_name + ' ' + data.last_name + '<br>' +
                      data.address + '<br>' + 'P: ' + data.phone_number + '<br>' +
                      'F: ' + data.fax_number
                                   ).fadeIn( "slow").show();/* do something meaningful with data */},/* do something meaningful with data */
            error: function(xhr, status, response) {/* your error callback */}
          });

        }
      },function ()
         {
          setTimeout(function () { $(self).fadeOut('slow'); }, 2000);
         });
 });
</script>