    <tr class="nested-fields insurance-field">
      <%= javascript_include_tag 'cases/case_contact_fields', 'data-turbolinks-track' => true %>
      <td>
          <%= f.association :contact, :collection => (@firm.contacts.select(:first_name, :last_name, :email, :company_name, :id).map { |contact| [contact.name_with_company, contact.id] }), :prompt => "Add Contact", :class => 'table-input', :label => false %>
      </td>
      <td>
          <%= f.input :role, collection: Contact::TYPES, :prompt => "Add Role", :class => 'table-input', :label => false %>
      </td>
      <td colspan="2">
          <%= f.text_field :note, :prompt => "Add Note", :class => 'table-input-75', :label => false %>
      
          <%= f.hidden_field :firm_id, :value => @firm.id %>
      
          <%= link_to_remove_association f, class: 'dark-small remove_case_contacts' do %><span id="remove" class="glyphicon glyphicon-remove pull-right" original-title="Remove Contact"></span><% end %>
      </td>
  </tr>

