<%= javascript_include_tag 'cases/copy', 'data-turbolinks-track' => true %>
<%= simple_form_for existing_case, :url => copy_case_create_path(existing_case), :method => :post do |f| %>

  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
            <h1>Copy Case</h1>
          </div>
          <div class="modal-body">

          <table class="copy_form table-condensed">
            <tbody>
           <tr>
              <td>
                <strong>New Case Name:</strong>
              </td>
              <td colspan="3">
                <div id="focus-example">
                    <%= f.text_field :name, label: false, :value => "", :class => 'table-input', title: 'Give the new case a unique name' %>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4" style="text-indent: 60px; padding-top: 15px;">
                Check all items you would like to copy to the new case:
              </td>
            </tr>
            <tr>
              <td colspan="2">
               <div class="form-group">
                  <%= check_box_tag :incident, :checked, true %>
                   <%= label_tag :incident, "" %>
                  <strong>Incident - </strong>incident details
               </div>
               <div class="form-group">
                 <%= check_box_tag :medicals, :checked, true %>
                 <%= label_tag :medicals, "" %>
                 <strong>Medicals - </strong>injury summary and treatment details
               </div>
               <div class="form-group">
                  <%= check_box_tag :insurance, :checked, true %>
                  <%= label_tag :insurance, "" %>
                  <strong>Insurance - </strong>insurance information and adjusters
               </div>
               <div class="form-group">
                  <%= check_box_tag :contacts, :checked, true %>
                  <%= label_tag :contacts, "" %>
                  <strong>Contacts - </strong>all case contacts and roles
               </div>
               <div class="form-group">
                  <%= check_box_tag :tasks, :checked, true %>
                  <%= label_tag :tasks, "" %>
                  <strong>Tasks - </strong>all uncompleted tasks
               </div>
               <div class="form-group">
                  <%= check_box_tag :documents, :checked, true %>
                  <%= label_tag :documents, "" %>
                  <strong>Documents - </strong>all documents
               </div>
               <div class="form-group">
                  <%= check_box_tag :notes, :checked, true %>
                  <%= label_tag :notes, "" %>
                  <strong>Notes - </strong>all case notes
                </div>
               </td>             
            </tr>
            </tbody>
          </table>
              
        </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a>
            </div>

            <div class="form-actions">
                <%= f.submit "Create Copy", :class =>"btn btn-info", :style => 'font-size: 18px;'%>
            </div>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
<% end %>



