<%= simple_form_for(new_case) do |f| %>
  <%= f.error_notification %>

     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Case</h2>
          </div>
          <div class="modal-body">
     <% end %>

      <table class="new-case-form table-condensed">
        <tbody>
          <tr>
            <td>
            <Strong>*Case Name:</Strong>
            </td>
            <td colspan="3">
               <%= f.text_field :name, label: false, :class =>'table-input' %>
            </td>
          </tr>
           <tr>
            <td>
            <Strong>Case Number:</Strong>
            </td>
            <td colspan="3">
            <%= f.text_field :case_number, :readonly => true, :value =>  Case.increment_number(@firm, action_name.to_s, new_case), label: false, :class =>'table-input' %>
            </td>
          </tr>
             <tr>
            <td>
            <Strong>Attorney(s):</Strong>
            </td>
            <td colspan="3">
            <%= f.association :contacts, :collection => @firm.contacts.where("type = 'Attorney'"), :label_method => :name, label: false, :include_blank => false, :class => 'table-input' %>
            </td>
          </tr>
             <tr>
            <td>
            <Strong>Staff:</Strong>
            </td>
            <td colspan="3">
              <%= f.association :contacts, :collection => @firm.contacts.where("type = 'Staff'"), :label_method => :name, label: false, :include_blank => false, :class => 'table-input' %>
            </td>
          </tr>
            <tr>
                <td>
                  <Strong>County:</Strong>
            </td>
                <td>
                    <%= f.text_field :county, label: false, :class => 'table-input' %>
                </td>
                <td>
                  <Strong>State:</Strong>
                </td>
                <td>
                     <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
                </td>
          </tr>
          <tr>
                <td>
                  <Strong>Case Type:</Strong>
                </td>
                <td>
                      <%= f.select :case_type, Case::TYPES, label: false, selected: 'Personal Injury', :class => 'table-input'%>
                </td>
                <td>
                  <strong>Subtype:</strong>
                </td>
               <td>
                  <%= f.select :subtype, Case::SUB_TYPES, label: false,  selected: 'Motor Vehicle', :include_blank => true %>
            </td>
          </tr>
           <% if action_name != "edit" %>
            <%= f.simple_fields_for :incident, new_case.build_incident do |i| %>
              <tr id="incident_date">
                  <td>
                    <Strong>Incident Date:</Strong>
                  </td>
                  <td>
                      <%= i.date_field :incident_date, label: false, :class =>'table-input' %>
                  </td>
            <% end %>
          <%= f.simple_fields_for :medical, new_case.build_medical do |m| %>
              <%= m.simple_fields_for :injuries, m.object.injuries.build do |inj| %>
                        <td>
                          <strong>Total Medical Bills:</strong>
                        </td>
                        <td>
                              <%= m.text_field :total_med_bills, label: false, :class => 'table-input' %>
                
                        </td>
              </tr>
              <tr id="private_injury">
                        <td>
                            <strong>Primary Injury:</strong>
                        </td>
                        <td>
                              <%= inj.select :injury_type, Injury::INJURY_TYPE, label: false, :class => 'table-input', :include_blank => true  %>
                        </td>
                        <td>
                            <strong>Region:</strong>
                        </td>
                        <td>
                              <%= inj.select :region, Injury::REGION_TYPE, label: false, :class => 'table-input', :include_blank => true %>
                        </td>
              </tr>
               <% end %> <!-- end of m.simple_fields_for :injuries -->          
        <% end %> <!-- end of f.simple_fields_for :medical -->
          <tr>
          <td>
            <strong>Case Summary:</strong>
          </td>
          <td class="big-row" colspan="3">
     <% end %><!-- end of if -->
              <%= f.text_area :description, label: false, :class => 'table-text' %>
          </td>
          </tr>
          
        </tbody>
      </table>


     <% if action_name == "index" %>
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a>
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"sub2-small" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>

  <script>
    $(document).ready(function() { $("#attorney_select, #plaintiff_select, #defendant_select, #staff_select, select").select2();
        });
    $('#case_case_type').on('change', function() {
      var conceptName = $('#case_case_type').find(":selected").text();
        if (conceptName == "Personal Injury") {
          $('#incident_date').show();
          $('#private_injury').show();
        } else {
          $('#incident_date').hide();
          $('#private_injury').hide();
        }
      });
  </script>
