<%= simple_form_for(new_case) do |f| %>
  <%= f.error_notification %>

     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h1>New Case</h1>
          </div>
          <div class="modal-body">
     <% end %>

            <div class="form-inputs">
              <%= f.input :name %>
              <%= f.input :number, :label => "Case number" %>
              <%= f.input :case_type, :label => "Case Type" , :collection => ['Personal Injury'], :selected => 'Personal Injury'%>
              <%= f.input :subtype, :label => "Sub-type", :collection => ['Motor Vehicle'], :selected => 'Motor Vehicle' %>
              <%= f.input :description, :type => 'text-area' %>
              <%= f.input :medical_bills, :label => "Medical Bills" %>

              <%= f.input :judje %>
              <%= f.input :court %>
              <%= f.input :plaintiff %>
              <%= f.input :defendant %>
              <%= f.input :corporation %>
              <%= f.input :status %>
              <%= f.input :creation_date %>
              <%= f.input :closing_date %>

            </div>
     <% if action_name == "index" %>
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a>
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"btn btn-default" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>