
<%= simple_form_for(new_case) do |f| %>
  <%= f.error_notification %>

     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Case</h2>
          </div>
          <div class="modal-body">
     <% end %>

            <div class="form-inputs">
              <%= f.input :name %>
              <%= f.input :number, :readonly => true, :input_html => {:value =>  Case.next_number(new_case, action_name.to_s)} %>
              <%= f.input :court %>
              <%= f.input :state, as: :select, collection: us_states %>
              <%= f.association :contacts, label: "Plaintiff(s)", :collection => Contact.all.where("type = 'Plaintiff'"), :label_method => :name, :include_blank => false %>
              <%= f.association :contacts, label: "Defendant(s)", :collection => Contact.all.where("type = 'Defendant'"), :label_method => :name, :include_blank => false %>
              <%= f.input :corporation %>
              <%= f.association :contacts, :collection => Contact.all.where("type = 'Attorney'"), :label_method => :name, :label => "Attorney(s)", :include_blank => false, :id =>'e1' %>
              <%= f.association :contacts, :collection => Contact.all.where("type = 'Staff'"), :label_method => :name, :label => "Staff", :include_blank => false %>
              <%= f.input :case_type, label: "Case Type" , collection: Case::TYPES, selected: 'Personal Injury'%>
              <%= f.input :subtype, label: "Sub-type", collection: Case::SUB_TYPES, selected: 'Motor Vehicle' %>
              <%= f.input :description, type: 'text-area' %>
              <%= f.input :status, as: :select, collection: Case.statuses.keys, include_blank: false %>
              <%= f.input :closing_date, label: "Closed Date", include_blank: true %>
                <select id="e1">
                   <option value="AL">Alabama</option>
                   <option value="WY">Wyoming</option>
                 </select>


            </div>
     <% if action_name == "index" %>
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a>
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"btn btn-large btn-primary" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>
  <script>
    $(document).ready(function() { $("#e1").select2(); });
  </script>
