<%= javascript_include_tag 'cases/form', 'data-turbolinks-track' => true %>
<%= simple_form_for(new_case) do |f| %>
  <%= f.error_notification %>

     <% if action_name == "index" || controller_name == 'dashboards' %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
            <h1>New Case</h1>
          </div>
          <div class="modal-body">
     <% end %>

<!-- <div class="modal-container new_case_form">
      <div class="form-group">
      <div class="field-header">CASE NAME</div>
      <%= f.text_field :name, :autofocus => false, :class => 'table-input', placeholder: 'Smith, John' %>
    </div>
      <div class="form-group">
      <div class="field-header">ASSIGN ATTORNEY(S)</div>
      <%= f.select :attorney, options_from_collection_for_select(@firm.contacts, 'id', 'name', :selected => new_case.select_contact_role(:attorney).map(&:id)), {prompt: "Select #{:attorney}"}, {:class => 'contacts_select', :multiple => true} %>
    </div>
     <div class="form-group">
      <div class="field-header">ASSIGN STAFF</div>
          <%= f.select :staff, options_from_collection_for_select(@firm.contacts, 'id', 'name', :selected => new_case.select_contact_role(:staff).map(&:id)), {prompt: "Select #{:staff}"}, {:class => 'contacts_select', :multiple => true} %>
    </div>
    <div class="form-group">
      <div class="field-header">STATE</div>
          <%= f.input :state, as: :select, collection: us_states, label: false, :class => 'table-input', :include_blank => true %>
    </div>
    <div class="form-group">
      <div class="field-header">CASE TYPE</div>
          <%= f.select :case_type, Case::TYPES, :include_blank => true, label: false, :class => 'table-input'%>
    </div>
    <div class="form-group">
      <div class="field-header">SUB-TYPE</div>
           <%= f.select :subtype, Case::SUB_TYPES, label: false, :include_blank => true %>
    </div>
    <div class="form-group">
      <div class="field-header">TOPIC</div>
          <%= f.text_field :topic, label: false, :class =>'table-input', placeholder: 'e.g. Rear-end accident with minor' %>
    </div>
    <div class="form-group">
      <div class="field-header">CASE SUMMARY</div>
    <%= f.text_area :description, label: false, :class => 'table-text', placeholder: 'Enter a high level summary of the case', :autofocus => false %>      
    </div>
    
 <%= f.text_field :case_number, :readonly => true, :value =>  Case.increment_number(@firm, action_name.to_s, new_case), label: false, :class =>'table-input', :hidden => true %>
 </div> -->

     <table class="new_case_form table-condensed">
        <tbody>
          <tr>
            <td>
            <Strong>*Case Name:</Strong>
            </td>
            <td colspan="3">
               <%= f.text_field :name, label: false, :class =>'table-input', placeholder: 'e.g. Smith v. Doe' %>
            </td>
          </tr>
             <tr>
            <td>
            <Strong>Assign Attorney(s):</Strong>
            </td>
            <td colspan="3">
            <%= f.select :attorney, options_from_collection_for_select(@firm.contacts, 'id', 'name', :selected => new_case.select_contact_role(:attorney).map(&:id)), {prompt: "Select #{:attorney}"}, {:class => 'contacts_select', :multiple => true} %>
            </td>
          </tr>
             <tr>
            <td>
            <Strong>Assign Staff:</Strong>
            </td>
            <td colspan="3">
              <%= f.select :staff, options_from_collection_for_select(@firm.contacts, 'id', 'name', :selected => new_case.select_contact_role(:staff).map(&:id)), {prompt: "Select #{:staff}"}, {:class => 'contacts_select', :multiple => true} %>
            </td>
          </tr>
            <tr>
        <td class="col-one">
           <strong>State:</strong>
        </td>
        <td>
        <%= f.input :state, as: :select, collection: us_states, label: false, :class => 'table-input', :include_blank => true %>
        </td>
      </tr>
          <tr>
                <td>
                  <Strong>Case Type:</Strong>
                </td>
                <td colspan="3">
                      <%= f.select :case_type, Case::TYPES, :include_blank => true, label: false, :class => 'table-input'%>
                </td>
          </tr>
          <tr>
                <td>
                  <strong>Sub Type:</strong>
                </td>
               <td colspan="3">
               <%= f.input :subtype, collection: Case::SUB_TYPES, as: :grouped_select, :group_method => :last, label: false, :class => 'table-input', :step => 'any' %>
                  <!-- <%= f.select :subtype, Case::SUB_TYPES, label: false, :include_blank => true %> -->
            </td>
          </tr>
        
          <!-- This is a hidden field that needs to be present so that the case_number can be incremented by 1, PLEASE DO NOT REMOVE without applying the incrementing -->
            <%= f.text_field :case_number, :readonly => true, :value =>  Case.increment_number(@firm, action_name.to_s, new_case), label: false, :class =>'table-input', :hidden => true %>
    
           <tr>
                <td>
                  <strong>Topic:</strong>
                </td>
               <td colspan="3">
                  <%= f.text_field :topic, label: false, :class =>'table-input', placeholder: 'e.g. Rear-end accident with minor' %>
               </td>
          </tr>
           
        <tr>
          <td>
            <strong>Case Summary:</strong>
          </td>
          <td class="big-row" colspan="3">
              <%= f.text_area :description, label: false, :class => 'table-text', placeholder: 'Enter a high level summary of the case' %>
          </td>
          </tr>
        </tbody>
      </table>
      <br>

     <% if action_name == "index" || controller_name == 'dashboards' %>
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a>
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"btn btn-info", :style => 'font-size: 18px;'%>
            </div>

     <% if action_name == "index" || controller_name == 'dashboards' %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>


