<%= simple_form_for(case_) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :number %>
    <%= f.input :court %>
    <%= f.input :state, as: :select, collection: us_states %>
    <% #plaintiff %>
    <% #defendant %>
    <%= f.input :corporation %>
    <% #attorney %>
    <% #staff %>
    <%= f.input :case_type, label: "Case Type" , collection: Case::TYPES, selected: 'Personal Injury'%>
    <%= f.input :subtype, label: "Sub-type", collection: Case::SUB_TYPES, selected: 'Motor Vehicle' %>
    <%= f.input :description, type: 'text-area' %>
    <%= f.input :status, as: :select, collection: Case.statuses.keys, include_blank: false %>
    <%= f.input :closing_date, label: "Closed Date", include_blank: true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class =>"btn btn-default" %>
  </div>
<% end %>