<%= simple_form_for(new_case) do |f| %>
  <%= f.error_notification %>

     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Case</h2>
          </div>
          <div class="modal-body">
     <% end %>

            <div class="form-inputs">
              <%= f.input :name %>
              <%= f.input :number, :readonly => true, :input_html => {:value =>  Case.increment_number(@firm, action_name.to_s, new_case)} %>

               <% if action_name == "edit" %>
                  <%= f.input :docket_number, :label => "Docket Number"%>
                <% end %>
          
              <%= f.association :contacts, :collection => Contact.all.where("type = 'Attorney'"), :label_method => :name, :label => "Attorney(s)", :include_blank => false, :input_html => {:id => "attorney_select"}, :class => 'sel2' %>
              <%= f.association :contacts, :collection => Contact.all.where("type = 'Staff'"), :label_method => :name, :label => "Staff", :include_blank => false, :input_html => {:id => "attorney_select"}, :class => 'sel2' %>
              <%= f.input :state, as: :select, collection: us_states %>
              <%= f.input :case_type, label: "Case Type" , collection: Case::TYPES, selected: 'Personal Injury'%>
              <%= f.input :subtype, label: "Sub-type", collection: Case::SUB_TYPES, selected: 'Motor Vehicle' %>

              <% if action_name != "edit" %>
                <%= f.simple_fields_for :incident, new_case.build_incident do |i| %>
                  <%= i.input :incident_date %>
                  <%= i.input :statute_of_limitations %> <!-- TODO: make this read-only and calculated according to some rules that need to be defined -->
                  <% i.input :insurance_provider, collection: Incident::INSURANCE_PROVIDERS %>
                <% end %>
                <%= f.simple_fields_for :medical, new_case.build_medical do |m| %>
                  <%= m.simple_fields_for :injuries, m.object.injuries.build do |inj| %>
                  <%= inj.input :injury_type, collection: Injury::INJURY_TYPE %>
                  <%= inj.input :region, collection: Injury::REGION_TYPE %>
                <% end %>
                  <%= m.input :total_med_bills, label: "Medical Bills" %>
                <% end %>
              <% end %>
              <%= f.input :description, type: 'text-area', label: "Case Summary" %>


            </div>
     <% if action_name == "index" %>
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a>
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"sub" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>
  <script>
    $(document).ready(function() { $("#attorney_select, #plaintiff_select, #defendant_select, #staff_select").select2(); });
  </script>
