<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <a class="close" data-dismiss="modal">×</a>
      <h1>New Case</h1>
    </div>
    <div class="modal-body">

      <%= simple_form_for(new_case) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :number, :label => "Case number" %>
        <%= f.input :case_type, :label => "Case Type" , :collection => ['Personal Injury'], :selected => 'Personal Injury'%>
        <%= f.input :subtype, :label => "Sub-type", :collection => ['Motor Vehicle'], :selected => 'Motor Vehicle' %>
        <%= f.input :description %>
        <%= f.input :medical_bills, :label => "Medical Bills" %>
      </div>          
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a> 
      </div>
      <div class="form-actions">
          <%= f.button :submit, :class =>"btn btn-default" %>
      </div>
        <% end %>
   </div>
  </div>
</div>