<div class="table-responsive">
  <table id="<%= id %>" class="table table-striped table-hover rowlink cases_table" data-source="<%= send("#{id}_path") %>">
    <thead class="user-table-head">
            <tr>
              <th># </th>
              <th>Case Name</th>
              <th>Case Type</th>
              <th>Case Summary</th>
              <th>Assigned Attorney(s)</th>
              <th>Assigned Staff</th>
              <th>Status</th>
            </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#<%= id %>').dataTable({
      language: {
        search: "_INPUT_",
        searchPlaceholder: "<%= id.humanize.titleize %> Search",
        lengthMenu: "View _MENU_"
      },
      sDom: 'Rfrtlip',
      aaSorting: [[ 0, "desc" ]],
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('#<%= id %>').data('source')
    });
  });
</script>