<div class="case-header">
  <div class="case-title">
    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-8" style="font-size: 24px;">
          <strong><%= @case.name %></strong><br>
        </div>
      </div>
    </div>
    <div id="case-buttons">
      <ul>
        
        <li><%= link_to "", :class => 'dark' do %>
              <span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span>
          <% end %></li>
      </ul>
    </div>
  </div>
  <strong>Case #: </strong><%= @case.case_number %>

  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/case_tabs' %>
      </div>
    </div>
  </div>
  <%= render partial: 'notes/case_alert' %>
</div>



<div class="top-table-container">
  <table id="info-table3">
    <thead>
    <tr class="right-top">
      <td colspan="2" class="gray-back">
        <strong>Case Events</strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="right">
        <strong>Date</strong>
      </td>
      <td class="right">
        <strong>Event</strong>
      </td>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= simple_format_date_regexp event.starts_at %></td>
        <td><%= event.title %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
    </div>

    <div class="bottom-table-container">
  <table id="info-table1">
    <thead>
    <tr class="right-top">
      <td colspan="2" class="gray-back">
        <strong>Other Important Dates</strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-one">
        <strong>Statute of Limitations:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.statute_of_limitations %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
         <strong>Trial Date:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.trial_date  %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
         <strong>Incident Date:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.incident.incident_date  %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
         <strong>Hearing Date:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.hearing_date  %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
         <strong>Filed Suit Date:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.filed_suit_date  %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
         <strong>Transfer Date:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.transfer_date  %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
         <strong>Closing Date:</strong>
      </td>
      <td>
        <%= simple_format_date_regexp @case.closing_date  %>
      </td>
    </tr>   
    </tbody>
  </table>
</div>
