<%= javascript_include_tag 'cases/case_contact_fields', 'data-turbolinks-track' => true %>
<%= simple_form_for @case do |f| %>
  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @case.name %></strong><br>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Cancel', show_case_contacts_path(@case), :class => 'dark' %></li>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save' %></li>
        </ul>
      </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
  </div>

  <div class="case_contacts-edit-container">
    <%= link_to_add_association 'ADD CONTACT', f, :case_contacts, :"data-association-insertion-node" => "tbody#case_contacts_", :"data-association-insertion-method" => "append", class: 'action-button insure pull-right' %>
     <table id="info-table3">
      <tbody id="case_contacts_">
      <tr>
        <td class="gray-back">
          <strong>Name</strong>
        </td>
        <td class="gray-back">
          <strong>Case Role</strong>
        </td>
        <td class="gray-back" colspan="2">
          <strong>Note</strong>
        </td>
      </tr>
        <%= f.simple_fields_for :case_contacts, f.object.case_contacts.sort_by { |a| [a.name_of_contact_for_sorting] } do |case_contact| %>
          <%= render 'case_contact_fields', :f => case_contact %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

    <script type="text/javascript">
        $(document).ready(function() {
            var self =  $("#popup_case");
            $(document).mousemove(function (e) {
                mX = e.pageX;
                mY = e.pageY;
            }).mouseover();
            $('select').select2()
                    .on("change", function(e) { // When user select Value then change event fire

                    })
                    .on("select2-highlight", function(e) { //when user mouse over or highlight value using keyboard navigation keys ("arrow keys")
                        var p = 'P: ';
                        var f = 'F: ';
                        var idd = e.val.split(':')[0];
                        $.ajax({
                            url: '/contacts/'+ idd,
                            type: 'GET',
                            dataType: 'json',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                            },
                            success: function(data){
                                $('#popup_case').css({
                                    'opacity': '0.1',
                                    'top': mY-80,
                                }).animate({
                                    'opacity': '1.0',
                                }, 1000);
                                if(data.fax_number == null || data.fax_number == '') { data.fax_number = ''; f = '';} else {f = '<br>' + 'F: '}
                                if(data.phone_number == null || data.phone_number == '') {data.phone_number == ''; p = '';} else {p = '<br>' + 'P: '}
                                if(data.address == null) {data.address = '' ;}
                                $("#popup_case").html(data.first_name + ' ' + data.last_name + '<br>' +
                                        data.address + p + data.phone_number  +
                                        f + data.fax_number
                                ).fadeIn( "slow").show();
                                setTimeout(function(){
                                    $("#popup_case").hide();
                                }, 5000);/* do something meaningful with data */},
                            error: function(xhr, status, response) {/* your error callback */}
                        });
                    });
        });
    </script>