
<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li class="active-breadcrumb"><%= @case.name %></li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<%= form_for :case, url: case_path(@case), method: :patch do |f| %>

<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %>
      </td>
      <td>
      </td>
      <td><%= link_to 'Cancel', @case, :class => 'dark-right' %>
      </td>
      <td><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="top-table-container">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Case Administration</strong>
    </td>
  </tr>
</thead>
  <tbody>
    <tr>
      <td class="col-one">
        <strong>Case Name:</strong>
      </td>
       <td>
        <%= f.text_field :name, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
        <strong>Date Opened:</strong>
      </td>
        <td>
         <%= @case.created_at %>
        </td>
     </tr>
      <tr>
        <td class="col-one">
           <strong>Case Number:</strong>
        </td>
        <td>
          <%= @case.case_number %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Docket Number:</strong>
        </td>
        <td>
          <%=  f.text_field :docket_number, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Court:</strong>
        </td>
        <td>
          <%= f.text_field :court, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>County:</strong>
        </td>
        <td>
          <%= f.text_field :county, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
           <strong>State:</strong>
        </td>
        <td>
        <%= f.select :state, us_states, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Key Contacts</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Plaintiff(s):</strong>
        </td>
        <td>

		<%= f.select  :contacts, @firm.contacts.where("type = 'Plaintiff'").collect { |c| [c.first_name + ' ' + c.last_name ]}, :id => "plaintiff_select", :class => 'table-input'%>
        
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Defendant(s):</strong>
        </td>
        <td>
    
          <% @case.contacts.where("type = 'Defendant'").each do |d| %>
          <%= d.first_name %> <%= d.last_name %>
           <% end %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Assigned Attorney(s):</strong>
        </td>
        <td>
          <%= @case.contacts.where("type = 'Attorney'").size %>
          <% @case.contacts.where("type = 'Attorney'").each do |a| %>
          <%= a.first_name %> <%= a.last_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="right">
           <strong>Assigned Staff(s):</strong>
        </td>
        <td>
          <% @case.contacts.where("type = 'Staff'").each do |s| %>
          <%= s.first_name %> <%= s.last_name %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">

<div class="bottom-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>General Overview</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Type:</strong>
        </td>
        <td>
          <%= f.select :case_type, Case::TYPES, :class => 'table-input' %>
        </td>
        <td class="right">
          <strong>Sub-type:</strong>
        </td>
        <td>
          <%= f.select :subtype, Case::SUB_TYPES, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
            <strong>Case Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= f.text_area :description, :class => 'table-text' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Status:</strong>
        </td>
        <td>
          <%= f.select :status, Case::STATUS, :class => 'table-input' %>
        </td>
         <td class="right">
          <strong>Date Closed:</strong>
        </td>
        <td>
          <%= f.date_field :closing_date, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<% end %>

  <script>
    $(document).ready(function() { $("#attorney_select, #plaintiff_select, #defendant_select, #staff_select").select2(); });
  </script>


<script>
     $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
     });
</script>

