<%= javascript_include_tag 'cases/case_contact_fields', 'data-turbolinks-track' => true %>
<%= simple_form_for @case do |f| %>
  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @case.name %></strong><br>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Cancel', @case, :class => 'dark' %></li>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save' %></li>
        </ul>
      </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
  </div>

  <div class="case_contacts-edit-container">
    <%= link_to_add_association 'ADD CONTACT', f, :case_contacts, :"data-association-insertion-node" => "tbody#case_contacts_", :"data-association-insertion-method" => "append", class: 'action-button insure pull-right' %>
    <table id="info-table3">
      <tbody id="case_contacts_">
      <tr>
        <td class="right">
          <strong>Name</strong>
        </td>
        <td class="right">
          <strong>Role</strong>
        </td>
        <td class="right">
          <strong>Note</strong>
        </td>
        <td>
        </td>
      </tr>
        <%= f.simple_fields_for :case_contacts, f.object.case_contacts.order(:created_at) do |case_contact| %>
          <%= render 'case_contact_fields', :f => case_contact %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
