
<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li class="active-breadcrumb"><%= @case.name %></li>
</ol>

<%= render partial: 'shared/case_tabs' %>


<%= render 'form', new_case: @case %>

<div class='text-center link-pad'>
<%= link_to 'Cancel', @case, :class => 'dark' %> 
<%= link_to 'Delete',  @case,  method: :delete, data: { confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' }, :class => 'dark', :id => 'delete_button' %>
</div>

