
<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li class="active-breadcrumb"><%= @case.name %></li>
</ol>

<%= render partial: 'shared/case_tabs' %>


<%= simple_form_for @case do |f| %>

<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %>
      </td>
      <td>
      </td>
      <td><%= link_to 'Cancel', @case, :class => 'dark-right' %>
      </td>
      <td><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="top-table-container">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Case Administration</strong>
    </td>
  </tr>
</thead>
  <tbody>
    <tr>
      <td class="col-one">
        <strong>Case Name:</strong>
      </td>
       <td>
       <%= f.text_field :name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
        <strong>Date Opened:</strong>
      </td>
        <td>
         <%= @case.created_at %>
        </td>
     </tr>
      <tr>
        <td class="col-one">
           <strong>Case Number:</strong>
        </td>
        <td>
          <%= @case.case_number %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Docket Number:</strong>
        </td>
        <td>
        <%= f.text_field :docket_number, label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Court:</strong>
        </td>
        <td>
          <%= f.text_field :court, label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>County:</strong>
        </td>
        <td>
          <%= f.text_field :county, label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
           <strong>State:</strong>
        </td>
        <td>
        <%= f.input :state, as: :select, collection: us_states, label: false, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Key Contacts</strong>
    </td>
  </tr>
</thead>
  <tbody>
  <tr>
        <td class="right">
            <strong>Judge:</strong>
        </td>
        <td>
          <%= f.association :contacts, :collection => @firm.contacts.where("type = 'Judge'"), :input_html => {:id => "judge_select"}, label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
           <strong>Plaintiff(s):</strong>
        </td>
        <td>
           <%= f.association :contacts, label: false, :collection => @firm.contacts.where("type = 'Plaintiff'"), :label_method => :name, :include_blank => false, :input_html => {:id => "plaintiff_select"}, :class => 'table-input sel2-100' %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Defendant(s):</strong>
        </td>
        <td>
          <%= f.association :contacts, label: false, :collection => @firm.contacts.where("type = 'Defendant'"), :label_method => :name, :include_blank => false, :input_html => {:id => "defendant_select"}, :class => 'table-input' %>
        </td>
      </tr>
       
      <tr>
        <td class="right">
            <strong>Assigned Attorney(s):</strong>
        </td>
        <td>
          <%= f.association :contacts, :collection => @firm.contacts.where("type = 'Attorney'"), :label_method => :name, label: false, :include_blank => false, :input_html => {:id => "attorney_select"}, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
           <strong>Assigned Staff:</strong>
        </td>
        <td>
          <%= f.association :contacts, :collection => @firm.contacts.where("type = 'Staff'"), :label_method => :name, label: false, :include_blank => false, :input_html => {:id => "attorney_select"}, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">

<div class="bottom-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>General Overview</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Type:</strong>
        </td>
        <td>
          <%= f.input :case_type, label: false, collection: Case::TYPES, selected: 'Personal Injury', :class => 'table-input' %>
        </td>
        <td class="right">
          <strong>Sub-type:</strong>
        </td>
        <td>
          <%= f.input :subtype, label: false, collection: Case::SUB_TYPES, selected: 'Motor Vehicle', :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
            <strong>Case Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= f.text_area :description, label: false, :class => 'table-text' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Status:</strong>
        </td>
        <td>
          <%= f.input :status, collection: Case::STATUS, selected: 'open', :class => 'table-input', label: false %>
        </td>
         <td class="right">
          <strong>Date Closed:</strong>
        </td>
        <td>
        <%= f.date_field :closing_date, label: false, :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<% end %>

  <script>
    $(document).ready(function() { $("#attorney_select, #plaintiff_select, #defendant_select, #staff_select, #judge_select").select2(); });
  </script>


<script>
     $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
     });
</script>

