
<div id="top-custom">
<ul id="top-custom">
  <li><%= link_to 'NEW CASE', new_case_path, {:class => "action-button", :id => "case_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></li>
</ul>
</div>

  

    <div class="table-responsive">
      <table id="cases" class="table table-striped table-hover rowlink">
        <thead>
          <tr>
            <th>Case Name</th>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Total Medical Bills</th>
            <th>Case Summary</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <% @cases.each do |one_case| %>
          <tr data-id="<%= one_case.id %>">
            <td><%= link_to one_case.name, case_path(one_case) %></td>
            <td><%= one_case.number %></td>
            <td><%= one_case.case_type %></td>
            <td><%= one_case.medical_bills %></td>
            <td><%= one_case.description %></td>
            <td><%= one_case.status %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#case_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'cases/form', new_case: Case.new ) %>");
  });
  <%= render 'datatable.js' %>
});
</script>




  


