<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Edit', edit_case_path(@case), :class => 'dark' %></li>
                  <!-- <li><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %></li> -->
                  <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
                  <li style="height: 30px;"><%= link_to @case,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Case"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Case Administration</strong>
    </td>
  </tr>
</thead>
  <tbody>
   <tr>
        <td class="col-one">
          <strong>Case Name:</strong>
        </td>
        <td>
          <%=  @case.name %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Topic:</strong>
        </td>
        <td>
          <%=  @case.topic %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Docket Number:</strong>
        </td>
        <td>
          <%=  @case.docket_number %>
        </td>
      </tr>
      <tr>
      <td class="col-one">
          <strong>Judge:</strong>
        </td>
      <td>
          <% @case.contacts.where("type = 'Judge'").each do |d| %>
          <%= d.first_name %> <%= d.last_name %>
           <% end %>
      </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Court:</strong>
        </td>
        <td>
          <%= @case.court %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>County:</strong>
        </td>
        <td>
          <%= @case.county %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
           <strong>State:</strong>
        </td>
        <td>
          <%= @case.state %>
        </td>
      </tr>
  </tbody>
</table>
<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Key Dates</strong>
    </td>
  </tr>
</thead>
  <tbody>
       <tr>
      <td class="col-one">
        <strong>Date of Incident:</strong>
      </td>
        <td>
            <%= @case.incident.try(:incident_date) %>
        </td>
     </tr>
  <tr>
      <td class="col-one">
        <strong>SOL:</strong>
      </td>
        <td>
            <%= @case.statute_of_limitations %>
        </td>
     </tr>
  <tr>
      <td class="col-one">
        <strong>Date of Intake:</strong>
      </td>
        <td>
         
        </td>
     </tr>
   <tr>
      <td class="col-one">
        <strong>Case Open Date:</strong>
      </td>
        <td>
         <%= @case.created_at.strftime("%b %e, %Y") %>
        </td>
     </tr> 
      <tr>
        <td class="right">
           <strong>Hearing Date:</strong>
        </td>
        <td>
            <%= @case.hearing_date %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Date Filed Suit:</strong>
        </td>
        <td>
              <%= @case.filed_suit_date %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
           <strong>Trial Date:</strong>
        </td>
        <td>
          <%= @case.trial_date %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">

<div class="bottom-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>General Overview</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Type:</strong>
        </td>
        <td>
          <%=  @case.case_type %>
        </td>
        <td class="right">
          <strong>Subtype:</strong>
        </td>
        <td>
          <%= @case.subtype %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Status:</strong>
        </td>
        <td>
          <%= @case.status %>
        </td>
         <td class="right">
          <strong>Date Closed:</strong>
        </td>
        <td>
          <%= @case.closing_date %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
            <strong>Case Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @case.description %>
        </td>
      </tr>
  </tbody>
</table>
</div>
<script type='text/javascript'>
  $(function() {
    $('#delete').tipsy({gravity: 'ne', fade: true});
    $('#print').tipsy({gravity: 'n', fade: true});
  });
</script>