<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @case.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @case.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case.description %>
</p>

<p>
  <strong>Medical bills:</strong>
  <%= @case.medical_bills %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
