<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path, :class => 'h3' %></li>
  <li class="active-breadcrumb"><%= @case.name %></li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Case Name:</strong>
  <%= @case.name %>
</p>

<p>
  <strong>Docket Number:</strong>
  <%= @case.number %>
</p>

<p>
  <strong>Court:</strong>
  <%= @case.court %>
</p>

<p>
  <strong>State:</strong>
  <%= @case.state %>
</p>

<p>
  <strong>Plaintiff(s):</strong>
  <% @case.assigned_plantiffs.each do |p| %>
    <%= p.first_name %> <%= p.last_name %>
  <% end %>
</p>

<p>
  <strong>Defendant(s):</strong>
  <% @case.assigned_defendants.each do |d| %>
    <%= d.first_name %> <%= d.last_name %>
  <% end %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @case.corporation? ? 'yes' : 'no' %>
</p>

<p>
  <strong>Assigned Attorney(s):</strong>
  <%= @case.assigned_attorneys.size %>
  <% @case.assigned_attorneys.each do |a| %>
    <%= a.first_name %> <%= a.last_name %>
  <% end %>
</p>

<p>
  <strong>Assigned Staff(s):</strong>
  <% @case.assigned_staffs.each do |s| %>
    <%= s.first_name %> <%= s.last_name %>
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @case.case_type %>
</p>

<p>
  <strong>Sub-type:</strong>
  <%= @case.subtype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @case.status %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @case.created_at.to_date %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @case.closing_date %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
