<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li class="active-breadcrumb"><%= @case.name %></li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Case Name:</strong>
  <%= @case.name %>
</p>

<p>
  <strong>Case Number:</strong>
  <%= @case.number %>
</p>

<p>
  <strong>Court:</strong>
  <%= @case.court %>
</p>

<p>
  <strong>State:</strong>
  <%= @case.state %>
</p>

<p>
  <strong>Plaintiff(s):</strong>
  <% @case.contacts.where("type = 'Plaintiff'").each do |p| %>
    <%= p.first_name %> <%= p.last_name %>
  <% end %>
</p>

<p>
  <strong>Defendant(s):</strong>
  <% @case.contacts.where("type = 'Defendant'").each do |d| %>
    <%= d.first_name %> <%= d.last_name %>
  <% end %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @case.corporation? ? 'yes' : 'no' %>
</p>

<p>
  <strong>Assigned Attorney(s):</strong>
  <%= @case.contacts.where("type = 'Attorney'").size %>
  <% @case.contacts.where("type = 'Attorney'").each do |a| %>
    <%= a.first_name %> <%= a.last_name %>
  <% end %>
</p>

<p>
  <strong>Assigned Staff(s):</strong>
  <% @case.contacts.where("type = 'Staff'").each do |s| %>
    <%= s.first_name %> <%= s.last_name %>
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @case.case_type %>
</p>

<p>
  <strong>Sub-type:</strong>
  <%= @case.subtype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @case.status %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @case.created_at.strftime("%m/%d/%y %I:%M %p") %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @case.closing_date %>
</p>

<div class="text-center link-pad">
<%= link_to 'Edit', edit_case_path(@case), :class => 'dark' %> |
<%= link_to 'Back to Cases', cases_path, :class => 'dark' %>
</div>
