<div class="case-header">
    <div class="case-title">
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-2" style="font-size: 24px;">
            <strong><%= @case.name %></strong><br>
          </div>
          <div class="col-md-7">
            <%= render partial: 'notes/case_alert' %>
          </div>
        </div>
      </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to "",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="recent-update-container">
<% if @last_3_notes %>
  <div class="bottom-table-container">
  <h3>Recent Activity</h3>
  <br>
    <table class="table-striped recent-notes-table">
     <thead class="user-table-head">
        <th>Date</th>
        <th>Type</th>
        <th>Note</th>
        <th>Author</th>
      </thead>
      <tbody>
        <% @last_3_notes.each do |note| %>
          <tr>
            <td>
              <%= date_to_input_regexp note.created_at %>
            </td>
            <td>
              <%= note.note_type %>
            </td>
            <td>
             <div class="larger-td">
              <%= note.note %>
              </div>
            </td>
              <td>
              <%= note.author %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>

<div style="width: 900px; margin: 0 auto;">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Key Information</strong>
    </td>
  </tr>
</thead>
  <tbody>
   <tr>
        <td class="col-one">
          <strong>Case Status:</strong>
        </td>
        <td>
          <%=  @case.status %>
        </td>
      </tr>
       <tr>
        <td class="col-one">
          <strong>Statute of Limitations:</strong>
        </td>
        <td>
          <%= simple_format_date_regexp @case.statute_of_limitations %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
           <strong>Trial Date:</strong>
        </td>
        <td>
          <%= simple_format_date_regexp @case.trial_date  %>
        </td>
      </tr>
     
      <tr>
        <td class="col-one">
          <strong>Fee Agreement Signed?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @case.fee_agreement  %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Transfer Date</strong>
        </td>
        <td>
          <%= simple_format_date_regexp @case.transfer_date  %>
        </td>
      </tr>
  </tbody>
</table>
<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Key Contacts</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Plaintiff(s):</strong>
        </td>
        <td>
        
          <% @case.case_contacts.where("role = 'Plaintiff'").each do |p| %>
          <%= p.contact.first_name %> <%= p.contact.last_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Defendant(s):</strong>
        </td>
        <td>
          <% @case.case_contacts.where("role = 'Defendant'").each do |d| %>
          <%= d.contact.first_name %> <%= d.contact.last_name %>
           <% end %>
        </td>
      </tr>
    
      <tr>
        <td class="right">
            <strong>Assigned Attorney(s):</strong>
        </td>
        <td>
          <%= @case.case_contacts.where("role = 'Attorney'").size %>
          <% @case.case_contacts.where("role = 'Attorney'").each do |a| %>
          <%= a.contact.first_name %> <%= a.contact.last_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="right">
           <strong>Assigned Staff:</strong>
        </td>
        <td>
          <% @case.case_contacts.where("role = 'Staff'").each do |s| %>
          <%= s.contact.first_name %> <%= s.contact.last_name %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">


<table id="summary-table">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>General Overview</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Type:</strong>
        </td>
        <td>
          <%=  @case.case_type %>
        </td>
        <td class="right">
          <strong>Subtype:</strong>
        </td>
        <td>
          <%= @case.subtype %>
        </td>
      </tr>
      <tr>
        <td class="right">
           <strong>Total Medicals:</strong>
        </td>
        <td>
          <%= number_to_currency @case.try(:medical).try(:medical_bills).to_a.sum{ |med| med.billed_amount.to_f } %>
        </td>
        <td class="right">
          <strong>Total Policy Limits:</strong>
        </td>
        <td>
          <%= number_to_currency Insurance.total_policy_limit_amount(@case), precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
            <strong>Case Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @case.description %>
        </td>
      </tr>
  </tbody>
</table>

<hr class="invis">



<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'ne', fade: true});
  });
</script>

