<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong>Account Settings</strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li></li>

              </ul>
          </div>
    </div>
    <strong style="color: white;">A</strong>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/profile_tabs' %>
                      </div>
              </div>
        </div>
</div>
<div class="incase-tabs-gap">
</div>


<div class="profile">
  <h3>Profile</h3>
  
  <%= form_for @user, :url => users_update_profile_path(@user) do |f| %>
     <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :name, 'Firm Name' %>
        <%= firm.text_field :name, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :role, 'Firm Role' %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, {:disabled => !@user.admin?, :class => "selectpicker"}) %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :phone, 'Firm Phone'%>
        <%= firm.text_field :phone, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>
    <%= f.submit 'Update', :class => "sub2-invite pull-right" %>
  <% end %>
</div>

<div class="profile" style="padding-top: 30px;">
  <h3>Cancel Account</h3>
  <p>Unhappy? We'll be sad to see you go.</p>
  <%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => @confirm_message }, :method => :delete, :class => "sub2-invite pull-right" %>
</div>