<%= render partial: 'shared/profile_tabs' %>

<div class="authform">
  <h3>Profile</h3>
  <%= form_for @user, :url => users_update_profile_path(@user) do |f| %>
     <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :name, 'Firm Name' %>
        <%= firm.text_field :name, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :role, 'Firm Role' %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, {:disabled => !@user.admin?, :class => "selectpicker"}) %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :phone, 'Firm Phone'%>
        <%= firm.text_field :phone, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>