<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong>Account Settings</strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li></li>

              </ul>
          </div>
    </div>
    <strong style="color: white;">A</strong>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/profile_tabs' %>
                      </div>
              </div>
        </div>
</div>
<div class="incase-tabs-gap">
</div>

<div class="profile">
  <h3>Settings</h3>
  <%= form_for @user, :url => registration_path(@user) do |f| %>
    <div class="form-group">
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Pacific Time (US & Canada)", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :name, 'Firm Name' %>
        <%= firm.text_field :name, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :phone, 'Firm Phone'%>
        <%= firm.text_field :phone, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div> 
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :address, 'Firm Address'%>
        <%= firm.text_field :address, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :state, 'Firm State'%>
        <%= firm.select(:state, us_states, {}, {:disabled => !@user.admin?, :class => "selectpicker"}) %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.fields_for :firm do |firm| %>
        <%= firm.label :zip, 'Firm Zipcode'%>
        <%= firm.text_field :zip, :autofocus => true, class: 'form-control', disabled: !@user.admin? %>
      <% end %>
    </div>              
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <p>You must enter your current password to make changes.</p>
    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: 'form-control' %>
    </div>
    <%= f.submit 'Update', :class => "sub2-invite pull-right" %>
  <% end %>
</div>