
<tr class="nested-fields medical-bill-field" style="border-bottom: 1px solid black">
  <%= javascript_include_tag 'interrogatories/interrogatory_fields', 'data-turbolinks-track' => true %>
  <td colspan="11" style="padding: 0;">
    <table>
      <tr>
          <td class="text-center">
              <strong><%= f.options[:child_index].to_i + 1 if f.object.id %></strong>
          </td>
          <td class="right" colspan="" id="interrogatory_select">
              <strong>Requester</strong><br>
              <%= f.association :requester, :collection => @firm.contacts, :class => 'table-input', :label => false %>
          </td>
          <td class="right" colspan="">
              <strong>Interrogatory</strong><br>
              <%= f.text_field :question, :class => 'table-input' %>
          </td>
          <td class="right" colspan="">
              <strong>Date Requested</strong><br>
              <%= f.date_field :req_date, :class => 'table-input' %>
          </td>
          <td class="right" colspan="">
              <strong>Date Replied</strong><br>
              <%= f.date_field :rep_date, :class => 'table-input' %>
          </td>
      </tr>
      <tr style="border-bottom: 2px solid black;">
          <td>   
          </td>
          <td class="right" colspan="" id="interrogatory_select">
              <strong>Responder</strong><br>
              <%= f.association :responder, :collection => @firm.contacts, :class => 'table-input', :label => false %>
          </td>
          <td class="right" colspan="">
              <strong>Reply</strong><br>
              <%= f.text_field :response, :class => 'table-input' %>
              <br>
          </td>
          
           <td class="text-center doc-link" style="text-align: left;" colspan="2">
            <% if f.object.document.try(:document).try(:file) %>
              Existing Document: <%= link_to f.object.document.document.file.filename, f.object.document.document_url %>
              <br />
            <% end %>
            <%= f.simple_fields_for :document, f.object.document ? f.object.document : f.object.build_document do |d| %>
              <%= d.file_field :document, label: false, :class => 'table-input-file' %>
              <%= d.input :author, as: :hidden, :input_html => {value: @user.name} %>
              <%= d.input :firm_id, :input_html => {value: @firm.id}, as: :hidden %>
              <%= d.input :user_id, :input_html => {value: @user.id}, as: :hidden %> 
            <% end %>
          </td>
      </tr>
    </table>
  </td>
  <td colspan="1" style="text-align: center; border-bottom: 2px solid black;">
  <%= link_to_remove_association f, class: 'remove_children remove' do %>
      <span id="remove" class="glyphicon glyphicon-remove" original-title="Remove Interrogatory"></span>
    <% end %>
  </td>
</tr>
<script type="text/javascript">
    $(document).ready(function() {
        var self =  $("#popup_interrogatory");
        $("#interrogatory_select select").mouseover(function(){
            $(this).attr("size", 6);
        });
        $("#interrogatory_select select").click(function(){
            $(this).attr("size", 1);
        });
        $("#interrogatory_select select").mouseout(function(){
            $(this).attr("size", 1);
        });

        $("select option").hover(function (e)
        {
            var $target = $(e.target);
            if($target.is('option')){
                //contact_name = $target.text()
                var idd = $target.val().split(':')[0];
                $.ajax({
                    url: '/contacts/'+ idd,
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                    },
                    success: function(data){
                        $("#popup_interrogatory").html(data.first_name + ' ' + data.last_name + '<br>' +
                                data.address + '<br>' + 'P: ' + data.phone_number + '<br>' +
                                'F: ' + data.fax_number
                        ).fadeIn( "slow").show();/* do something meaningful with data */},/* do something meaningful with data */
                    error: function(xhr, status, response) {/* your error callback */}
                });

            }
        },function ()
        {
            setTimeout(function () { $(self).fadeOut('slow'); }, 3000);
        });
    });
</script>

