
<tr class="nested-fields medical-bill-field" style="border-bottom: 1px solid black">
  <%= javascript_include_tag 'interrogatories/interrogatory_fields', 'data-turbolinks-track' => true %>
  <td colspan="11" style="padding: 0;">
    <table>
      <tr>
          <td class="text-center">
              <strong><%= f.options[:child_index].to_i + 1 if f.object.id %></strong>
          </td>
          <td class="right" colspan="">
              <strong>Requester</strong><br>
              <%= f.association :requester, :collection => @firm.contacts, :class => 'table-input', :label => false %>
          </td>
          <td class="right" colspan="">
              <strong>Interrogatory</strong><br>
              <%= f.text_field :question, :class => 'table-input' %>
          </td>
          <td class="right" colspan="">
              <strong>Date Requested</strong><br>
              <%= f.date_field :req_date, :class => 'table-input' %>
          </td>
          <td class="right" colspan="">
              <strong>Date Replied</strong><br>
              <%= f.date_field :rep_date, :class => 'table-input' %>
          </td>
      </tr>
      <tr style="border-bottom: 2px solid black;">
          <td>   
          </td>
          <td class="right" colspan="">
              <strong>Responder</strong><br>
              <%= f.association :responder, :collection => @firm.contacts, :class => 'table-input', :label => false %>
          </td>
          <td class="right" colspan="">
              <strong>Reply</strong><br>
              <%= f.text_field :response, :class => 'table-input' %>
              <br>
          </td>
          
           <td class="text-center doc-link" style="text-align: left;" colspan="2">
            <% if f.object.document.try(:document).try(:file) %>
              Existing Document: <%= link_to f.object.document.document.file.filename, f.object.document.document_url %>
              <br />
            <% end %>
            <%= f.simple_fields_for :document, f.object.document ? f.object.document : f.object.build_document do |d| %>
              <%= d.file_field :document, label: false, :class => 'table-input-file' %>
              <%= d.input :author, as: :hidden, :input_html => {value: @user.name} %>
              <%= d.input :firm_id, :input_html => {value: @firm.id}, as: :hidden %>
              <%= d.input :user_id, :input_html => {value: @user.id}, as: :hidden %> 
            <% end %>
          </td>
      </tr>
    </table>
  </td>
  <td colspan="1" style="text-align: center; border-bottom: 2px solid black;">
  <%= link_to_remove_association f, class: 'remove_children remove' do %>
      <span id="remove" class="glyphicon glyphicon-remove" original-title="Remove Interrogatory"></span>
    <% end %>
  </td>
</tr>
<script type="text/javascript">
    $(document).ready(function() {
        var timeout = setTimeout(function(){
            $(".hover_interrogatory_container").hide();
        }, 2000);
        var self =  $("#popup_interrogatory");
        $(document).mousemove(function (e) {
            mX = e.pageX;
            mY = e.pageY;
        }).mouseover();
        $('#add_contact').on('click',function() {
            $('.hover_interrogatory_container').css({
                'height': '230px',
                'padding': '10px'
            });
            $('#popup_interrogatory').html("<%= escape_javascript(render 'contacts/add_contact', new_fly: @fly_creation) %>");
            $('.hover_interrogatory_container').show();
            clearTimeout(timeout);
        });
        $('.hover_interrogatory_container').on('mouseover', function(){
            $('.hover_interrogatory_container').show();
        });
        $(document).click(function(event) {
            if(!$(event.target).closest('.hover_interrogatory_container').length) {
                if($('.hover_interrogatory_container').is(":visible")) {
                    $('.hover_interrogatory_container').hide()
                }
            }
        })
        $('select').select2()
                .on("change", function(e) { // When user select Value then change event fire


                })
                .on("select2-highlight", function(e) { //when user mouse over or highlight value using keyboard navigation keys ("arrow keys")
                    $('.hover_interrogatory_container').css({
                        'height': 'auto',
                        'padding': '10px'
                    });
                    var p = 'P: ';
                    var f = 'F: ';
                    var idd = e.val.split(':')[0];
                    $.ajax({
                        url: '/contacts/'+ idd,
                        type: 'GET',
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                        },
                        success: function(data){
                            $('.hover_interrogatory_container').css({
                                'opacity': '0.1',
                                'top': mY-120,
                            }).animate({
                                'opacity': '1.0',
                            }, 300).show();
                            if(data.fax_number == null || data.fax_number == '') { data.fax_number = ''; f = '';} else {f = '<br>' + 'F: ';}
                            if(data.phone_number == null || data.phone_number == '') {data.phone_number = ''; p = '';} else {p = '<br>' + 'P: ';}
                            if(data.address == null) {data.address = '' }
                            $("#popup_interrogatory").html(data.first_name + ' ' + data.last_name + '<br>' +
                                    data.address + p + data.phone_number  +
                                    f + data.fax_number
                            ).fadeIn( "slow").show();
                            timeout();
                            /* do something meaningful with data */},
                        error: function(xhr, status, response) {/* your error callback */}
                    });
                });
    });
</script>
