<%= simple_form_for(new_event) do |f| %>
      <%= f.error_notification %>

      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
              <h1>Calendar Event</h1>
            </div>
         <div class="modal-body">

         <table class="case-form table-condensed">
            <tbody>
               
                <tr>
                    <td>
                        <strong>Subject:</strong>
                    </td>
                    <td> 
                        <%= f.text_field :subject, label: false, :class => 'table-input' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Location:</strong>
                    </td>
                    <td>
                        <%= f.text_field :location, label: false, :class => 'table-input' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Invitee Emails:</strong><br><span id="invite" title="Invitees will receive an email invite. If a gmail account, the event will also be added to their Google calendar" style="cursor: pointer; float: right; margin-right: 5px; font-size: 14px;" class="glyphicon glyphicon-question-sign"></span>
                    </td>
                    <td>
                        <%= f.input :contacts, label: false, :input_html => {:id => "invitee_select", :value => "#{new_event.contacts.map {|contact| contact.email}.join(',')}"}, :class => 'table-input' %>
                    </td>
                </tr>
                  <tr>
                    <td>
                        <strong>Case(s):</strong>
                    </td>
                    <td>
                        <%= f.association :cases, :collection => @firm.cases, :input_html => {:id => "case_select"}, :class => 'sel2', label: false %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>All day Event:</strong>
                    </td>
                    <td>
                        <%= f.check_box :all_day, label: false %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Start Time:</strong>
                    </td>
                    <td>
                      <% #f.datetime_field :start, :class => 'datetimepicker table-input', label: false, data: {:"date-format" => "YYYY-MM-DD hh:mm A"}, :value => (f.object.start.strftime('%Y-%m-%d %I:%M %p') if f.object.start)   %>
                      <%= f.text_field :start_date, value: @event.present? ? @event.try(:start).try(:strftime,'%-m/%d/%Y') : Time.now.strftime('%-m/%d/%Y'), id: 'event_start_date' %>
                      <%= f.text_field :start_time, value: @event.present? ? @event.try(:start).try(:strftime,'%I:%M %p') : Time.now.strftime('%I:%M %p'),  id: 'event_start_time'%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>End Time:</strong>
                    </td>
                    <td>
                      <% #f.datetime_field :end, :class => 'datetimepicker table-input', label: false, data: {:"date-format" => "YYYY-MM-DD hh:mm A"}, :value => (f.object.end.strftime('%Y-%m-%d %I:%M %p') if f.object.end) %>
                      <%= f.text_field :end_date, value: @event.present? ? @event.try(:end).try(:strftime,'%-m/%d/%Y') : Time.now.strftime('%-m/%d/%Y'), id: 'event_end_date' %>
                      <%= f.text_field :end_time, value: @event.present? ? @event.try(:end).try(:strftime,'%I:%M %p') : (Time.now+1.hour).strftime('%I:%M %p'),  id: 'event_end_time'%>
                    </td>
                </tr>
              
                 <tr>
                    <td>
                        <strong>Add to Google Cal:</strong>
                    </td>
                    <td>
                       <%= f.select :google_calendar_id, current_user.google_calendars.map {|calendar| [calendar.summary, calendar.google_id]}, :include_blank => true, :class => 'table-input' %>
                    </td>
                </tr>
                 <tr>
                    <td class="big-row">
                        <strong>Description:</strong>
                    </td>
                    <td class="big-row">
                        <%= f.text_area :notes, label: false, :class => 'table-text' %>
                    </td>
                </tr>
                
            </tbody>
         </table>

          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a>
              </div>

              <div class="form-actions">
              <% if @event.present? %>
                  <%= link_to @event,  :class => 'btn btn-danger', method: :delete, data: { confirm: 'WARNING! Deleting an event will remove the event from all calendars. Would you like to continue?' } do %>Delete<% end %>
                <% end %>
                  <%= f.button :submit, :class =>"btn btn-info", :style => 'font-size: 18px;' %>
              </div>

            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->

<% end %>
<script>
$(document).ready(function() {
  $('#case_select, #attorney_select, select').select2();
  $('#event_start_date, #event_end_date').datetimepicker({
    pickTime: false,
    format: 'M/D/YYYY'
  });
  $('#event_start_time, #event_end_time').datetimepicker({
    pickDate: false
  });

  var end_time_manual_set = false;

  $('#event_start_date, #event_start_time').change(function (e) {
    var start_date = $('#event_start_date').val();
    var start_time = $('#event_start_time').val();
    var end_date_time = moment(start_date+' '+start_time, 'MM/DD/YYYY HH:mm A').add(1, 'h')
    $('#event_end_date').val(end_date_time.format('M/D/YYYY')).change();
    $('#event_end_time').val(end_date_time.format('h:mm A')).change();
  });

  $('#invitee_select').tagit({
    availableTags: <%= @emails_autocomplete.to_json.html_safe %>
  });
});
</script>
<script type='text/javascript'>
  $(function() {
    $('#invite').tipsy({gravity: 's', fade: true});
  });
</script>