<%= simple_form_for(new_event) do |f| %>
      <%= f.error_notification %>

      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" data-dismiss="modal">×</a>
              <h2>Calendar Event</h2>
            </div>
         <div class="modal-body">

         <table class="case-form table-condensed">
            <tbody>
                <tr>
                    <td>
                        <strong>Summary:</strong>
                    </td>
                    <td>
                        <%= f.text_field :summary, label: false, :class => 'table-input' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Subject:</strong>
                    </td>
                    <td> 
                        <%= f.text_field :subject, label: false, :class => 'table-input' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Location:</strong>
                    </td>
                    <td>
                        <%= f.text_field :location, label: false, :class => 'table-input' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Assign Attorney(s):</strong>
                    </td>
                    <td>
                        <%= f.association :users, label: false, :collection => @firm.users, :input_html => {:id => "attorney_select"}, :class => 'sel2' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Invitees:</strong>
                    </td>
                    <td>
                        <%= f.input :contacts, label: false, :input_html => {:id => "invitee_select", :value => "#{new_event.contacts.map {|contact| contact.email}.join(',')}"}, :class => 'table-input' %>
                    </td>
                </tr>
                  <tr>
                    <td>
                        <strong>Case(s):</strong>
                    </td>
                    <td>
                        <%= f.association :cases, :collection => @user.cases, :input_html => {:id => "case_select"}, :class => 'sel2', label: false %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Start:</strong>
                    </td>
                    <td>
                        <%= f.date_field :start, :class => 'datetimepicker', label: false %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>End:</strong>
                    </td>
                    <td>
                        <%= f.date_field :end, :class => 'datetimepicker', label: false %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>All day Event:</strong>
                    </td>
                    <td>
                        <%= f.check_box :all_day, label: false, :class => 'table-input' %>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <strong>Reminder:</strong>
                    </td>
                    <td>
                        <%= f.check_box :reminder, label: false, :class => 'table-input'%>
                    </td>
                </tr>
               <!-- <tr>
                    <td>
                      Status:
                    </td>
                    <td>
                        <%= f.select :status, ['tentative', 'confirmed', 'cancelled'], label: false %>
                    </td>
                </tr> -->
              
                <% if action_name == 'index' %>
                 <tr>
                    <td>
                        <strong>Google Calendar:</strong>
                    </td>
                    <td>
                       <%= f.select :google_calendar_id, current_user.google_calendars.map {|calendar| [calendar.summary, calendar.google_id]}, :class => 'table-input' %>
                    </td>
                </tr>
                <% end %>
            </tbody>
         </table>

          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>

              <div class="form-actions">
                  <%= f.button :submit, :class =>"sub2-small" %>
              </div>

            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->

<% end %>
<script>
$(document).ready(function() {
  $('#case_select, #attorney_select').select2();
  $('.datetimepicker').datetimepicker({
    format: 'Y-m-d H:i'
  });
  $('#invitee_select').tagit({
    availableTags: <%= @emails_autocomplete.to_json.html_safe %>
  });
});
</script>