<%= simple_form_for(new_event) do |f| %>
      <%= f.error_notification %>

      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" data-dismiss="modal">×</a>
              <h1>Calendar Event</h1>
            </div>
         <div class="modal-body">

               <div class="form-inputs">
                <%= f.input :subject %>
                <%= f.input :location %>
                <%= f.association :contacts, :label => "Lawyer", :collection => Contact.all.where("type = 'Attorney'"), :input_html => {:id => "attorney_select"}, :class => 'sel2' %> 
                <%= f.input :date %>
                <%= f.input :time %>
                <%= f.association :users, :label => "Invitees", :input_html => {:id => "invitee_select"}, :class => 'sel2' %>
                <%= f.input :all_day %>
                <%= f.input :reminder %>
                <%= f.association :cases, :collection => @user.cases, :input_html => {:id => "case_select"}, :class => 'sel2' %>
                <%= f.input :notes %>
               </div>

          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>

              <div class="form-actions">
                  <%= f.button :submit, :class =>"sub" %>
              </div>

            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->

<% end %>
<script>
$(document).ready(function() {
  $('#case_select, #attorney_select, #invitee_select').select2();
});
</script>