<%= simple_form_for(new_event) do |f| %>
      <%= f.error_notification %>

    <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" data-dismiss="modal">×</a>
              <h1>New Calendar Event</h1>
            </div>
         <div class="modal-body">
    <% end %>

               <div class="form-inputs">
                <%= f.input :subject %>
                <%= f.input :location %>
                <%= f.association :attorneys, :label => "Lawyer" %> 
                <%= f.input :date %>
                <%= f.input :time %>
                <%= f.association :users, :label => "Invitees" %>
                <%= f.input :all_day %>
                <%= f.input :reminder %>
                <%= f.association :cases, :collection => @user.cases %>
                <%= f.input :notes %>
               </div>

        <% if action_name == "index" %>            
          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>
        <% end %>

              <div class="form-actions">
                  <%= f.button :submit, :class =>"btn btn-default" %>
              </div>

    <% if action_name == "index" %>        
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
    <% end %>

<% end %>