<%= simple_form_for(new_event) do |f| %>
      <%= f.error_notification %>

      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" data-dismiss="modal">×</a>
              <h1>Calendar Event</h1>
            </div>
         <div class="modal-body">

               <div class="form-inputs">
                <%= f.input :summary %>
                <%= f.input :subject %>
                <%= f.input :location %>
                <%= f.association :contacts, :label => "Lawyer", :collection => Contact.all.where("type = 'Attorney'"), :input_html => {:id => "attorney_select"}, :class => 'sel2' %>
                <div class="control-group string optional event_subject">
                  <%= f.label :start%>
                  <div class="controls"><%= f.text_field :start, :class => 'datetimepicker'%></div>
                </div>
                <div class="control-group string optional event_subject">
                  <%= f.label :end%>
                  <div class="controls"><%= f.text_field :end, :class => 'datetimepicker'%></div>
                </div>
                <%= f.input :all_day %>
                <%= f.association :users, :label => "Invitees", :input_html => {:id => "invitee_select"}, :class => 'sel2' %>
                <%= f.association :event_attendees, :label => "Attendee", :label_method => lambda { |attendee| attendee.display_name }, :input_html => {:id => "attendee_select"}, :class => 'sel2' %>
                <%= f.input :reminder %>
                <div class="control-group string optional event_subject">
                  <%= f.label :status%>
                  <div class="controls"><%= f.select :status, ['confirmed', 'tentative', 'cancelled'] %></div>
                </div>
                <%= f.association :cases, :collection => @user.cases, :input_html => {:id => "case_select"}, :class => 'sel2' %>
                <%= f.input :notes %>
               </div>

          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>

              <div class="form-actions">
                  <%= f.button :submit, :class =>"sub" %>
              </div>

            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->

<% end %>
<script>
$(document).ready(function() {
  $('#case_select, #attorney_select, #invitee_select, #attendee_select').select2();
  $('.datetimepicker').datetimepicker({
    format: 'Y-m-d H:i'
  });
});
</script>