<%= simple_form_for(new_event) do |f| %>
  <%= f.error_notification %>

<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
        <h1>New Event</h1>
   </div>
   <div class="modal-body">

      <div class="form-inputs">
        <%= f.input :subject %>
        <%= f.input :location %>
        <%= f.association :attorneys, :label => "Lawyer" %> 
        <%= f.input :date %>
        <%= f.input :time %>
        <%= f.association :users, :label => "Invitees" %>
        <%= f.input :all_day %>
        <%= f.input :reminder %>
        <%= f.association :cases, :collection => @user.cases %>
        <%= f.input :notes %>
      </div> 
   </div>
   <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a> 
      </div>
      <div class="form-actions">
          <%= f.button :submit, :class =>"btn btn-default" %>
      </div>
   </div>
  </div>
</div>
<% end %>