<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
      <h1>Calendar Event</h1>
    </div>
    <div class="modal-body">

    <div style="margin-left:40px;">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Title:</strong>
        <%= @event.title %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @event.location %>
      </p>
         <p>
        <strong>Participants:</strong>
        <%= @event.participants.map {|c| c.name}.join(', ') %>
      </p>
      <p>
        <strong>Start Time:</strong>
        <%= @event.starts_at.strftime("%b %e, %Y %l:%M %p") %>
      </p>

      <p>
        <strong>End Time:</strong>
        <%= @event.ends_at.strftime("%b %e, %Y %l:%M %p") %>
      </p>
      <p>
        <strong>External calendar:</strong>
        <%= "#{@event.calendar.namespace.full_name}: #{@event.calendar.name}" %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>
    </div>

    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>

    </div><!--end of modal-footer-->
  </div><!--end of modal-content-->
</div><!--end of modal-dialog-->