<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
      <h1>Calendar Event</h1>
    </div>
    <div class="modal-body">

    <div style="margin-left:40px;">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Calendar:</strong>
        <%= "#{@event.try(:calendar).try(:namespace).try(:full_name)}: #{@event.try(:calendar).try(:name)}" %>
      </p>
      <p>
        <strong>Event Name:</strong>
        <%= @event.title %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @event.location %>
      </p>
      <p>
        <strong>Invitees:</strong>
        <%= @event.participants.map {|c| c.name}.join(', ') %>
      </p>
      <p>
        <strong>Start Time:</strong>
        <%= simple_format_datetime @event.starts_at %>
      </p>

      <p>
        <strong>End Time:</strong>
        <%= simple_format_datetime @event.ends_at %>
      </p>
      
      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>
    </div>

    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>

    </div><!--end of modal-footer-->
  </div><!--end of modal-content-->
</div><!--end of modal-dialog-->