<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h1>Calendar Event</h1>
    </div>
    <div class="modal-body">

      <p id="notice"><%= notice %></p>
      <p>
        <strong>Subject:</strong>
        <%= @event.subject %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @event.location %>
      </p>

      <p>
        <strong>Lawyer(s):</strong>
        <%= @event.contacts.map {|c| c.name}.join(', ') %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @event.date %>
      </p>

      <p>
        <strong>Time:</strong>
        <%= @event.time %>
      </p>

      <p>
        <strong>Invitee(s):</strong>
        <%= @event.users.map {|c| c.name}.join(', ') %>
      </p>

      <p>
        <strong>All day:</strong>
        <%= @event.all_day %>
      </p>

      <p>
        <strong>Reminder:</strong>
        <%= @event.reminder %>
      </p>

      <p>
        <strong>Case(s):</strong>
        <%= @event.cases.map {|c| c.name}.join(', ') %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @event.notes %>
      </p>

    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>

    </div><!--end of modal-footer-->
  </div><!--end of modal-content-->
</div><!--end of modal-dialog-->