<div id="index-buttons" style="margin-right: 38px; margin-bottom: 10px;">
  <ul>
    <li><%= link_to refresh_google_events_path,  :class => 'dark-small' do %><span data-tip="Refresh" class="glyphicon glyphicon-refresh tip"></span> <% end %></li>
    <li><%= link_to "NEW #{controller_name.singularize.upcase}", @new_path, {:class => "action-button", :id => "new_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></li>
  </ul>
</div>

  <div class="calendar-table">
    <div id="calendar"></div>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new ) %>");
  });
  $('.dark-small').click(function(e){
    e.preventDefault();
    bootbox.confirm("This can take a while, you sure you want to sync your calendar now?", function(result) {
      if (result) {
        $(e.currentTarget).replaceWith("<img src='/assets/ajaxSpinner.gif' height='24' width='24'>");
        window.location.href = "<%= refresh_google_events_path %>";
      }
    });
  });
  $('#calendar').fullCalendar({
    weekMode: 'liquid',
    eventClick: function(calEvent, jsEvent, view) {
      $.ajax({
        type: "GET",
        url: '/events/' + calEvent.id + '/edit',
        success: function(data)
        {
          $("#modal-window").html(data);
          $("#modal-window").modal();
        }
      });
    },
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,basicWeek,basicDay'
    },
    events: <%= @events_list.to_json.html_safe %>,
    editable: true,
    eventDrop: function(event, delta, revertFunc) {
      if (confirm("Are you sure about this change?")) {
        $.ajax({
          type: "POST",
          url: '/event_drag/',
          data: {event: {start: event.start, end: event.end}, id: event.id},
          success: function(data)
          {
            $('.alert').remove();
            $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
          }
        });
      }
      else {
        revertFunc();
      }

    }
  });
  $('.tip').tipr({
    'speed': 500,
    'mode': 'top'
  });
});
</script>