<div class="grey">
  <div class="buttons">
    <%= link_to 'NEW EVENT', new_event_path, {:class => "action-button", :id => "event_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
    <div class="btn-group">
      <button type="button" class="btn btn-default">FILTER BY ATTORNEY</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">

        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <%= form_tag(users_path, :method => "get", class: "case-filter") do %>
      <%= text_field_tag :search, params[:search], placeholder: "FILTER BY CASE"%>
    <% end %>
  </div>
</div>


  <div class="table-responsive calendar-table">
    <div id="calendar"></div>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#event_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new ) %>");
  });
  $('#calendar').fullCalendar({
    eventClick: function(calEvent, jsEvent, view) {
      $.ajax({
        type: "GET",
        url: '/events/' + calEvent.id + '/edit',
        success: function(data)
        {
//          console.log(data);
          $("#modal-window").html(data);
          $("#modal-window").modal();
        }
      });
    },
    header: {
      left:   'prev, title, next',
      center: '',
      right:  ''
    },
    events: <%= @events_list.to_json.html_safe %>
  })
});
</script>