<% new_fly ||= Contact.new %>
<%= simple_form_for(new_fly, :url => {:controller => 'contacts', :action => 'fly_create_contact'}, :method => :post, :remote => true, :html => {:class => 'fly_create'}) do |f| %>
  <tr id="first_name">
    <td>
      <strong>Company Name:</strong>
    </td>
    <td>
      <input name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>"/>
      <%= f.text_field :company_name, label: false, :class => 'table-input', placeholder: 'Allstate' %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Role:</strong>
    </td>
    <td>
      <%= f.select :type, Contact::TYPES, {:class => 'table-input', :selected => 'Company'}, {:disabled => true} %>
      <%= f.hidden_field :type, value: 'Company' %>
    </td>
  </tr>
  <div class="form-actions"><br/>
    <%= f.button :submit, :class => 'btn btn-info', :style => 'font-size: 12px;margin-right:15px;' %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('select').select2();
    $("form.fly_create").on('submit', function (e) {
      var $form = $(this);
      e.preventDefault();
      $.ajax({
        url: '/contacts/fly_create_contact',
        type: 'POST',
        data: {contact: {first_name: $form.find('input[name="contact[first_name]"]').val(), last_name: $form.find('input[name="contact[last_name]"]').val(), type: $form.find('select[name="contact[type]"]').val()}},
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        }
      }).always(function() {
        <%= yield :fly_contact_success  %>
        location.reload();
        return false;
      });
      return false;
    });
  });
</script>