<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Company Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
        <tr>
        <td class="right">
          <strong>Company Name:</strong>
        </td>
        <td class="doc-link">
          <%= link_to @company.name, @company_path_ %>
        </td>
      </tr>      
      <tr>
        <td class="right">
          <strong>Website:</strong>
        </td>
        <td class="doc-link">
          <%= link_to @company.website, "http://#{@company.website}", :target => '_blank' %>
        </td>
      </tr>      
        <tr>
        <td class="right">
          <strong>Company Address:</strong>
        </td>
        <td>
          <%= @company.address %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Company Address 2:</strong>
        </td>
        <td>
          <%= @company.address_2 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td>
          <%= @company.city %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td>
          <%= @company.state %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zip Code:</strong>
        </td>
        <td>
          <%= @company.zip_code %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Main Phone:</strong>
        </td>
        <td>
              <%= @company.phone_number %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Main Fax:</strong>
        </td>
        <td>
              <%= @company.fax_number %>
        </td>
      </tr>
  </tbody>
</table>