<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Contact Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
        <tr>
        <td class="right">
          <strong>Home Address:</strong>
        </td>
        <td>
          <%= @contact.address %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td>
          <%= @contact.city %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td>
          <%= @contact.state %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zip Code:</strong>
        </td>
        <td>
          <%= @contact.zip_code %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email:</strong>
        </td>
        <td class="doc-link">
          <%=  mail_to (@contact.email) %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Main Phone:</strong>
        </td>
        <td>
          <%= @contact.phone_number %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Mobile:</strong>
        </td>
        <td>
          <%= @contact.mobile %>
        </td>
      </tr>
      <% @contact.try(:phones).each do |phone| %>
      <tr>
        <td>
          <Strong><%= phone.label + ':' %></Strong>
        </td>
        <td>
          <%= phone.number %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>