<%= simple_form_for(new_contact) do |f| %>
  <%= f.error_notification %>
     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Contact</h2>
          </div>
          <div class="modal-body">
     <% end %>

     <table class="contact-form table-condensed">
        <tbody>
            <tr>
                <td>
                    <strong>Contact Type:</strong>
                </td>
                <td>
                   <%= f.select :type, Contact::TYPES, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>First Name:</strong>
                </td>
                <td>
                    <%= f.text_field :first_name, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Middle Name:</strong>
                </td>
                <td>
                    <%= f.text_field :middle_name, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Last Name:</strong>
                </td>
                <td>
                    <%= f.text_field :last_name, label: false, :class => 'table-input' %>
                </td>
            </tr>
              <tr>
                <td>
                  <strong>Corporation:</strong>
                </td>
                <td style="float:left;">
                    <%= f.check_box :corporation, label: false %>
                </td>
            </tr>  
               <tr>
                <td>
                    <strong>Company or Firm:</strong>
                </td>
                <td>
                    <%= f.text_field :company, label: false, :class => 'table-input' %>
                </td>
            </tr>
               <tr>
                <td>
                    <strong>Address:</strong>
                </td>
                <td>
                    <%= f.text_field :address, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>City:</strong>
                </td>
                <td>
                    <%= f.text_field :city, label: false, :class => 'table-input' %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>State:</strong>
                </td>
                <td>
                    <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
                </td>
            </tr>
             <tr>
              <tr>
                <td>
                    <strong>Zipcode:</strong>
                </td>
                <td>
                    <%= f.text_field :zip_code, label: false, :class => 'table-input' %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>Phone:</strong>
                </td>
                <td>
                    <%= f.text_field :phone_number, label: false, :class => 'table-input', placeholder: '(XXX) XXX-XXXX' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Fax:</strong>
                </td>
                <td>
                    <%= f.text_field :fax_number, label: false, :class => 'table-input', placeholder: '(XXX) XXX-XXXX'  %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>Email:</strong>
                </td>
                <td>
                    <%= f.text_field :email, label: false, :class => 'table-input', placeholder: 'john.smith@gmail.com'  %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gender:</strong>
                </td>
                <td>
                    <div class="radio">
                        <%= f.radio_button :gender, 'M' %> 
                        <%= label :gender, 'Male' %>
                    </div>
                    <div class="radio">
                        <%= f.radio_button :gender, 'F' %>
                        <%= f.label :gender, 'Female', :value => 'Female'%>
                    </div>
                
                </td>
            </tr>
             <tr id="age">
                <td>
                  <strong>Age:</strong>
                </td>
                <td>
                    <%= f.text_field :age, label: false, :class => 'table-input' %>
                </td>
            </tr>  
            </tr>
             <tr id="ssn_field">
                <td>
                  <strong>SSN:</strong>
                </td>
                <td>
                    <%= f.text_field :ssn, label: false, class: 'table-input' %>
                </td>
            </tr> 
            <tr id='date_of_birth_field'>
                <td>
                  <strong>Date of Birth:</strong>
                </td>
                <td>
                    <%= f.date_field :date_of_birth, label: false, :class =>'table-input' %>
                </td>
            </tr> 

        </tbody>
      </table>
     <% if action_name == "index" %>        
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a> 
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"sub2-small" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>
<script>
  $(document).ready(function() { $("select").select2(); });
  $("#new_contact").bind("ajax:error", function(evt, xhr, status, error){
    var error_text = "";
    var error_list = $.parseJSON(xhr.responseText);
    $.each(error_list, function(key, value){
      error_text = error_text + key + ": " + value.join(', ') + "</br>";
    });
    $('.alert').remove();
    $('body').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + error_text + "</div>");
  });
  $("#new_contact").bind("ajax:success", function(e, data, status, xhr){
    $('#modal-window').modal('hide');
    $('.alert').remove();
    $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>Contact was successfully created.</div>");
    var tr = $('.table').DataTable().row.add( [
          "<a href='/contacts/"+data.id+"'>"+data.last_name+" "+data.first_name+"</a>",
          data.type,
          data.email,
          data.phone_number
    ] ).draw();
    });
    $('#ssn_field').hide();
    $('#age').hide();
    $('#date_of_birth_field').hide();
    $('#contact_type').on('change', function() {
        var conceptName = $('#contact_type').find(":selected").text();
        if (conceptName == 'Defendant') {
          $('#date_of_birth_field').show();
          $('#ssn_field').show();
          $('#age').show();
        } else if (conceptName == 'Plaintiff') {
          $('#ssn_field').show();
          $('#date_of_birth_field').show();
          $('#age').show();
        } else {
          $('#ssn_field').hide();
          $('#date_of_birth_field').hide();
          $('#age').hide();
        }
      });
</script>
