<%= simple_form_for(new_contact) do |f| %>
  <%= f.error_notification %>
     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Contact</h2>
          </div>
          <div class="modal-body">
     <% end %>

            <div class="form-inputs">
                <%= f.input :type, :label => 'Contact Type', :collection => Contact::TYPES %>
                <%= f.input :first_name %>
                <%= f.input :middle_name %>
                <%= f.input :last_name %>
                <%= f.input :address %>
                <%= f.input :city %>
                <%= f.input :state, as: :select, collection: us_states %>
                <%= f.input :phone_number %>
                <%= f.input :fax_number %>
                <%= f.input :email %>
                <%= f.input :gender, :collection => ['M', 'F'], as: :radio_buttons %>
                <%= f.input :age %>
            </div>  
     <% if action_name == "index" %>        
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a> 
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"sub" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>
