<%= simple_form_for(new_contact) do |f| %>
  <%= f.error_notification %>
     <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Contact</h2>
          </div>
          <div class="modal-body">
     <% end %>

<<<<<<< HEAD
     <table class="contact-form table-condensed">
        <tbody>
            <tr>
                <td>
                    <strong>Contact Type:</strong>
                </td>
                <td>
                   <%= f.select :type, Contact::TYPES, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>First Name:</strong>
                </td>
                <td>
                    <%= f.text_field :first_name, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Middle Name:</strong>
                </td>
                <td>
                    <%= f.text_field :middle_name, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Last Name:</strong>
                </td>
                <td>
                    <%= f.text_field :last_name, label: false, :class => 'table-input' %>
                </td>
            </tr>
               <tr>
                <td>
                    <strong>Company</strong>
                </td>
                <td>
                    <%= f.text_field :company, label: false, :class => 'table-input' %>
                </td>
            </tr>
               <tr>
                <td>
                    <strong>Address:</strong>
                </td>
                <td>
                    <%= f.text_field :address, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>City:</strong>
                </td>
                <td>
                    <%= f.text_field :city, label: false, :class => 'table-input' %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>State:</strong>
                </td>
                <td>
                    <%= f.select :state, us_states, label: false, :class => 'table-input' %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>Phone:</strong>
                </td>
                <td>
                    <%= f.text_field :phone_number, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Fax:</strong>
                </td>
                <td>
                    <%= f.text_field :fax_number, label: false, :class => 'table-input' %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>Email:</strong>
                </td>
                <td>
                    <%= f.text_field :email, label: false, :class => 'table-input' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gender:</strong>
                </td>
                <td>
                    <div class="radio">
                        <%= f.radio_button :gender, 'M' %> 
                        <%= label :gender, 'Male' %>
                    </div>
                    <div class="radio">
                        <%= f.radio_button :gender, 'F' %>
                        <%= f.label :gender, 'Female', :value => 'Female'%>
                    </div>
                
                </td>
            </tr>
             <tr>
                <td>
                  <strong>Age:</strong>
                </td>
                <td>
                    <%= f.text_field :age, label: false, :class => 'table-input' %>
                </td>
            </tr>  
            <tr>
                <td>
                  <strong>Age:</strong>
                </td>
                <td>
                    <%= f.input :corporation, label: false, :class => 'table-input', label: false %>
                </td>
            </tr>  
        </tbody>
      </table>
     <% if action_name == "index" %>        
          </div><!--end of modal-body-->
          <div class="modal-footer">
            <div class="pull-left">
              <a class="close" data-dismiss="modal">Cancel</a> 
            </div>
     <% end %>

            <div class="form-actions">
                <%= f.button :submit, :class =>"sub2-small" %>
            </div>

     <% if action_name == "index" %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
     <% end %>
<% end %>
