<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :contactable_type, :label => 'Contact Type', :collection => ['Witness', 'Plantiff', 'Attorney', 'Client']%>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :phone_number %>
    <%= f.input :fax_number %>
    <%= f.input :email %>
    <%= f.input :gender %>
    <%= f.input :age %>
    <%= f.input :contactable_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
