<%= javascript_include_tag 'contacts/form', 'data-turbolinks-track' => true %>
<script type="text/javascript">
  (function(data) {
    <%= content_for :fly_contact_success do %>
    alert('Hahaha');
    $('.hover_insurance_container').html('').css('display', 'none');
    $.ajax({
      url: '/companies',
      type: 'GET'
    }).done(function(data, status, xhr) {
      $('#contact_company_id').html(data);
      console.log(data);
      console.log(status);
      console.log(xhr);
    });
    return false;
    <% end %>
  })({});
</script>


<%= simple_form_for(new_contact) do |f| %>
  <%= f.error_notification %>
  <% if (%w(index companies show_case_contacts).include? action_name ) || (controller_name == 'dashboards' && action_name == 'new') %>
    <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>

          <h1>New Contact</h1>
        </div>
        <div class="modal-body">
  <% end %>

  <table class="contact-form table-condensed">
    <tbody>
    <tr>
      <td>
        <strong>Contact Type:</strong>
      </td>
      <td>
        <%= f.select :type, Contact::TYPES, :class => 'table-input', :selected => 'Attorney' %>
      </td>
    </tr>
    <tr id="company">
      <td>
        <strong>Company Name:</strong>
      </td>
      <td>
        <%= f.text_field :company_name, label: false, :class => 'table-input', placeholder: 'Allstate' %>
      </td>
    </tr>

    <tr id="first_name">
      <td>
        <strong>First Name:</strong>
      </td>
      <td>
        <%= f.text_field :first_name, label: false, :class => 'table-input', placeholder: 'John' %>
      </td>
    </tr>
    <tr id="last_name">
      <td>
        <strong>Last Name:</strong>
      </td>
      <td>
        <%= f.text_field :last_name, label: false, :class => 'table-input', placeholder: 'Smith' %>
      </td>
    </tr>
    <tr id='date_of_birth_field'>
      <td>
        <strong>Date of Birth:</strong>
      </td>
      <td>
        <%= f.date_field :date_of_birth, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr id="ssn_field">
      <td>
        <strong>SSN:</strong>
      </td>
      <td>
        <%= f.text_field :ssn, label: false, class: 'table-input', placeholder: '222-22-2222' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Address:</strong>
      </td>
      <td>
        <%= f.text_field :address, label: false, :class => 'table-input', placeholder: '123 Easy St' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Address 2:</strong>
      </td>
      <td>
        <%= f.text_field :address_2, label: false, :class => 'table-input', placeholder: '123 Easy St' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>City:</strong>
      </td>
      <td>
        <%= f.text_field :city, label: false, :class => 'table-input', placeholder: 'San Francisco' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>State:</strong>
      </td>
      <td>
        <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Zip Code:</strong>
      </td>
      <td>
        <%= f.text_field :zip_code, label: false, :class => 'table-input', placeholder: '94109' %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Main Phone:</strong>
      </td>
      <td>
        <%= f.telephone_field :phone_number, label: false, :class => 'table-input-75', :id => 'contact_phone', placeholder: '(___) ___-___' %>
        <%= f.telephone_field :extension, label: false, :class => 'table-input-small', :id => 'contact_ext', placeholder: 'Ext.' %>
      </td>
    </tr>
    <tr>
        <td class="right">
          <strong>Main Fax:</strong>
        </td>
        <td>
          <%= f.text_field :fax_number, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
    <tr id="email">
      <td>
        <strong>Email:</strong>
      </td>
      <td>
        <%= f.text_field :email, label: false, :class => 'table-input', placeholder: 'john.smith@gmail.com' %>
      </td>
    </tr>
    <tr id="website">
      <td>
        <strong>Website:</strong>
      </td>
      <td>
        <%= f.text_field :website, label: false, :class => 'table-input', placeholder: 'www.example.com' %>
      </td>
    </tr>
    <tr id="company_field">
      <td>
        <strong>Company:</strong><span id="comp" title="Only existing companies can be added to a contact on this form" style="cursor: pointer; float: right; margin-right: 5px; font-size: 14px;" class="glyphicon glyphicon-question-sign"></span>
      </td>
      <td>
        <%= f.association :company, :collection => @firm.contacts.where(:type => "Company"), :label_method => lambda { |company| "#{company.company_name}" }, :class => 'table-input', :include_blank => true, label: false %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="hover_insurance_container"></div>
        <input type='button' value="+ New Contact" id='add_contact' placeholder="Add contact" class="intra-task" />
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <% if (%w(index companies show_case_contacts).include? action_name ) || (controller_name == 'dashboards' && action_name == 'new') %>
    </div><!--end of modal-body-->
    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-info", :style => 'font-size: 18px;' %>
  </div>

  <% if (%w(index companies show_case_contacts).include? action_name ) || (controller_name == 'dashboards' && action_name == 'new') %>
    </div><!--end of modal-footer-->
    </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  <% end %>
<% end %>


<script type="text/javascript">
  if(typeof mX === "undefined") var mX;
  if(typeof mY === "undefined") var mY;

  $(document).mousemove(function (e) {
    mX = e.pageX;
    mY = e.pageY;
  }).mouseover();
  $('.hover_insurance_container').on('mouseover', function(){
    $('.hover_insurance_container').show();
  });
  $('#add_contact').on('click', function () {
    $(this);
    $('.hover_insurance_container')
        .html("<%= escape_javascript(render 'contacts/add_contact') %>")
        .css({'opacity': '0.1', 'top': mY-260})
        .animate({'opacity': '1.0'}, 300)
        .toggle();
  });
</script>