<%= simple_form_for(new_contact) do |f| %>
 <%= f.error_notification %>

<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
        <h1>New case</h1>
   </div>
   <div class="modal-body">

        <%= f.input :contactable_type, :label => 'Contact Type', :collection => ['Attorney', 'Client', 'Witness', 'Plantiff', 'Defendant', 'General' ]%>
        <%= f.input :first_name %>
        <%= f.input :middle_name %>
        <%= f.input :last_name %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :phone_number %>
        <%= f.input :fax_number %>
        <%= f.input :email %>
        <%= f.input :gender, :collection => ['M', 'F'], as: :radio_buttons %>
        <%= f.input :age %>
             
   </div>
   <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a> 
      </div>
      <div class="form-actions">
          <%= f.button :submit, :class =>"btn btn-default" %>
      </div>
   </div>
  </div>
</div>
<% end %>