<% unless @saved_contact.blank? %>
  <%= content_tag(:div, class: 'info') do %>
    <h3><%= t('contact.notice.similar_list') %></h3>
    <%= content_tag(:ul, :class => 'list') do %>
       <% @saved_contact.similar_contacts.each do |member| %>
        <%= content_tag(:li, :id => "similar-contact-#{member.id}") do %>
          <%= link_to member.name, contact_path(member) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>