<% unless @saved_contact.blank? %>
  <%= content_tag(:div, class: 'info') do %>
    <h3><%= t('contact.notice.similar_list') %></h3>
    <button type="button" class="close info-close">&times;</button>
    <%= content_tag(:ul, :class => 'list') do %>
       <% @saved_contact.similar_contacts.each do |member| %>
        <%= content_tag(:li, :id => "similar-contact-#{member.id}") do %>
          <%= link_to member.name, contact_path(member) %>, <%= member.type %> - Cases: <%= raw member.cases.map {|c| link_to c.name, c}.join(', ') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <script type="text/javascript">
    jQuery(function() {

      jQuery('.info-close').click(function() {
        $(this).parents('.info').slideUp('slow');
      });

    });
  </script>

<% end %>