<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @contact.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
                  <li style="height: 30px;"><%= link_to @contact,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a contact will remove all the contact  information from storage and you will not be able to retrieve it. Would you like to continue?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Contact"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong><%= @contact.type %></strong>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'contact_info_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
        <%= render partial: 'coinfo_table' %>
</div>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'n', fade: true});
    $('#delete').tipsy({gravity: 'ne', fade: true});
    $('#back').tipsy({gravity: 'n', fade: true});
  });
</script>
