<%= simple_form_for @contact do |f| %>
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @contact.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>                    
                    <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
                    <li><%= link_to 'Cancel', @contact, :class => 'dark-right' %></li>
              </ul>
          </div>
    </div>
    <strong><%= @contact.type_with_spacing %></strong>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'contact_info_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Contact Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
        <tr>
        <td class="right">
          <strong>Home Address:</strong>
        </td>
        <td >
              <%= f.text_field :address, label: false, class: 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td>
          <%= f.text_field :city, label: false, class: 'table-input' %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td>
              <%= f.select :state, us_states, :class => 'table-input', :include_blank => true  %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zip Code:</strong>
        </td>
        <td>
              <%= f.text_field :zip_code, label: false, class: 'table-input' %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Main Phone:</strong>
        </td>
        <td>
            <%= f.text_field :phone_number, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Mobile:</strong>
        </td>
        <td >
              <%= f.text_field :mobile, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Other Phone 1:</strong>
        </td>
        <td >
              <%= f.text_field :phone_number_1, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Other Phone 2:</strong>
        </td>
        <td >
              <%= f.text_field :phone_number_2, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Main Fax:</strong>
        </td>
        <td>
                <%= f.text_field :fax_number, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
          <tr>
        <td class="right">
          <strong>Other Fax 1:</strong>
        </td>
        <td>
                <%= f.text_field :fax_number_1, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
          <tr>
        <td class="right">
          <strong>Other Fax 2:</strong>
        </td>
        <td>
                <%= f.text_field :fax_number_2, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
       <tr>
        <td>
          <strong>Email:</strong>
        </td>
        <td class="doc-link">
                <%= f.text_field :email, label: false, class: 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <Strong>Personal Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
  <% if @contact.type == 'Attorney' %>
      <tr>
        <td class="right">
          <strong>Contact Type:</strong>
        </td>
        <td>
          <%= f.select :type, Contact::TYPES, :class => 'table-input' %>      
        </td>
          <td class="right" id="attorney_type_field">
            <strong>Attorney Type:</strong>
          </td>
          <td>
              <%= f.select :attorney_type, Contact::ATTORNEYS, :class => 'table-input', :include_blank => '' %>
          </td>
        </tr>
<% else %>
    <tr>
        <td class="right">
          <strong>Contact Type:</strong>
        </td>
        <td colspan="3">
          <%= f.select :type, Contact::TYPES, :class => 'table-input', :input_html => {value: (f.object.type == "ExpertWitness" ? "Expert Witness" : f.object.type)} %>      
        </td>
        </tr>
      <% end %>
        <tr>
        <td class="right">
          <strong>Corporation?</strong>
        </td>
        <td colspan="3">
                <%= f.check_box :corporation, label: false %>
        </td>
      </tr> 
      <tr>
       <td class="right">
          <strong>Prefix:</strong>
        </td>
        <td>
            <%= f.select :prefix, ['Mr.', 'Mrs.','Ms.', 'Dr.'], label: false, :class => 'table-input', :include_blank => '' %>
        </td>
        <td class="right">
          <strong>First Name:</strong>
        </td>
        <td>
            <%= f.text_field :first_name, :class => 'table-input' %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>Middle Name:</strong>
        </td>
        <td>
              <%= f.text_field :middle_name, :class => 'table-input' %>
        </td>
        <td class="right">
          <strong>Last Name:</strong>
        </td>
        <td>
            <%= f.text_field :last_name, :class => 'table-input' %>
        </td>
        </tr>
        <tr>
          <td class="right">
          <strong>Gender:</strong>
        </td>
        <td colspan="3">
             <div class="radio">
                <%= f.radio_button :gender, 'M' %> 
                <%= label :gender, 'Male' %>
            </div>
            <div class="radio">
                <%= f.radio_button :gender, 'F' %>
                <%= f.label :gender, 'Female', :value => 'Female'%>
            </div>
        </td>
        </tr>
<% if @contact.type == 'Plaintiff' %>
      <tr>
        <td class="right">
          <strong>Date of Birth:</strong>
        </td>
        <td colspan="3">
            <%= f.date_field :date_of_birth, label: false, :class =>'table-input' %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>SSN:</strong>
        </td>
        <td colspan="3">
          <%= f.text_field :ssn, label: false, class: 'table-input' %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Minor:</strong>
        </td>
        <td>
              <%= f.check_box :minor, label: false %>
        </td>
         <td class="right">
          <strong>Majority Date:</strong>
        </td>
        <td>
            <%= f.date_field :major_date, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
      <td class="right">
          <strong>Deceased:</strong>
        </td>
        <td>
              <%= f.check_box :deceased, label: false %>
        </td>
        <td class="right">
          <strong>Date of Death</strong>
        </td>
        <td>
              <%= f.date_field :date_of_death, :class => 'table-input' %>
        </td>
      </tr> 
        <tr>
        <td class="right">
          <strong>Married:</strong>
        </td>
        <td>
          <%= f.check_box :married, label: false %>
        </td>
        <td class="right">
          <strong>Has children?</strong>
        </td>
        <td>
            <%= f.check_box :parent, label: false %>
        </td>
      </tr> 
      <tr>
        <td class="right">
          <strong>Employed:</strong>
        </td>
        <td>
              <%= f.check_box :employed, label: false %>
        </td>
        <td class="right">
          <strong>Occupation:</strong>
        </td>
        <td>
              <%= f.text_field :job_description, label: false, class: 'table-input' %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>Salary:</strong>
        </td>
        <td>
              <%= f.text_field :salary, label: false, class: 'table-input' %>
        </td>
        <td class="right">
          <strong>Per:</strong>
        </td>
        <td>
              <%= f.select :time_bound, ['Year', 'Hour'], label: false, :class => 'table-input', :include_blank => '' %>
        </td>
        </tr>
<% elsif @contact.type == 'ExpertWitness' %>
        <tr>
         <td class="right">
          <strong>Occupation:</strong>
        </td>
        <td colspan="3">
            <%= f.text_field :job_description, label: false, class: 'table-input' %>
        </td>
        </tr>
        <% end %>
       <tr>
        <td class="right big-row">
          <strong>Note:</strong>
        </td>
        <td colspan="3" class="big-row">
              <%= f.text_area :note, :class => 'table-text', :style => "vertical-align:top;"  %>
        </td>
      </tr>
  </tbody>
</table>
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Company Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
          <strong>Company: </strong><span style="float: right;" id="company" title="You must first create a company before linking a contact" style="cursor: pointer;" class="glyphicon glyphicon-question-sign"></span>
        </td>
        <td>
              <%= f.association :company, :collection => @firm.companies, :class => 'table-input', label: false %>
        </td>
      </tr> 
    
      <tr>
        <td class="right">
          <strong>Company Name: </strong>
        </td>
        <td>
              
        </td>
      </tr>      
      <tr>
        <td class="right">
          <strong>Website:</strong>
        </td>
        <td>
            
        </td>
      </tr>      
        <tr>
        <td class="right">
          <strong>Company Address:</strong>
        </td>
        <td >
             
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td >
          
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td >
             
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zip Code:</strong>
        </td>
        <td >
              
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Main Phone:</strong>
        </td>
        <td>
             
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Main Fax:</strong>
        </td>
        <td>
            
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() { 
    toggleAttorneyType();
  });
 
    $('#ssn_field').hide();
    $('#age').hide();
    $('#date_of_birth_field').hide();
    
    $('#contact_type').on('change', function() {
        var conceptName = $('#contact_type').find(":selected").text();
        if (conceptName == 'Defendant') {
          $('#date_of_birth_field').show();
          $('#ssn_field').show();
          $('#age').show();
          $('#attorney_type_field').hide();
        } else if (conceptName == 'Plaintiff') {
          $('#ssn_field').show();
          $('#date_of_birth_field').show();
          $('#age').show();
          $('#attorney_type_field').hide();
        } 
        else if (conceptName == 'Attorney') {
          $('#attorney_type_field').show();
        } else {
          $('#ssn_field').hide();
          $('#date_of_birth_field').hide();
          $('#age').hide();
          $('#attorney_type_field').hide();
        }
      });

    function toggleAttorneyType(){
      var conceptName = $('#contact_type').find(":selected").text();
      if (conceptName != 'Attorney') {
          $('#attorney_type_field').hide();
      }
    }
</script>
<script>
  $(document).ready(function() {
    $('.phone').mask("(999) 999-9999");
  });
</script>
<script type='text/javascript'>
  $(function() {
    $('#company').tipsy({gravity: 's', fade: true});
  });
</script>
