<% if @case %>
  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @case.name %></strong><br>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Edit', assign_contacts_path(@case), :class => 'dark' %></li>
         <li><%= render 'new_button' %></li>
        </ul>
      </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
  </div> 

<% else %>
  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong>Contacts</strong>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= render 'new_button' %></li>
        </ul>
      </div>
    </div>
    <strong style="color: white;">A</strong>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/contact_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap">
  </div>
  <div style="margin-top: 70px;">
    <h3>Persons</h3>
  </div>
<% end %>

<% if @case %>
<div class="top-table-container">
  <table id="info-table3">
    <thead>
    <tr class="right-top">
      <td colspan="2" class="gray-back">
        <Strong>Case Contacts</Strong>
      </td>
      <td>
        <Strong>Note</Strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <% Contact::TYPES.each do |contact_type| %>
    <tr>
      <td class="right">
        <strong><%= contact_type %>:</strong>
      </td>
      <td class="doc-link">
        <% @case.select_contact_role(contact_type).each_with_index do |contact, index| %>
          <% if contact.type == "Company" %>
           <%= link_to(contact.try(:name), company_path(contact), class: 'tool-tp', title: "#{contact.tooltip}") %><%= index == @case.select_contact_role(contact_type).length - 1 ? '': ', ' %>
          <% else %>
            <%= link_to(contact.try(:name), contact_path(contact), class: 'tool-tp', title: "#{contact.tooltip}") %><%= index == @case.select_contact_role(contact_type).length - 1 ? '': ', ' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= @case.get_role_note(contact_type) %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% else %>
  <div class="table-responsive">
    <table id="tasks" class="table table-striped table-hover rowlink contacts_table">
      <thead class="user-table-head">
      <tr>
        <th>Name</th>
        <th>Contact Type</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <% @contacts.each do |contact| %>
        <tr data-id="<%= contact.id %>">
          <td style="vertical-align: middle;"><%= link_to contact.shift_name, contact_path(contact) %></td>
          <td style="vertical-align: middle;"><%= contact.type %></td>
          <td class="mid-td">
            <div class="larger-td" style='padding-top:12px;'><%= contact.email %></div>
          </td>
          <td style="vertical-align: middle;"><%= contact.phone_number %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @case %>
  <div id="modal-window2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div> <!-- Modal for assign contacts -->
<% end %>


<script type="text/javascript">
  $(document).ready(function () {
    $('#new_modal, #assign_modal').click(function (event) {
      $("#modal-window").html("<%= escape_javascript( render 'contacts/form', new_contact: @contacts_a ) %>");
    });
    <%= render :partial => 'datatable.js', :locals => { :sort_column => 0, :sort_order => 'asc'} %>
    $('.tool-tp').tipsy({gravity: 's', fade: true, html: true});
  });
</script>


