<% if @case %>
  <ol class="breadcrumb">
    <li><%= link_to 'Cases', cases_path %></li>
    <li><%= link_to @case.name, case_path(@case) %></li>
    <li>Contacts</li>
  </ol>

  <%= render partial: 'shared/case_tabs' %>

<%= render 'assign_button' %>
<% else %>
<%= render 'new_button' %>
<% end %>

  <div class="table-responsive">
    <table id="tasks" class="table table-striped table-hover rowlink">
      <thead class="user-table-head">
      <tr>
        <th>Name</th>
        <th>Contact Type</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <% @contacts.each do |contact| %>
        <tr data-id="<%= contact.id %>">
          <td><%= link_to "#{contact.last_name} #{contact.first_name}", contact_path(contact) %></td>
          <td><%= contact.type %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone_number %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% if @case %>
  <div id="modal-window2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div> <!-- Modal for assign contacts -->
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal, #assign_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript( render 'contacts/form', new_contact: @contacts_a ) %>");
    $("#modal-window2").html("<%= escape_javascript( render 'cases/assign_contacts' ) %>");
  });
  <%= render :partial => 'datatable.js', :locals => { :sort_column => 1, :sort_order => 'asc'} %>
  });
</script>


