<% if @case %>
  <div class="case-header">
    <div class="case-title">
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-8" style="font-size: 24px;">
            <strong><%= @case.name %></strong><br>
          </div>
        </div>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Edit', assign_contacts_path(@case), :class => 'dark' %></li>
         <li><%= render 'new_button' %></li>
        </ul>
      </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
    <%= render partial: 'notes/case_alert' %>
  </div> 

<% else %>
  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong>Contacts</strong>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= render 'new_button' %></li>
        </ul>
      </div>
    </div>
    <strong style="color: white;">A</strong>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/contact_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap">
  </div>
  <div style="margin-top: 70px;">
    <h3>Persons</h3>
  </div>
<% end %>

<% if @case %>
<div class="top-table-container">

  <%= render 'contacts/similar_list' %>

  <table id="info-table3">
    <thead>
    <tr class="right-top">
      <td colspan="2" class="gray-back">
        <Strong>Case Contacts</Strong>
      </td>
      <td class="gray-back">
        <Strong>Notes</Strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <% Contact::TYPES.each do |contact_type| %>
    <tr>
      <td class="right">
        <strong><%= contact_type %>:</strong>
      </td>
      <td class="doc-link">
        <% @case.select_contact_role(contact_type).each_with_index do |contact, index| %>
          <% if contact.type == "Company" %>
           <%= link_to(contact.try(:name), company_path(contact), class: 'tool-tp', title: "#{contact.tooltip}") %><%= index == @case.select_contact_role(contact_type).length - 1 ? '': ', ' %>
          <% else %>
            <%= link_to(contact.try(:name), contact_path(contact), class: 'tool-tp', title: "#{contact.tooltip}") %><%= index == @case.select_contact_role(contact_type).length - 1 ? '': ', ' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= @case.get_role_note(contact_type) %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% else %>
 
<%= render :partial => 'table', :locals => { :id => 'user_contacts'} %>
   
<% end %>

<% if @case %>
  <div id="modal-window2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div> <!-- Modal for assign contacts -->
<% end %>


<%= render :partial => "contacts_index_javascript" %>


