<%= link_to 'NEW CONTACT', new_contact_path, {:class => "action-button", :id => "contact_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>

<div class="table-responsive">
  <h3>Contacts</h3>
  <div class="table-responsive">

    <%= table_for @contacts,
                    :table_html => { :class => "table table-striped" },
                    :sortable => true,
                    :sort_url => contacts_path do |contact| %>
          <% contact.column :header => "Name", :order => "last_name, first_name" do |contact| %>
          <%= "#{contact.first_name} #{contact.last_name}" %>
          <% end %>
          <% contact.column :contactable_type, :header => "Contact Type" %>
          <% contact.column :email, :header => "Email" %>
          <% contact.column :data => "Show", :link => true %>
          <% contact.column :data => "Edit", :link_action => :edit %>
          <% contact.column :data => "Delete", :link_method => :delete, :link_confirm => "Are you sure?" %>
         
          <% contact.footer do %>
              <div class="pull-right">
                <%= will_paginate @contacts %>
              </div>
          <% end %>
    <% end %>

  </div>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#contact_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'contacts/form', new_contact: Contact.new ) %>");
  });
});
</script>

<br>


