
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @contact.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Edit', edit_contact_path(@contact), :class => 'dark' %></li>
                  <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
                  <li style="height: 30px;"><%= link_to @contact,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a contact will remove all the contact  information from storage and you will not be able to retrieve it. Would you like to continue?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Contact"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong><%= @contact.type %></strong>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Contact Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
        <tr>
        <td class="right">
          <strong>Home Address:</strong>
        </td>
        <td>
          <%= @contact.address %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td>
          <%= @contact.city %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td>
          <%= @contact.state %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zipcode:</strong>
        </td>
        <td>
          <%= @contact.zip_code %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Phone:</strong>
        </td>
        <td>
          <%= @contact.phone_number %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Mobile:</strong>
        </td>
        <td>
          <%= @contact.mobile %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Fax:</strong>
        </td>
        <td>
          <%= @contact.fax_number %>
        </td>
      </tr>
       <tr>
        <td>
          <strong>Email:</strong>
        </td>
        <td class="doc-link">
          <%=  mail_to (@contact.email) %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <Strong>Personal Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
  <% if @contact.type == 'Attorney' %>
      <tr>
        <td class="right">
          <strong>Contact Type:</strong>
        </td>
        <td>
          <%= @contact.type %>      
        </td>
          <td class="right">
            <strong>Attorney Type:</strong>
          </td>
          <td>
            <%= @contact.attorney_type %>      
          </td>
        </tr>
    <% else %>
     <tr>
        <td class="right">
          <strong>Contact Type:</strong>
        </td>
        <td colspan="3">
          <%= @contact.type %>      
        </td>
        </tr>
      <% end %>
        <tr>
        <td class="right">
          <strong>Corporation?</strong>
        </td>
        <td colspan="3">
          <%= boolean_as_yesno @contact.corporation %>
        </td>
      </tr> 
      <tr>
        <td class="right">
          <strong>Prefix:</strong>
        </td>
        <td>
          <%= @contact.prefix %>
        </td>
          <td class="right">
          <strong>First Name:</strong>
        </td>
        <td>
          <%= @contact.first_name %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>Middle Name:</strong>
        </td>
        <td>
          <%= @contact.middle_name %>
        </td>
        <td class="right">
          <strong>Last Name:</strong>
        </td>
        <td>
          <%= @contact.last_name %>
        </td>
        </tr>
        <tr>
          <td class="right">
          <strong>Gender:</strong>
        </td>
        <td colspan="3">
          <%= @contact.gender %>
        </td>
        </tr>
        <% if @contact.type == 'Plaintiff' %>
      <tr>
        <td class="right">
          <strong>Date of Birth:</strong>
        </td>
        <td colspan="3">
          <%= @contact.date_of_birth.strftime("%m/%d/%Y") if @contact.date_of_birth %>
        </td>
        </tr>
         <tr>
        <td class="right">
          <strong>SSN:</strong>
        </td>
        <td colspan="3">
          <%= @contact.ssn %>
        </td>
      </tr>
        <tr>
        <td class="right">
          <strong>Minor:</strong>
        </td>
        <td>
            <%= boolean_as_yesno @contact.minor %>
        </td>
         <td class="right">
          <strong>Majority Date:</strong>
        </td>
        <td>
              <%= @contact.major_date %>
        </td>
      </tr>
      <tr>
      <td class="right">
          <strong>Deceased:</strong>
        </td>
        <td>
            <%= boolean_as_yesno @contact.deceased %>
        </td>
        <td class="right">
          <strong>Date of Death</strong>
        </td>
        <td>
            <%= @contact.date_of_death %>
        </td>
      </tr> 
        <tr>
        <td class="right">
          <strong>Married:</strong>
        </td>
        <td>
          <%= boolean_as_yesno @contact.married %>
        </td>
        <td class="right">
          <strong>Has children?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @contact.parent %>
        </td>
      </tr> 
      <tr>
        <td class="right">
          <strong>Employed:</strong>
        </td>
        <td>
          <%= boolean_as_yesno @contact.employed %>
        </td>
           <td class="right">
          <strong>Salary:</strong>
        </td>
        <td>
          <%= number_to_currency @contact.salary, precision: 0 %>
        </td>
        </tr>
        <% end %>
       <tr>
        <td class="right big-row">
          <strong>Notes:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @contact.note %>
        </td>
      </tr>
  </tbody>
</table>
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Company Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
        <tr>
        <td class="right">
          <strong>Company Name:</strong>
        </td>
        <td class="doc-link">
          <%= link_to "#{@company.name}", company_path(@company) %>
        </td>
      </tr>      
      <tr>
        <td class="right">
          <strong>Website:</strong>
        </td>
        <td class="doc-link">
          <%= link_to @company.website, "http://#{@company.website}", :target => '_blank' %>
        </td>
      </tr>      
        <tr>
        <td class="right">
          <strong>Company Address:</strong>
        </td>
        <td>
          <%= @company.address %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td>
          <%= @company.city %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td>
          <%= @company.state %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zipcode:</strong>
        </td>
        <td>
          <%= @company.zipcode %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Phone:</strong>
        </td>
        <td>
              <%= @company.phone %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Fax:</strong>
        </td>
        <td>
              <%= @company.fax %>
        </td>
      </tr>
  </tbody>
</table>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'n', fade: true});
    $('#delete').tipsy({gravity: 'ne', fade: true});
    $('#back').tipsy({gravity: 'n', fade: true});
  });
</script>
