

<p id="notice"><%= notice %></p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.type %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @contact.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @contact.fax_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.age %>
</p>


<div class="text-center link-pad">
<%= link_to 'Edit', edit_contact_path(@contact), :class => 'dark' %> |
<%= link_to 'Back to Contacts', contacts_path, :class => 'dark' %>
</div>
