<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :author, :readonly => true, :input_html => { :value => @user.name }%>
    <%= f.input :doc_type %>
    <%= f.input :template %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
