<%= simple_form_for(new_document) do |f| %>
      <%= f.error_notification %>

    <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'client_intakes') %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
              <h1>New Document</h1>
            </div>
         <div class="modal-body">
    <% end %>

        <table class="case-form table-condensed">
            <tbody>
                <tr>
                <td>
                    <strong>Author:</strong>
                </td>
                <td>
                    <%= f.text_field :author, :readonly => true, :value => @user.name, label: false, :class => 'table-input'%>
                </td>
                </tr>
                <% unless controller_name == 'client_intakes' %>
                <tr>
                  <td>
                    <strong>Case:</strong>
                  </td>
                  <td>
                    <% if !@case %>
                      <%= f.association :cases, :collection => @firm.cases, :input_html => {:id => "doc_select"}, label: false, :class => 'table-input' %>
                    <% else %>
                      <%= @case.name %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
                <tr>
                    <td>
                        <strong>Document:</strong>
                    </td>

                    <td>
                        <% new_document = new_document[1] if @case %>
                        <% if new_document.blank? || new_document.document_url.blank? %>
                        <%= f.file_field :document, label: false, :class => 'table-input-file' %>
                        <% else %>
                        Existing Document:
                        <%= link_to @document.document.file.filename, @document.document_url, :class => 'dark' %>
                        <%= f.input :document, as: :file %>
                        <% end %>
                    </td>
                </tr>
                      <tr>
                  <td>
                      <strong>Description:</strong>
                  </td>
                  <td>
                      <%= f.text_field :doc_type, label: false, :class => 'table-input' %>
                  </td>
                </tr>
            <% if @lead.present? %>
              <%= f.hidden_field :lead_id, :value => @lead.id %>
            <% end %>
            </tbody>
        </table> 

        <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'client_intakes') %>
          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>
        <% end %>

              <div class="form-actions">
                  <%= f.button :submit, :class =>"btn btn-info", :style => 'font-size: 18px;' %>
              </div>

    <% if action_name == "index" || (controller_name == 'dashboards' && action_name == 'new') || (controller_name == 'client_intakes') %>
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
    <% end %>

<% end %>
  <script>
    $(document).ready(function() { $("#doc_select, td select").select2(); });
  </script>
