<% if @case %>
<div class="case-header">
  <div class="case-title">
    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-2" style="font-size: 24px;">
          <strong><%= @case.name %></strong><br>
        </div>
        <div class="col-md-7">
          <%= render partial: 'notes/case_alert' %>
        </div>
      </div>
    </div>
    <div id="case-buttons" class="documents-dropdown-button">
      <ul>
        <li class="dropdown">
          <%= link_to "", class: 'dropdown-toggle action-button', id: 'task-list-bnt', data: {toggle: "dropdown", :style => 'display:inline;'} do %>
            NEW DOCUMENT
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px;">
            <li style="padding: 0; display: inline;"><%= link_to "Upload Document from local", @new_path, { :id => "new_modal", :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Create New from template', templates_path %></li>
            <li role="presentation" style="padding: 0; display: inline;"><%= link_to 'Settlement Sheet ', new_case_settlement_path(case_id: @case.id) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<strong>Case #: </strong><%= @case.case_number %>
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
    <%= render partial: 'notes/case_alert' %>
</div>
<div class="incase-tabs-gap">
</div>
<div class="index-table-space">
<h3>My Documents</h3>
</div>
<% else %>
  <div class="case-header">
          <div class="case-title">
                <div style="font-size: 24px;">
                      <strong>Documents</strong>
                </div>
                <div id="case-buttons">
                      <ul>
                          <li><%= render 'new_button' %></li>
                      </ul>
                </div>
          </div>
                      <strong style="color: white;">A</strong>
          <div class="container-fluid" style="padding: 0;">
                  <div class="row">
                            <div class="col-md-12">
                                    <%= render 'shared/doc_tabs' %>
                            </div>
                  </div>
          </div>
  </div>
<div class="incase-tabs-gap">
</div>
<div class="index-table-space">
      <h3>My Documents</h3>
</div>
<% end %>
<div class="table-responsive">
      <table id="my_docs" class="table table-striped">
        <thead class="user-table-head">
        <tr>
          <th>Author</th>
          <th>Case</th>
          <th>Document Type</th>
          <th>Document Title</th>
          <th>Creation Date</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @my_documents.each do |document| %>
          <tr data-id="<%= document.id %>">
            <td><div class="larger-td"><%= document.user.try(:name) %></div></td>
            <td><%= document.cases.map {|c| c.name}.join(', ') %></td>
            <td><%= document.doc_type %></td>
            <td>
            <div class="doc-link">
              <%= if !document.document_url.blank?
                  link_to document.document.file.filename, document.document_url
                  end %></div></td>
            <td><%= simple_format_datetime_slash_regexp document.created_at  %></td>
            <td>
              <%= link_to document,  :class => 'dark-small preview_doc', 'data-id' => document.id, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <span data-tip="Preview" class="glyphicon glyphicon-eye-open tip"></span> <% end %>
            </td>
            <td>
              <% if @case %>
                <%= link_to case_document_path(id: document.id, case_id: @case.id),  :class => 'dark-small' do %><span data-tip="Edit" class="glyphicon glyphicon-pencil tip"></span> <% end %>
              <% else %>
                <%= link_to document_path(document),  :class => 'dark-small' do %><span data-tip="Edit" class="glyphicon glyphicon-pencil tip"></span> <% end %>
              <% end %>
            </td>
            <td>
              <% if @case %>
                <%= link_to  document_path(id: document.id, case_id: @case.id),  method: :delete, data: { confirm: 'Are you sure you want to delete this document?' }, :class => 'dark-small' do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></span><% end %>
            <% else %>
                <%= link_to  document,  method: :delete, data: { confirm: 'Are you sure you want to delete this document?' }, :class => 'dark-small' do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></span><% end %>
              <% end %>
           </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
<br />
<br />
<div style="margin-top: 70px;">
<% if @case %>
<h3>Case Documents</h3>
<% else %>
<h3>All Firm Documents</h3>
</div>
<% end %>
    <div class="table-responsive">
      <table id="firm_docs" class="table table-striped">
        <thead class="user-table-head">
        <tr>
          <th>Author</th>
          <th>Case</th>
          <th>Document Type</th>
          <th>Document Title</th>
          <th>Creation Date</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @documents.each do |document| %>
          <tr data-id="<%= document.id %>">
            <td><div class="larger-td"><%= document.user.try(:name) %></div></td>
            <td><%= document.cases.map {|c| c.name}.join(', ') %></td>
            <td><%= document.doc_type %></td>
            <td>
            <div class="doc-link">
              <%= if !document.document_url.blank?
                  link_to document.document.file.filename, document.document_url
                  end %></div></td>
            <td><%= simple_format_date_regexp document.created_at  %></td>
            <td><%= link_to document_path(document),  :class => 'dark-small' do %><span data-tip="View" class="glyphicon glyphicon-eye-open tip"></span> <% end %>
            </td>
            <td><%= link_to edit_document_path(document),  :class => 'dark-small' do %><span data-tip="Edit" class="glyphicon glyphicon-pencil tip"></span> <% end %>
            </td>
            <td><%= link_to  document,  method: :delete, data: { confirm: 'Are you sure you want to delete this document?' }, :class => 'dark-small' do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></span> <% end %>
           </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>

  <%= render :partial => "documents_index_javascript" %>