<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @document.author %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.doc_type %>
</p>

<p>
  <strong>Document:</strong>
  <% if @document.document.file %>
    <%= link_to @document.document.file.filename, @document.document_url, :class => 'dark' %>
  <% end %>
</p>

<p>
  <strong>Creation Date:</strong>
  <%= @document.created_at.strftime("%m/%d/%y %I:%M %p")%>
</p>

<p>
  <strong>Case(s):</strong>
  <%= @document.cases.map {|c| c.name}.join(', ') %>
</p>


<div class="text-center link-pad">
<%= link_to 'Edit', edit_document_path(@document), :class => 'dark' %> |
<%= link_to 'Back to Documents', documents_path, :class => 'dark' %>
</div>
