<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to request.referrer,  :class => 'dark' do %><span id="back" title="Back" class="glyphicon glyphicon-arrow-left"></span> <% end %>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td><%= link_to @document, :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a document will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Document"></span> <% end %>
      <%= link_to 'Edit', edit_document_path(@document), :class => 'dark' %></td>
    </tr>
    </tbody>
  </table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
      <strong>Document</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
        <strong>Author:</strong>
        </td>
        <td colspan="2">
        <%= @document.author %>
        </td>
      </tr>
      <tr>
        <td class="right">
           <strong>Creation Date:</strong>
        </td>
        <td colspan="2">
          <%= @document.created_at.strftime("%m/%d/%y %I:%M %p")%>
        </td>
      </tr>     
       <tr>
        <td class="right">
          <strong>Case(s):</strong>
        </td >
        <td colspan="2">
          <%= @document.cases.map {|c| c.name}.join(', ') %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Type:</strong>
        </td>
        <td colspan="2">
          <%= @document.doc_type %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Document:</strong>
        </td>
        <td colspan="2">
            <div class="doc-link">
                <% if @document.document.file %>
                    <%= link_to @document.document.file.filename, @document.document_url %>
                <% end %>
            </div>
        </td>
      </tr>
      
  </tbody>
</table>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'ne', fade: true});
    $('#back').tipsy({gravity: 'n', fade: true});
  });
</script>
