<%= simple_form_for([@case, @medical]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :total_med_bills %>
    <%= f.input :subrogated_amount %>
    <%= f.input :injuries_within_three_days, as: :radio_buttons %>
    <%= f.input :length_of_treatment %>
    <%= f.simple_fields_for :data do |d| %>
      <%= d.input :doctor_type, as: :check_boxes, collection: Medical::DOCTOR_TYPE %>
      <%= d.input :treatment_type, as: :check_boxes, collection: Medical::TREATMENT_TYPE %> 
    <% end %>
    <%= f.input :injury_summary %>
    <%= f.input :medical_summary %>
    <%= f.input :earnings_lost %>
    <%= f.input :treatment_gap %>
    <%= f.input :injections %>
    <%= f.input :hospitalization %>
    <%= f.input :hospital_stay_length %>
    <%= f.input :hospital_stay_length_unit %>
   

    <%= f.simple_fields_for :injuries, @medical.injuries do |i| %>
      <%= i.input :injury_type, collection: Injury::INJURY_TYPE %>
      <%= i.input :region, collection: Injury::REGION_TYPE %>
      <%= i.input :code %>
      <%= i.input :dominant_side %>
      <%= i.input :joint_fracture %>
      <%= i.input :displaced_fracture %>
      <%= i.input :disfigurement %>
      <%= i.input :impairment %>
      <%= i.input :permanence %>
      <%= i.input :disabled %>
      <%= i.input :disabled_percent %>

  TREATMENT:
      <%= i.input :surgery %>
      <%= i.input :surgery_count %>
      <%= i.input :surgery_type %>
      <%= i.input :casted_fracture %>
      <%= i.input :stitches %>
      <%= i.input :future_surgery %>
      <%= i.input :future_medicals %>
      <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


