<%= simple_form_for([@case, @medical]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :total_med_bills %>
    <%= f.input :subrogated_amount %>
    <%= f.input :injuries_within_three_days %>
    <%= f.input :length_of_treatment %>
    <%= f.input :doctor_type %>
    <%= f.input :treatment_type %>
    <%= f.simple_fields_for :injuries, @medical.injuries do |i| %>
      <%= i.input :injury_type, collection: Injury::INJURY_TYPE %>
      <%= i.input :region, collection: Injury::REGION_TYPE %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
