
<tr class="nested-fields medical-bill-field remove-tr-1" style="border-bottom: 2px solid black">
  <%= javascript_include_tag 'medicals/medical_bill_fields', 'data-turbolinks-track' => true %>
  <td colspan="7" style="padding: 0;">
    <table>
      <tr>
        <td colspan="1">
          <strong>Date of Service</strong><br>
          <%= f.date_field :date_of_service, label: false, :class => 'table-input' %>
        </td>
        <td colspan="3">
          <strong>Provider</strong><br>
          <%= f.association :company, :collection => @firm.companies, label: false, :class => 'table-input', :id => 'company' %>
        </td>

        <td colspan="3">
          <strong>Services Rendered</strong><br>
          <%= f.text_field :services, label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Physician</strong><br>
          <%= f.association :physician, :collection => @firm.contacts.where("type = 'Physician'"), label: false, :class => 'table-input' %>
        </td>
        <td colspan="3">
          <strong>Account Number</strong><br>
          <%= f.text_field :account_number, label: false, :class => 'table-input' %>
        </td>
        <td>
          <strong>Billed</strong><br>
          <%= f.text_field :billed_amount, label: false, :class => 'table-input' %>
        </td>
        <td>
          <strong>Adjustment</strong><br>
          <%= f.text_field :adjustments, label: false, :class => 'table-input' %>
        </td>
        <td>
          <strong>Paid</strong><br>
          <%= f.text_field :paid_amount, label: false, :class => 'table-input' %>
        </td>
      </tr>
    </table>
  </td>
  <td class="medical-icon" colspan="4">
    <%= link_to_remove_association f, class: 'pull-right remove_medical_bills remove' do %>
      <span id="remove" class="glyphicon glyphicon-remove" original-title="Remove Medical Bill"></span>
    <% end %>
  </td>
</tr>
