  <tr class="nested-fields medical-bill-field">
    <td>
      <%= f.association :company, :collection => @firm.companies, label: false, :class => 'table-input', :id => 'company' %>
    </td>
     <td>
      <%= f.text_field :provider, label: false, :class => 'table-input' %>
    </td>
    <td>
      <%= f.date_field :date_of_service, label: false, :class => 'table-input' %>
    </td>
    <td>
      <%= f.text_field :billed_amount, label: false, :class => 'table-input' %>
    </td>
    <td>
      <%= f.text_field :paid_amount, label: false, :class => 'table-input' %>
    </td>
    <td class="medical-icon">
      <%= link_to_remove_association f, class: 'dark-small remove_medical_bills' do %><span id="remove" class="glyphicon glyphicon-trash" original-title="Remove Medical Bill"></span><% end %>
    </td>
  </tr>

<script type="text/javascript" charset="utf-8">
  $("select").select2();
  $('#medical_bills').on('cocoon:after-remove', function(e, insertedItem) {

  });
</script>
<script type='text/javascript'>
  $(function() {
    $('#remove').tipsy({gravity: 's', fade: true});
  });
</script>