
<tr class="nested-fields medical-bill-field remove-tr-1" style="border-bottom: 2px solid black">
  <%= javascript_include_tag 'medicals/medical_bill_fields', 'data-turbolinks-track' => true %>
  <td colspan="7" style="padding: 0;">
    <table>
      <tr>
      <td>
          <strong>Physician</strong><br>
          <%= f.association :physician, :collection => @firm.contacts.where("type = 'Physician'"), label: false, :class => 'table-input' %>
        </td>
        <td colspan="1">
          <div id="popup_medical"></div>
          <strong>Account Number</strong><br>
          <%= f.text_field :account_number, label: false, :class => 'table-input' %>
        </td>
        <td colspan="1">
          <strong>Provider</strong><br>
          <%= f.association :company, :collection => @firm.contacts, label: false, :class => 'table-input', :id => 'company' %>
        </td>

        <td colspan="3">
          <strong>Services Rendered</strong><br>
          <%= f.text_field :services, label: false, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <strong>First Date of Service</strong><br>
          <%= f.date_field :date_of_service, label: false, :class => 'table-input' %>
        </td>
        <td colspan="1">
          <strong>Last Date of Service</strong><br>
          <%= f.date_field :last_date_of_service, label: false, :class => 'table-input' %>
        </td>
        <td>
          <strong>Billed</strong><br>
          <%= f.text_field :billed_amount, label: false, :class => 'table-input' %>
        </td>
        <td>
          <strong>Adjustment</strong><br>
          <%= f.text_field :adjustments, label: false, :class => 'table-input' %>
        </td>
        <td>
          <strong>Paid</strong><br>
          <%= f.text_field :paid_amount, label: false, :class => 'table-input' %>
        </td>
      </tr>
    </table>
  </td>
  <td class="medical-icon" colspan="4">
    <%= link_to_remove_association f, class: 'pull-right remove_medical_bills remove' do %>
      <span id="remove" class="glyphicon glyphicon-remove" original-title="Remove Medical Bill"></span>
    <% end %>
  </td>
</tr>
<script type="text/javascript">
    $(document).ready(function() {
        var self =  $("#popup_medical");
        $(document).mousemove(function (e) {
            mX = e.pageX;
            mY = e.pageY;
        }).mouseover();
        $('select').select2()
                .on("change", function(e) { // When user select Value then change event fire
                    $('#popup_medical').close();
                })
                .on("select2-highlight", function(e) { //when user mouse over or highlight value using keyboard navigation keys ("arrow keys")
                    var p = 'P: ';
                    var f = 'F: ';
                    var idd = e.val.split(':')[0];
                    $.ajax({
                        url: '/contacts/'+ idd,
                        type: 'GET',
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                        },
                        success: function(data){
                            $('#popup_medical').css({
                                'opacity': '0.1',
                                'top': mY-120,
                            }).animate({
                                'opacity': '1.0',
                            }, 300);
                            if(data.fax_number == null || data.fax_number == '') { data.fax_number = ''; f = '';} else {f = '<br>' + 'F: '}
                            if(data.phone_number == null || data.phone_number == '') {data.phone_number = ''; p = '';} else {p = '<br>' + 'P: '}
                            if(data.address == null) {data.address = '' ;}
                            $("#popup_medical").html(data.first_name + ' ' + data.last_name + '<br>' +
                                    data.address + p + data.phone_number  +
                                    f + data.fax_number
                            ).fadeIn( "slow").show();
                            setTimeout(function(){
                                $("#popup_medical").hide();
                            }, 5000);/* do something meaningful with data */},
                        error: function(xhr, status, response) {/* your error callback */}
                    });
                });
    });
</script>