<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Medical</li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<%= simple_form_for([@case, @medical]) do |f| %>
<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to @cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %>
      </td>
      <td>
      </td>
      <td><%= link_to 'Cancel', [@case, @medical], :class => 'dark' %>
      </td>
      <td>
      		<%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="top-table-container">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong> Medical Overview </strong>
    </td>
  </tr>
</thead>
  <tbody>
    <tr>
      <td class="col-one">
        <strong>Total Medical Bills ($):</strong>
      </td>
       <td>
        <%= f.text_field :total_med_bills, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="col-one">
        <strong>Subrogated Amount ($):</strong>
      </td>
        <td>
        <%= f.text_field :subrogated_amount, :class => 'table-input' %>
        </td>
     </tr>
      <tr>
        <td class="col-one">
        <strong>Injuries Treated within 3 days of Incident?:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= f.radio_button :injuries_within_three_days, 'true' %> 
  		          <%= label :injuries_within_three_days, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
  		          <%= f.radio_button :injuries_within_three_days, 'false' %>
  		          <%= f.label :injuries_within_three_days, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Lost Earnings:</strong>
        </td>
        <td>
          <%= f.text_field :earnings_lost, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Was Plaintiff Hospitalized?:</strong><br>
          <br>
          <br>
                  <p>If yes, for how long?:</p>
        </td>
        <td>
            <div class='radio'>
                <%= f.radio_button :hospitalization, 'true' %> 
  		          <%= label :hospitalization, 'Yes', :value => 'Yes' %>
  		      </div>
            <div class='radio'>
                <%= f.radio_button :hospitalization, 'false' %>
  		          <%= f.label :hospitalization, 'No', :value => 'No'%>
            </div>
          <br>
          <%= f.text_field :hospital_stay_length, :class => 'table-input-small' %>
          <%= f.select :hospital_stay_length_unit, ['day(s)','week(s)','month(s)'], :class => 'table-input' %>
        </td>
      </tr>
  </tbody>
</table>


<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Treatment Overview</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Total Length of Treatment (months):</strong>
        </td>
        <td>
          <%= f.text_field :length_of_treatment, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Doctor Type:</strong><br>
            <em class='small'>(check all that apply)</em>
        </td>
        <td>
          <div class='radio'>
              <%= f.input :doctor_type, as: :check_boxes, collection: Medical::DOCTOR_TYPE, :include_hidden => false, label: false %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Treatment Type:</strong><br>
            <em class='small'>(check all that apply)</em>
        </td>
        <td>
            <div class='radio'>
                <%= f.input :treatment_type, as: :check_boxes, collection: Medical::TREATMENT_TYPE, :include_hidden => false, label: false  %>
            </div>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Gap(s) in Treatment?:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= f.radio_button :treatment_gap, 'true' %> 
  		          <%= label :treatment_gap, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
  		          <%= f.radio_button :treatment_gap, 'false' %>
  		          <%= f.label :treatment_gap, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Were there Injections?:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= f.radio_button :injections, 'true' %> 
  		          <%= label :injections, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
  		          <%= f.radio_button :injections, 'false' %>
  		          <%= f.label :injections, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">


<div class="bottom-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <Strong>Injury/Medical Summary</Strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right big-row">
           <strong>Injury/Medical Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= f.text_area :injury_summary, :class => 'table-text' %>
        </td>
      </tr>
     <!-- <tr>
        <td class="right big-row">
             <strong>Medical Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= f.text_area :medical_summary, :class => 'table-text' %>
        </td>
      </tr> -->
  </tbody>
</table>
</div>

<% @injuries.each.with_index(1) do |injury,index| %>
  <%= f.simple_fields_for :injuries, injury do |i| %>
  <hr class="invis">
  <div class="injury-table-container">
  <table class="injury-table">
  <thead>
    <tr class="right-top">
      <td colspan="2" class="gray-back">
       <strong> Injury #<%= index %> </strong>
      </td>
    </tr>
  </thead>
    <tbody>
       <tr>
        <td>
          <strong>Region:</strong>
        </td>
        <td>
          <%= i.select :region, Injury::REGION_TYPE, :include_blank => true, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Injury Type:</strong>
        </td>
        <td>
          <%= i.select :injury_type, Injury::INJURY_TYPE, :include_blank => true, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>ICD-9 Injury Code:</strong>
        </td>
        <td>
          <%= i.text_field :code %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>On Dominant Side:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= i.radio_button :dominant_side, 'true' %> 
    		        <%= label :dominant_side, 'Yes', :value => 'Yes' %>
            </div>
    		    <div class='radio'>
                <%= i.radio_button :dominant_side, 'false' %>
    		        <%= label :dominant_side, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Fracture Through Joint:</strong><br>
              <em class='small'>(if applicable)</em>
        </td>
        <td>
            <div class='radio'>
                <%= i.radio_button :joint_fracture, 'true' %> 
    		        <%= label :joint_fracture, 'Yes', :value => 'Yes' %>
    		    </div>
            <div class='radio'>
                <%= i.radio_button :joint_fracture, 'false' %>
    		        <%= label :joint_fracture, 'No', :value => 'No'%>
            </div>
        </td>
        </tr>
        <tr>
          <td>
            <strong>Displaced Fracture:</strong>
            <br>
              <em class='small'>(if applicable)</em>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :displaced_fracture, 'true' %> 
    		          <%= label :displaced_fracture, 'Yes', :value => 'Yes' %>
              </div>
              <div class='radio'>
    		          <%= i.radio_button :displaced_fracture, 'false' %>
    		          <%= label :displaced_fracture, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
        <tr>
          <td>
              <strong>Likely to leave disfigurement:</strong>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :disfigurement, 'true' %> 
    		          <%= label :disfigurement, 'Yes', :value => 'Yes' %>
    		      </div>
              <div class='radio'>
                  <%= i.radio_button :disfigurement, 'false' %>
    		          <%= label :disfigurement, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>In a Doctor's Opinion:</strong>
            </td>
        </tr>
        <tr>
          <td>
              <strong>Is the Injury Permanent:</strong>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :permanence, 'true' %> 
    		          <%= label :permanence, 'Yes', :value => 'Yes' %>
              </div>
              <div class='radio'>
    		          <%= i.radio_button :permanence, 'false' %>
    		          <%= label :permanence, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
        <tr>
          <td>
              <strong>Is Plaintiff Disabled:</strong>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :disabled, 'true' %> 
    		          <%= label :disabled, 'Yes', :value => 'Yes' %>
              </div>
              <div class='radio'>
    		          <%= i.radio_button :disabled, 'false' %>
    		          <%= label :disabled, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
        <tr>
          <td>
            <em>If yes, what %:</em>
          </td>
          <td>
            <%= i.text_field :disabled_percent, :class => 'table-input-small'%>%
          </td>
        </tr>
        <tr>
          <td>
              <strong>Prior Complaints in Same Area:</strong>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :prior_complaint, 'true' %> 
    		          <%= label :prior_complaint, 'Yes', :value => 'Yes' %>
              </div>
              <div class='radio'>
    		          <%= i.radio_button :prior_complaint, 'false' %>
    		          <%= label :prior_complaint, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
    </tbody>
  </table>

  <table class="treatment-table">
  <thead>
    <tr class="right-top">
      <td colspan="2" class="gray-back">
        <strong> Treatment #<%= index %> </strong>
      </td>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>
          <strong>Was there Surgery or is Surgery Scheduled:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= i.radio_button :surgery, 'true' %> 
    		        <%= label :surgery, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
    		        <%= i.radio_button :surgery, 'false' %>
    		        <%= label :surgery, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Number of Surgeries:</strong>
        </td>
        <td>
          <%= i.text_field :surgery_count, :class => 'table-input-small' %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Type of Surgery:</strong>
        </td>
        <td>
           <%= i.select :surgery_type, ['Arthroscopic', 'Open'], :include_blank => true, :class => 'table-input' %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Can Fracture be Casted:</strong>
          <br>
              <em class='small'>(if applicable)</em>
        </td>
        <td>
            <div class='radio'>
                <%= i.radio_button :casted_fracture, 'true' %> 
    		        <%= label :casted_fracture, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
    		        <%= i.radio_button :casted_fracture, 'false' %>
    		        <%= label :casted_fracture, 'No', :value => 'No'%>
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Stitches Required:</strong>
        </td>
        <td>
            <div class='radio'>
                <%= i.radio_button :stitches, 'true' %> 
    		        <%= label :stitches, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
    		        <%= i.radio_button :stitches, 'false' %>
    		        <%= label :stitches, 'No', :value => 'No'%>
            </div>
        </td>
        </tr>
        <tr>
          <td>
            <strong>Is future surgery likely?:</strong>
            <br>
            <em class='small'> (>75% likelihood)</em>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :future_surgery, 'true' %> 
    		          <%= label :future_surgery, 'Yes', :value => 'Yes' %>
              </div>
              <div class='radio'>
    		          <%= i.radio_button :future_surgery, 'false' %>
    		          <%= label :future_surgery, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Estimate of Future Medical Bills ($):</strong>
          </td>
          <td>
             <%= i.text_field :future_medicals, :class => 'table-input' %>
          </td>
        </tr>
         <tr>
          <td>
            <strong>Ongoing pain:</strong>
          </td>
          <td>
              <div class='radio'>
                  <%= i.radio_button :ongoing_pain, 'true' %> 
                  <%= label :ongoing_pain, 'Yes', :value => 'Yes' %>
              </div>
              <div class='radio'>
                  <%= i.radio_button :ongoing_pain, 'false' %>
                  <%= label :ongoing_pain, 'No', :value => 'No'%>
              </div>
          </td>
        </tr>
    </tbody>
  </table>
  </div>

  <% end %> <!-- end of injury and treatment -->
<% end %><!-- end of each with index loop -->

<% end %> <!-- end of form -->



