<div class="case-header">
    <div class="case-title">
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-8" style="font-size: 24px;">
            <strong><%= @case.name %></strong><br>
          </div>
        </div>
      </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Edit', edit_case_medical_path(@case, @medical), :class => 'dark' %></li>
                  <!-- <li><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %></li> -->
                  <li><%= link_to "",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
        <%= render partial: 'notes/case_alert' %>
</div>

<div class="top-table-container">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Treatment Overview 1</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="col-one">
        <strong>Injuries Treated within 3 days of Incident?</strong>
        </td>
        <td>
        <%= boolean_as_yesno @medical.injuries_within_three_days %>
        </td>
      </tr>
      
      <tr>
        <td class="col-one">
          <strong>Plaintiff Hospitalized?</strong><br>
        </td>
        <td>
          <%= boolean_as_yesno @medical.hospitalization %><br>
        </td>
      </tr>
      <tr>
      <td style="text-indent: 20px;">
          If yes, for how long?
      </td>
      <td>
          <%= @medical.hospital_stay_length %>
          <%= @medical.hospital_stay_length_unit %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Lost Earnings:</strong>
        </td>
        <td>
          <%= number_to_currency @medical.earnings_lost %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Were there Injections?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @medical.injections %>
        </td>
      </tr>
  </tbody>
</table>


<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Treatment Overview 2</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Total Length of Treatment (months):</strong>
        </td>
        <td>
          <%= @medical.length_of_treatment %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Doctor(s) Seen:</strong>
        </td>
        <td>
          <%= @medical.doctor_type.map{|p| p}.join(', ') if @medical.doctor_type %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Treatment Type(s):</strong>
        </td>
        <td>
          <%= @medical.treatment_type.map{|p| p}.join(', ') if @medical.treatment_type %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Scans and Tests:</strong>
        </td>
        <td>
          <%= @medical.scans_tests.map{|p| p}.join(', ') if @medical.scans_tests %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Gap(s) in Treatment?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @medical.treatment_gap %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Date of Final Treatment:</strong>
        </td>
        <td>
          <%= simple_format_date_regexp @medical.final_treatment_date if @medical.final_treatment_date.present? %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">


<div class="bottom-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <Strong>Summary</Strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right big-row">
           <strong>Injury/Medical Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @medical.injury_summary %>
        </td>
      </tr>
      <!-- <tr>
        <td class="right big-row">
             <strong>Medical Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @medical.medical_summary %>
        </td>
      </tr> -->
  </tbody>
</table>
</div>


<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="8" class="gray-back">
      <strong>Medical Bills </strong><span id="edmed" title="Click 'Edit' to add a new bill" style="cursor: pointer;" class="glyphicon glyphicon-question-sign"></span>
    </td>
  </tr>
</thead>
  <tbody>
      <% @medical.medical_bills.each do |med| %>
        <tr class="nested-fields medical-bill-field">
            <td colspan="2">
              <strong>Physician</strong><br>
              <%= med.physician.name if med.physician %>
            </td>
            <td colspan="2">
                <strong>Account Number</strong><br>
              <%= med.account_number if med.account_number %>
            </td>
             <td colspan="2">
            <strong>Provider</strong><br>
              <%= med.company.name if med.company %>
            </td>
             <td colspan="2">
             <strong>Services Rendered</strong><br>
              <%= med.services %>
            </td>
          </tr>
          <tr class="nested-fields medical-bill-field" style="border-bottom: 2px solid black">
          <td colspan="2">
             <strong>First Date of Service</strong><br>
              <%= simple_format_date_regexp med.date_of_service if med.date_of_service.present? %>
            </td>
            <td colspan="2">
             <strong>Last Date of Service</strong><br>
              <%= simple_format_date_regexp med.last_date_of_service if med.date_of_service.present? %>
            </td>
            <td style="text-align: right;">
            <strong>Billed</strong><br>
              <%= number_to_currency med.billed_amount %>
            </td>
            <td style="text-align: right;">
            <strong>Adjustment</strong><br>
              <%= number_to_currency med.adjustments %>
            </td>    
            <td style="text-align: right;">
            <strong>Paid</strong><br>
              <%= number_to_currency med.paid_amount %>
            </td>
            <td style="text-align: right;">
            <strong>Net Owed</strong><br>
              <%= number_to_currency med.total_billed_adjustment_paid_amounts %>
            </td>
          </tr>
      <% end %>
         <tr style="border-bottom: 2px solid black; border-style: double;">
          <td colspan="4" style="text-align: left;">
              <strong>Totals</strong>
          </td>
          <td style="text-align: right;">
              <strong><%= number_to_currency @medical.total_billed %></strong>
          </td>
          <td style="text-align: right;">
              <strong><%= number_to_currency @medical.total_adjustments %></strong>
          </td>          
          <td style="text-align: right;">
            <strong><%= number_to_currency @medical.total_paid %></strong>
          </td>
          <td style="text-align: right;">
            <strong><%= number_to_currency @medical.total_owed %></strong>
          </td>
      </tr>
  </tbody>
</table>



<div style="width:900px; margin: 0 auto; padding-bottom: 60px;">
  <%= link_to 'ADD INJURY', new_medical_injury_path(@medical), {:class => "action-button pull-right", :id => "injury_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
</div>


<% @injuries.each.with_index(1) do |injury, i|%>
<hr class="invis2">
<div class="injury-table-container">
<table class="injury-table">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back" style="padding-bottom: 3px;">
     <strong> Injury #<%= i %> </strong>
     <%= link_to medical_injury_path(@medical, injury),  :class => 'dark-right-small', method: :delete, data: { confirm: 'WARNING! Deleting an injury will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span class="glyphicon glyphicon-trash" title="Delete Injury" id='delete'></span> <% end %>
    </td>
  </tr>
</thead>
  <tbody>
     <tr>
      <td>
        <strong>Region:</strong>
      </td>
      <td>
        <%= injury.region %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Injury Type:</strong>
      </td>
      <td>
        <%= injury.injury_type %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>ICD-9 Injury Code:</strong>
      </td>
      <td>
        <%= injury.code %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>On Dominant Side:</strong>
      </td>
      <td>
        <%= boolean_as_yesno injury.dominant_side %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Fracture Through Joint:</strong>
      </td>
      <td>
        <%= boolean_as_yesno injury.joint_fracture %>
      </td>
      </tr>
      <tr>
        <td>
          <strong>Displaced Fracture:</strong>
        </td>
        <td>
          <%= boolean_as_yesno injury.displaced_fracture %>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Likely to leave disfigurement:</strong>
        </td>
        <td>
          <%= boolean_as_yesno injury.disfigurement %>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Prior Complaints in Same Area:</strong>
        </td>
        <td>
            <%= boolean_as_yesno injury.prior_complaint %>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <strong>In a Doctor's Opinion:</strong>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Is the Injury Permanent:</strong>
        </td>
        <td>
          <p>
          <%= boolean_as_yesno injury.permanence %></p>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Is Plaintiff Disabled:</strong>
        </td>
        <td>
            <%= boolean_as_yesno injury.disabled %>
        </td>
      </tr>
      <tr>
        <td>
          <em>If yes, what %:</em>
        </td>
        <td>
          <%= injury.disabled_percent %>%
        </td>
      </tr>
  </tbody>
</table>

<table class="treatment-table">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong> Treatment #<%= i %> </strong>
    </td>
  </tr>
</thead>
  <tbody>
    <tr>
      <td>
        <strong>Was there Surgery or is Surgery Scheduled:</strong>
      </td>
      <td>
        <%= boolean_as_yesno injury.surgery %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Number of Surgeries:</strong>
      </td>
      <td>
        <%= injury.surgery_count %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Type of Surgery:</strong>
      </td>
      <td>
         <%= injury.surgery_type %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Can Fracture be Casted:</strong>
      </td>
      <td>
         <%= boolean_as_yesno injury.casted_fracture %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Stitches Required:</strong>
      </td>
      <td>
         <%= boolean_as_yesno injury.stitches %>
      </td>
      </tr>
      <tr>
        <td>
          <strong>Is future surgery likely?:</strong><br>
          <em class="small">(>75% likelihood)</em>
        </td>
        <td>
          <%= boolean_as_yesno injury.future_surgery %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Estimate of Future Medical Bills ($):</strong>
        </td>
        <td>
           <%= number_to_currency injury.future_medicals %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Ongoing pain:</strong>
        </td>
        <td>
           <%= boolean_as_yesno injury.ongoing_pain %>
        </td>
      </tr>
  </tbody>
</table>
</div>
<% end %>
<%= render :partial => "medicals_show_javascript" %>