<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Medical</li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<div class="meds">
<p>
  <strong>Total Medical Bills:</strong>
  <%= @medical.total_med_bills %>
</p>

<p>
  <strong>Subrogated Amount:</strong>
  <%= @medical.subrogated_amount %>
</p>

<p>
  <strong>Injuries Treated within First 3 days?:</strong>
  <%= @medical.injuries_within_three_days %>
</p>

<p>
  <strong>Length of treatment:</strong>
  <%= @medical.length_of_treatment %>
</p>

<p>
  <strong>Type(s) of Doctor(s) Seen:</strong>
  <%= @medical.doctor_type %>
</p>

<p>
  <strong>Treatment Type(s):</strong>
  <%= @medical.treatment_type %>
</p>

<p>
  <strong>Earnings Lost:</strong>
  <%= @medical.earnings_lost %>
</p>

<p>
  <strong>Any Gaps in Treatment?:</strong>
  <%= @medical.treatment_gap %>
</p>

<p>
  <strong>Were there Injections?:</strong>
  <%= @medical.injections %>
</p>

<p>
  <strong>Was Plaintiff Hospitalized?:</strong>
  <%= @medical.hospitalization %>
</p>

<p class="indent">
  If yes, Length of Stay:
  <%= @medical.hospital_stay_length %>
</p>

<p>
  <strong>Hospital Stay Length Unit:</strong>
  <%= @medical.hospital_stay_length_unit %>
</p>

</div>
<br>
<p>
  <strong>Injury Summary:</strong>
  <%= @medical.injury_summary %>
</p>
<br>
<p>
  <strong>Medical Summary:</strong>
  <%= @medical.medical_summary %>
</p>
<br>
<hr><br>


<div >
  <%= link_to 'Add Injury', new_medical_injury_path(@medical), {:class => "action-button", :id => "injury_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
</div>

<<<<<<< HEAD

<div class="Injury">
<% @medical.injuries.each.with_index(1) do |injury, i|%>
<p>
  <h4>Injury #<%= i %> </h4> <br />
=======
<br />

<% @medical.injuries.each.with_index(1) do |injury, i|%>
<p>
  <strong>Injury #<%= i %> </strong>
</p>
<p>
>>>>>>> FETCH_HEAD
  Injury Type: <%= injury.injury_type %> <br />
  Region: <%= injury.region %> <br />
  Injury: <%= injury.code %> <br />
  Dominant Side: <%= injury.dominant_side %> <br />
  Fracture Through Joint: <%= injury.joint_fracture %> <br />
  Displaced Fracture: <%= injury.displaced_fracture %> <br />
  Likely to leave disfigurement: <%= injury.disfigurement %> <br />
  In Doctor's Opinion: <br />
  Injury Permanent: <%= injury.permanence %> <br />
  Plaintiff Disabled: <%= injury.disabled %> <br />
  If yes, what %: <%= injury.disabled_percent %>% <br />
<strong> TREATMENT </strong> <br />
  Was there Surgery or is Surgery Scheduled: <%= injury.surgery %> <br />
  Number of Surgeries: <%= injury.surgery_count %> <br />
  Type of Surgery: <%= injury.surgery_type %> <br />
  Fracture can be Casted: <%= injury.casted_fracture %> <br />
  Stitches: <%= injury.stitches %> <br />
  Is future surgery likely? 
  (>75% likelihood): <%= t injury.future_surgery.class %> <br />
  Estimate of Future 
  Medical Bills: <%= injury.future_medicals %> <br />
</p>
<% end %>
</div>

<div class="text-center link-pad">
<%= link_to 'Edit', edit_case_medical_path(@case, @medical), :class => 'dark' %> |
<%= link_to 'Back to Cases', cases_path, :class => 'dark' %>
</div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#injury_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render '/injuries/form', new_injury: [@medical, Injury.new] ) %>");
  });
});
</script>
