<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Edit', edit_case_medical_path(@case, @medical), :class => 'dark' %></li>
                  <!-- <li><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %></li> -->
                  <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table1">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Treatment Overview 1</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="col-one">
        <strong>Injuries Treated within 3 days of Incident?:</strong>
        </td>
        <td>
        <%= boolean_as_yesno @medical.injuries_within_three_days %>
        </td>
      </tr>
      
      <tr>
        <td class="col-one">
          <strong>Was Plaintiff Hospitalized?:</strong><br>
        </td>
        <td>
          <%= boolean_as_yesno @medical.hospitalization %><br>
        </td>
      </tr>
      <tr>
      <td style="text-indent: 20px;">
          If yes, for how long?
      </td>
      <td>
          <%= @medical.hospital_stay_length %>
          <%= @medical.hospital_stay_length_unit %>
        </td>
      </tr>
      <tr>
        <td class="col-one">
          <strong>Lost Earnings:</strong>
        </td>
        <td>
          <%= number_to_currency @medical.earnings_lost %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Were there Injections?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @medical.injections %>
        </td>
      </tr>
  </tbody>
</table>


<table id="info-table2">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Treatment Overview 2</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
           <strong>Total Length of Treatment (months):</strong>
        </td>
        <td>
          <%= @medical.length_of_treatment %>
        </td>
      </tr>
      <tr>
        <td class="right">
            <strong>Doctor(s) Seen:</strong>
        </td>
        <td>
          <%= @medical.doctor_type.map{|p| p}.join(", ") if @medical.doctor_type %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Treatment Type(s):</strong>
        </td>
        <td>
          <%= @medical.treatment_type.map{|p| p}.join(", ") if @medical.treatment_type %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Gap(s) in Treatment?</strong>
        </td>
        <td>
          <%= boolean_as_yesno @medical.treatment_gap %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Date of Final Treatment:</strong>
        </td>
        <td>
          <%= @medical.final_treatment_date %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<hr class="invis">


<div class="bottom-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <Strong>Summary</Strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right big-row">
           <strong>Injury/Medical Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @medical.injury_summary %>
        </td>
      </tr>
      <!-- <tr>
        <td class="right big-row">
             <strong>Medical Summary:</strong>
        </td>
        <td colspan="3" class="big-row">
          <%= @medical.medical_summary %>
        </td>
      </tr> -->
  </tbody>
</table>
</div>


<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="5" class="gray-back">
      <strong>Medical Bills</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
          <td class="right">
              <strong>Provider</strong>
          </td>
          <td class="right">
              <strong>Company</strong>
          </td>
          <td class="right">
              <strong>Date of Service</strong>
          </td>
           <td class="right">
              <strong>Billed Amount</strong>
          </td>
          <td class="right">
              <strong>Paid Amount</strong>
          </td>
      </tr>
      <tr>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
             
        </td>
      </tr>
         <tr>
          <td colspan="3" style="text-align: right;">
              <strong>Total Medical Bills</strong>
          </td>
          <td>
          </td>
          <td>
          </td>
      </tr>
  </tbody>
</table>



<div style="width:900px; margin: 0 auto 30px auto;">
  <%= link_to 'ADD INJURY', new_medical_injury_path(@medical), {:class => "action-button", :id => "injury_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
</div>


<% @injuries.each.with_index(1) do |injury, i|%>
<hr class="invis">
<div class="injury-table-container">
<table class="injury-table">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back" style="padding-bottom: 3px;">
     <strong> Injury #<%= i %> </strong>
     <%= link_to medical_injury_path(@medical, injury),  :class => 'dark-right-small', method: :delete, data: { confirm: 'WARNING! Deleting an injury will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span class="glyphicon glyphicon-trash" title="Delete Injury" id='delete'></span> <% end %>
    </td>
  </tr>
</thead>
  <tbody>
     <tr>
      <td>
        <strong>Region:</strong>
      </td>
      <td>
        <%= injury.region %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Injury Type:</strong>
      </td>
      <td>
        <%= injury.injury_type %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>ICD-9 Injury Code:</strong>
      </td>
      <td>
        <%= injury.code %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>On Dominant Side:</strong>
      </td>
      <td>
        <%= boolean_as_yesno injury.dominant_side %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Fracture Through Joint:</strong>
      </td>
      <td>
        <%= boolean_as_yesno injury.joint_fracture %>
      </td>
      </tr>
      <tr>
        <td>
          <strong>Displaced Fracture:</strong>
        </td>
        <td>
          <%= boolean_as_yesno injury.displaced_fracture %>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Likely to leave disfigurement:</strong>
        </td>
        <td>
          <%= boolean_as_yesno injury.disfigurement %>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Prior Complaints in Same Area:</strong>
        </td>
        <td>
            <%= boolean_as_yesno injury.prior_complaint %>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <strong>In a Doctor's Opinion:</strong>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Is the Injury Permanent:</strong>
        </td>
        <td>
          <p>
          <%= boolean_as_yesno injury.permanence %></p>
        </td>
      </tr>
      <tr>
        <td>
            <strong>Is Plaintiff Disabled:</strong>
        </td>
        <td>
            <%= boolean_as_yesno injury.disabled %>
        </td>
      </tr>
      <tr>
        <td>
          <em>If yes, what %:</em>
        </td>
        <td>
          <%= injury.disabled_percent %>%
        </td>
      </tr>
  </tbody>
</table>

<table class="treatment-table">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong> Treatment #<%= i %> </strong>
    </td>
  </tr>
</thead>
  <tbody>
    <tr>
      <td>
        <strong>Was there Surgery or is Surgery Scheduled:</strong>
      </td>
      <td>
        <%= boolean_as_yesno injury.surgery %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Number of Surgeries:</strong>
      </td>
      <td>
        <%= injury.surgery_count %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Type of Surgery:</strong>
      </td>
      <td>
         <%= injury.surgery_type %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Can Fracture be Casted:</strong>
      </td>
      <td>
         <%= boolean_as_yesno injury.casted_fracture %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Stitches Required:</strong>
      </td>
      <td>
         <%= boolean_as_yesno injury.stitches %>
      </td>
      </tr>
      <tr>
        <td>
          <strong>Is future surgery likely?:</strong><br>
          <em class="small">(>75% likelihood)</em>
        </td>
        <td>
          <%= boolean_as_yesno injury.future_surgery %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Estimate of Future Medical Bills ($):</strong>
        </td>
        <td>
           <%= injury.future_medicals %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Ongoing pain:</strong>
        </td>
        <td>
           <%= boolean_as_yesno injury.ongoing_pain %>
        </td>
      </tr>
  </tbody>
</table>
</div>
<% end %>
<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'ne', fade: true});
    $('#delete').tipsy({gravity: 's', fade: true});
  });
</script>
<script type="text/javascript">
$(document).ready(function() {
  $('#injury_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render '/injuries/form', new_injury: [@medical, Injury.new] ) %>");
  });
});
</script>

<script>
$( ".edit" ).hover(
  function() {
    $( this ).append( $( "<span class='glyphicon glyphicon-pencil'></span>" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
  }
);
</script>

