<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Medical</li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<div class="meds">
<p>
  <strong>Total Medical Bills ($):</strong>
  <%= @medical.total_med_bills %>
</p>

<p>
  <strong>Subrogated Amount:</strong>
  <%= @medical.subrogated_amount %>
</p>

<p>
  <strong>Injuries Treated within 3 days of Incident?:</strong>
  <%= boolean_as_yesno @medical.injuries_within_three_days %>
</p>

<p>
  <strong>Lost Earnings:</strong>
  <%= @medical.earnings_lost %>
</p>


<p>
  <strong>Was Plaintiff Hospitalized?:</strong>
  <%= boolean_as_yesno @medical.hospitalization %>
</p>
  <p class="indent">If yes, for how long?:
  <%= @medical.hospital_stay_length %>
  </p>

<p>
  <strong>Hospital Stay Length Unit:</strong>
  <%= @medical.hospital_stay_length_unit %>
</p>

 
<p>
  <strong>Total Length of Treatment (months):</strong>
  <%= @medical.length_of_treatment %>
</p>

<% 
=begin 
%>
<%= @medical.data.each do |k,v| %>
<p>
  <strong><%= k.dup.gsub!(/_/, ' ').titleize -%>:</strong>
  <%= v.gsub(/[^0-9A-Za-z]/, '') %>
</p>
<%  end %>
<% 
=end 
%>
<% if @medical.doctor_type %>
<p>
  <strong>Doctor Type:</strong>
  <%= @medical.doctor_type.gsub(/[^0-9A-Za-z]/, ' ')%>
</p>
<% end %>
<% if @medical.treatment_type %>
<p>
  <strong>Treatment Type:</strong>
  <%= @medical.treatment_type.gsub(/[^0-9A-Za-z]/, ' ')%>
</p>
<% end %>

<p>
  <strong>Gap(s) in Treatment?:</strong>
  <%= boolean_as_yesno @medical.treatment_gap %>
</p>

<p>
  <strong>Were there Injections?:</strong>
  <%= boolean_as_yesno @medical.injections %>
</p>
</div>
<br>
<p>
  <strong>Injury Summary:</strong>
  <%= @medical.injury_summary %>
</p>
<br>
<p>
  <strong>Medical Summary:</strong>
  <%= @medical.medical_summary %>
</p>

<br><hr>

<div >
  <%= link_to 'ADD INJURY', new_medical_injury_path(@medical), {:class => "action-button", :id => "injury_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
</div>

<br />
<div class="injury">
<% @medical.injuries.each.with_index(1) do |injury, i|%>
<p>
  <h4>Injury #<%= i %> </h4>
</p>
<p>
  Injury Type: <%= injury.injury_type %> <br />
  Region: <%= injury.region %> <br />
  Injury: <%= injury.code %> <br />
  Dominant Side: <%= boolean_as_yesno injury.dominant_side %> <br />
  Fracture Through Joint: <%= boolean_as_yesno injury.joint_fracture %> <br />
  Displaced Fracture: <%= boolean_as_yesno injury.displaced_fracture %> <br />
  Likely to leave disfigurement: <%= boolean_as_yesno injury.disfigurement %> <br />
  In Doctor's Opinion: <br />
  Injury Permanent: <%= boolean_as_yesno injury.permanence %> <br />
  Prior Complaint: <%= boolean_as_yesno injury.prior_complaint %> <br />
  Plaintiff Disabled: <%= boolean_as_yesno injury.disabled %> <br />
  If yes, what %: <%= injury.disabled_percent %>% <br />
<h4> Treatment </h4>
  Was there Surgery or is Surgery Scheduled: <%= boolean_as_yesno injury.surgery %> <br />
  Number of Surgeries: <%= injury.surgery_count %> <br />
  Type of Surgery: <%= injury.surgery_type %> <br />
  Fracture can be Casted: <%= boolean_as_yesno injury.casted_fracture %> <br />
  Stitches: <%= boolean_as_yesno injury.stitches %> <br />
  Is future surgery likely? 
  (>75% likelihood): <%= boolean_as_yesno injury.future_surgery %> <br />
  Estimate of Future 
  Medical Bills: <%= injury.future_medicals %> <br />
</p>
<% end %>
</div>

<div class="text-center link-pad">
<%= link_to 'Edit', edit_case_medical_path(@case, @medical), :class => 'dark' %> |
<%= link_to 'Back to Cases', cases_path, :class => 'dark' %>
</div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#injury_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render '/injuries/form', new_injury: [@medical, Injury.new] ) %>");
  });
});
</script>

