<%= simple_form_for(new_company) do |f| %>
  <%= f.error_notification %>

  <% if action_name == "index" %>
      <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <a class="close" data-dismiss="modal">×</a>
              <h2>New Company</h2>
            </div>
         <div class="modal-body">
    <% end %>


<table class="contact-form table-condensed">
        <tbody>
            <tr>
                <td>
                    <strong>Company Name:</strong>
                </td>
                <td>
                    <%= f.text_field :name, label: false, :class => 'table-input', placeholder: 'Allstate' %>
                </td>
            </tr>
               <tr>
                <td>
                    <strong>Company Address:</strong>
                </td>
                <td>
                    <%= f.text_field :address, label: false, :class => 'table-input', placeholder: '123 Easy St' %>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>City:</strong>
                </td>
                <td>
                    <%= f.text_field :city, label: false, :class => 'table-input', placeholder: 'San Francisco' %>
                </td>
            </tr>
             <tr>
                <td>
                    <strong>State:</strong>
                </td>
                <td>
                    <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
                </td>
            </tr>
             
              <tr>
                <td>
                    <strong>Zipcode:</strong>
                </td>
                <td>
                    <%= f.text_field :zipcode, label: false, :class => 'table-input', placeholder: '94109' %>
                </td>
            </tr>

             <tr>
                <td>
                    <strong>Phone:</strong>
                </td>
                <td>
                    <%= f.telephone_field :phone, label: false, :class => 'table-input', :id => 'contact_phone', placeholder: '(___) ___-___' %>
                </td>
            </tr>
        </tbody>
      </table>
            <% if action_name == "index" %>
          </div><!--end of modal-body-->
          
           <div class="modal-footer">
              <div class="pull-left">
                <a class="close" data-dismiss="modal">Cancel</a> 
              </div>
        <% end %>

          <div class="form-actions">
              <%= f.button :submit, :class =>"btn btn-info", :style => 'font-size: 18px;' %>
          </div>

        <% if action_name == "index" %>
                </div><!--end of modal-footer-->
            </div><!--end of modal-content-->
          </div><!--end of modal-dialog-->
        <% end %>
  <% end %>
<script>
  $(document).ready(function() { $("td select").select2(); });
</script>
