<%= simple_form_for(@company) do |f| %>
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @company.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>                    
                    <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
                    <li><%= link_to 'Cancel', @company, :class => 'dark-right' %></li>
              </ul>
          </div>
    </div>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <Strong>Company Information</Strong>
    </td>
  </tr>
</thead>
  <tbody>
        <tr>
        <td class="right">
          <strong>Company Name:</strong>
        </td>
        <td>
          		<%= f.text_field :name, label: false, class: 'table-input' %>
        </td>
      </tr>      
      <tr>
        <td class="right">
          <strong>Website:</strong>
        </td>
        <td class="doc-link">
          		<%= f.text_field :website, label: false, class: 'table-input phone', placeholder: 'www.example.com' %>
        </td>
      </tr>      
        <tr>
        <td class="right">
          <strong>Company Address:</strong>
        </td>
        <td>
          		<%= f.text_field :address, label: false, class: 'table-input' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>City:</strong>
        </td>
        <td>
          		<%= f.text_field :city, label: false, class: 'table-input' %>
        </td>
        </tr>
        <tr>
        <td class="right">
          <strong>State:</strong>
        </td>
        <td>
          		<%= f.select :state, us_states, :class => 'table-input', :include_blank => true  %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Zipcode:</strong>
        </td>
        <td>
          		<%= f.text_field :zipcode, label: false, class: 'table-input' %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Phone:</strong>
        </td>
        <td>
              <%= f.text_field :phone, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
         <tr>
        <td class="right">
          <strong>Fax:</strong>
        </td>
        <td>
              <%= f.text_field :fax, label: false, class: 'table-input phone', placeholder: '(___) ___-___' %>
        </td>
      </tr>
  </tbody>
</table>
</div>


<div class="bottom-table-container">
  <h3>Company Contacts</h3>
  <br>
    <table class="table-striped company-contacts-edit-table rowlink">
     <thead class="user-table-head">
        <th>Name</th>
        <th>Contact Type</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </thead>
      <tbody id="contact_fields">
      <%= f.simple_fields_for :contacts do |contact| %>
        <%= render 'contact_fields', :f => contact %>
      <% end %>
      </tbody>
      
    </table>
  </div>
<% end %>
<script type='text/javascript'>
  $(function() {
    $('#remove').tipsy({gravity: 's', fade: true});
  });
</script>
<script>
  $(document).ready(function() { $("td select").select2(); });
</script>

