<div class="case-header">
          <div class="case-title">
                <div style="font-size: 24px;">
                      <strong>Contacts</strong>
                </div>
                <div id="case-buttons">
                      <ul>
                          <li><%= render 'new_button' %></li>
                      </ul>
                </div>
          </div>
                      <strong style="color: white;">A</strong>
          <div class="container-fluid" style="padding: 0;">
                  <div class="row">
                            <div class="col-md-12">
                                    <%= render 'shared/contact_tabs' %>
                            </div>   
                  </div>
          </div>
  </div>
<div class="incase-tabs-gap">
</div>
<div style="margin-top: 70px;">
<h3>Companies</h3>
</div>

<div class="table-responsive">
    <table id="tasks" class="table table-striped table-hover rowlink companies_table">
      <thead class="user-table-head">
    <tr>
      <th>Company Name</th>
      <th>Location</th>
      <th>Website</th>
      <th>Phone</th>
      <th>Number of Contacts</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr data-id="<%= company.id %>">
        <td  style="vertical-align: middle;"><%= link_to "#{company.name}", company_path(company) %></td>
        <td><div class="larger-td" style='padding-top:12px;'><%= company.company_city_or_state %></div></td>
        <td  style="vertical-align: middle;"><%= company.website %></td>
        <td  style="vertical-align: middle;"><%= company.phone %></td>
        <td  style="vertical-align: middle; text-align:center;"><%= company.contacts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'companies/form', new_company: @companies_a ) %>");
  });
  <%= render :partial => 'datatable.js', :locals => { :sort_column => 0, :sort_order => 'desc'} %>
});
</script>
