<div class="case-header">
          <div class="case-title">
                <div style="font-size: 24px;">
                      <strong>Contacts</strong>
                </div>
                <div id="case-buttons">
                      <ul>
                          <li><%= render 'new_button' %></li>
                      </ul>
                </div>
          </div>
                      <strong style="color: white;">A</strong>
          <div class="container-fluid" style="padding: 0;">
                  <div class="row">
                            <div class="col-md-12">
                                    <%= render 'shared/contact_tabs' %>
                            </div>
                  </div>
          </div>
  </div>
<div class="incase-tabs-gap">
</div>
<div style="margin-top: 70px;">
<h3>Companies</h3>
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @company.zipcode %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
