<%= simple_form_for(new_injury) do |f| %>
  <%= f.error_notification %>
 <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
            <h2>New Injury</h2>
          </div>
          <div class="modal-body">
            <div class="form-inputs">
              <%= f.input :injury_type, collection: Injury::INJURY_TYPE %>
              <%= f.input :region, collection: Injury::REGION_TYPE %>
              <%= f.input :code %>
              <%= f.input :dominant_side %>
              <%= f.input :joint_fracture %>
              <%= f.input :displaced_fracture %>
              <%= f.input :disfigurement %>
              <%= f.input :impairment %>
              <%= f.input :permanence %>
              <%= f.input :prior_complaint %>
              <%= f.input :disabled %>
              <%= f.input :disabled_percent %>

          TREATMENT:
              <%= f.input :surgery %>
              <%= f.input :surgery_count %>
              <%= f.input :surgery_type, collection: Injury::SURGERY_TYPE %>
              <%= f.input :casted_fracture %>
              <%= f.input :stitches %>
              <%= f.input :future_surgery %>
              <%= f.input :future_medicals %>

            </div>
         </div><!--end of modal-body-->
        <div class="modal-footer">
          <div class="pull-left">
            <a class="close" data-dismiss="modal">Cancel</a>
          </div>
              <div class="form-actions">
                <%= f.button :submit, :class =>"btn btn-large btn-primary" %>
              </div>
        </div><!--end of modal-footer-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->

<% end %>
