<h1>Listing injuries</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Region</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @injuries.each do |injury| %>
      <tr>
        <td><%= injury.type %></td>
        <td><%= injury.region %></td>
        <td><%= injury.code %></td>
        <td><%= link_to 'Show', injury %></td>
        <td><%= link_to 'Edit', edit_injury_path(injury) %></td>
        <td><%= link_to 'Destroy', injury, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Injury', new_injury_path %>
