
<%= simple_form_for([@case, @resolution]) do |f| %>

<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Cancel', [@case, @resolution], :class => 'dark' %></li>
                  <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
     <strong> Resolution</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
          <strong>Expected Close Date:</strong>
        </td>
        <td>
          <%= f.date_field :expected_close, :class => 'table-input', label: false %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Estimated Value:</strong>
        </td>
        <td>
          <%= f.text_field :estimated_value, :class => 'table-input', label: false, placeholder: '$' %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Settlement Demand:</strong>
        </td>
        <td>
        <%= f.text_field :settlement_demand, :class => 'table-input', label: false, placeholder: '$'  %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Jury Ask:</strong>
        </td>
        <td>
        <%= f.text_field :jury_demand, :class => 'table-input', label: false, placeholder: '$'  %>
          
        </td>
      </tr>
        <tr>
        <td colspan="2">
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Actual Close Date:</strong>
        </td>
        <td>
          <%= @case.closing_date %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Amount:</strong>
        </td>
        <td>
        <%= f.text_field :resolution_amount, :class => 'table-input', label: false, placeholder: '$'  %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Type:</strong>
        </td>
        <td>
        <%= f.select :resolution_type, Resolution::TYPES, :class => 'table-input', label: false  %><br>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
          <strong>Resolution Notes:</strong>
        </td>
        <td class="big-row">
        <%= f.text_area :note, :class => 'table-text', label: false  %><br>
        </td>
      </tr>
  </tbody>
</table>
</div>

<% end %>
<script>
  $(document).ready(function() { $("select").select2(); });
</script>