<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Resolution</li>
</ol>


<%= render partial: 'shared/case_tabs' %>

<%= simple_form_for([@case, @resolution]) do |f| %>

<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to case_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></span> <% end %>
      </td>
      <td>
      </td>
      <td><%= link_to 'Cancel', [@case, @resolution], :class => 'dark-right' %>
      </td>
      <td><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
     <strong> Resolution</strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
          <strong>Expected Close Date:</strong>
        </td>
        <td>
          <%= f.text_field :settlement_demand, :class => 'table-input', label: false %> <!-- change to date field -->
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Estimated Value:</strong>
        </td>
        <td>
          <%= f.text_field :settlement_demand, :class => 'table-input', label: false %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Settlement Demand:</strong>
        </td>
        <td>
        <%= f.text_field :settlement_demand, :class => 'table-input', label: false %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Jury Ask:</strong>
        </td>
        <td>
        <%= f.text_field :jury_demand, :class => 'table-input', label: false %>
          
        </td>
      </tr>
        <tr>
        <td colspan="2">
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Actual Close Date:</strong>
        </td>
        <td>
          <%= @case.closing_date %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Amount:</strong>
        </td>
        <td>
        <%= f.text_field :resolution_amount, :class => 'table-input', label: false %>
          
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Type:</strong>
        </td>
        <td>
        <%= f.select :resolution_type, Resolution::TYPES, :class => 'table-input', label: false  %><br>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
          <strong>Resolution Notes:</strong>
        </td>
        <td class="big-row">
        <%= f.text_area :note, :class => 'table-text', label: false  %><br>
        </td>
      </tr>
  </tbody>
</table>

<% end %>
<script>
  $(document).ready(function() { $("select").select2(); });
</script>