<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Resolution</li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Settlement demand:</strong>
  <%= @resolution.settlement_demand %>
</p>

<p>
  <strong>Jury demand:</strong>
  <%= @resolution.jury_demand %>
</p>

<p>
  <strong>Resolution amount:</strong>
  <%= @resolution.resolution_amount %>
</p>

<p>
  <strong>Resolution type:</strong>
  <%= @resolution.resolution_type %>
</p>

<div class="text-center link-pad">
<%= link_to 'Edit', edit_case_resolution_path(@case, @resolution), :class => 'dark' %> | 
<%= link_to 'Back to Cases', cases_path, :class => 'dark' %>
</div>