<ol class="breadcrumb">
  <li><%= link_to 'Cases', cases_path %></li>
  <li><%= link_to @case.name, case_path(@case) %></li>
  <li class="active">Resolution</li>
</ol>

<%= render partial: 'shared/case_tabs' %>

<div class="text-center">
<table id="info-table4">
  <tbody>
    <tr>
      <td id="left-td"><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td><%= link_to @case,  :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></i> <% end %>
      <%= link_to 'Edit', edit_case_resolution_path(@case, @resolution), :class => 'dark' %></td>
    </tr>
    <tbody>
  </table>
</div>


<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong> Resolution Summary </strong>
    </td>
  </tr>
</thead>
  <tbody>
      <tr>
        <td class="right">
          <strong>Final Settlement Demand:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.settlement_demand, precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Jury Ask:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.jury_demand, precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Amount:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.resolution_amount, precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Type:</strong>
        </td>
        <td>
          <%= @resolution.resolution_type %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Note:</strong>
        </td>
        <td>
          <%= @resolution.note %>
        </td>
      </tr>
  </tbody>
</table>


<script>
     $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
     });
</script>