
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong><%= @case.name %></strong><br>
          </div>
            <div id="case-buttons">
              <ul>
                  <li><%= link_to 'Edit', edit_case_resolution_path(@case, @resolution), :class => 'dark' %></li>
                  <!-- <li><%= link_to cases_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></i> <% end %></li> -->
                  <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span class="glyphicon glyphicon-print tip" data-tip="Print"></i> <% end %></li>
                  <li><%= link_to @case,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></i> <% end %></li>
              </ul>
          </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    
        <div class="container-fluid" style="padding: 0;">
              <div class="row">
                      <div class="col-md-12">
                            <%= render partial: 'shared/case_tabs' %>
                      </div>
              </div>
        </div>
</div>

<div class="top-table-container">
<table id="info-table3">
<thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong> Resolution</strong>
    </td>
  </tr>
</thead>
  <tbody>
       <tr>
        <td class="right">
          <strong>Expected Close Date:</strong>
        </td>
        <td>
            <%= @resolution.expected_close %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Estimated Value:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.estimated_value, precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Settlement Demand:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.settlement_demand, precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Jury Ask:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.jury_demand, precision: 0 %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Actual Close Date:</strong>
        </td>
        <td>
          <%= @case.closing_date %>
        </td>
      </tr>
       <tr>
        <td class="right">
          <strong>Resolution Amount:</strong>
        </td>
        <td>
          <%= number_to_currency @resolution.resolution_amount, precision: 0 %>
        </td>
      </tr>
      <tr>
        <td class="right">
          <strong>Resolution Type:</strong>
        </td>
        <td>
          <%= @resolution.resolution_type %>
        </td>
      </tr>
      <tr>
        <td class="right big-row">
          <strong>Resolution Notes:</strong>
        </td>
        <td class="big-row">
          <%= @resolution.note %>
        </td>
      </tr>
  </tbody>
</table>
</div>

<script>
     $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
     });
</script>