<p id="notice"><%= notice %></p>

<p>
  <strong>Married:</strong>
  <%= @plantiff.married %>
</p>

<p>
  <strong>Employed:</strong>
  <%= @plantiff.employed %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @plantiff.job_description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @plantiff.salary %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @plantiff.parent %>
</p>

<p>
  <strong>Felony convictions:</strong>
  <%= @plantiff.felony_convictions %>
</p>

<p>
  <strong>Last ten years:</strong>
  <%= @plantiff.last_ten_years %>
</p>

<p>
  <strong>Jury likeability:</strong>
  <%= @plantiff.jury_likeability %>
</p>

<%= link_to 'Edit', edit_plantiff_path(@plantiff) %> |
<%= link_to 'Back', plantiffs_path %>
