<h1>Listing attorneys</h1>

<table>
  <thead>
    <tr>
      <th>Attorney type</th>
      <th>Firm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attorneys.each do |attorney| %>
      <tr>
        <td><%= attorney.attorney_type %></td>
        <td><%= attorney.firm %></td>
        <td><%= link_to 'Show', attorney %></td>
        <td><%= link_to 'Edit', edit_attorney_path(attorney) %></td>
        <td><%= link_to 'Destroy', attorney, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attorney', new_attorney_path %>
