<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong>Account Settings</strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li></li>

      </ul>
    </div>
  </div>
  <strong style="color: white;">A</strong>

  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/profile_tabs' %>
      </div>
    </div>
  </div>
</div>
<% if @own_subscription.present?  %>
    <div class="row">
      <div class="col-md-2"></div>
      <% if @own_subscription.plan == nil %>
        <div class="col-md-4">
      <% else %>
        <div class="col-md-8">
      <% end %>
        <p class="signed_up">
          <% if @own_subscription.plan && @own_subscription.plan != nil %>
              You have signed up for the <strong><%= @own_subscription.plan.name %></strong> plan for just <strong><%= number_to_currency @own_subscription.plan.price * @firm.users.count %></strong> <%= @own_subscription.plan.price_description %>
              <%= link_to 'Details', @own_subscription, :class => 'cancel' %>
              <%= link_to 'Cancel', @own_subscription, method: :delete, :class => 'cancel' %>
          <% end %>
          <% if @own_subscription.plan == nil %>
              You canceled from any plans
              <%= link_to 'Details', @own_subscription, :class => 'cancel' %>
          <% end %>


        </p>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div id="subscription" style="margin-top: 70px;">
      <h1>Subscription details</h1>
      <table>
        <tr>
          <td>
            <% if @own_subscription.plan != nil %>
              <strong><%= date_to_input_regexp @own_subscription.created_at %></strong>
            <% else %>
              <strong>----</strong>
            <% end %>
          </td>
          <td>
            <% if @own_subscription.plan == nil %>
                You canceled from any plans
            <% else %>
                You have signed up for the <strong><%= @own_subscription.plan.name %></strong> plan
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Email</strong>
          </td>
          <td>
            <%= @own_subscription.email %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Card number</strong>

          </td>
          <td>
            ************<%= @own_subscription.last_digits %>

          </td>
        </tr>
      </table>
      <%= link_to 'Change Card', edit_card_path(@own_subscription), :class => 'details_edit' %>
      <%= link_to 'Change Plan', plans_path, :class => 'details_edit' %>
    </div>
  </div>
</div>