<%= javascript_include_tag 'invoices/show', 'data-turbolinks-track' => true %>
<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong>Invoice #<%= @invoice.number %></strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to "javascript:window.print()", :class => 'dark' do %>
            <span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span>
          <% end %></li>
        <li>
          <%=  link_to '#', :class => :dark, :id => :add_payment, :'data-toggle' => :modal, :'data-target' => '#modal-window', :remote => true do %>
            <span class="glyphicon glyphicon-plus-sign" title="Add Payment"></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <strong style="color: white;">A</strong>
  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'invoices/invoice_tabs' %>
      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap">
</div>

<div style="margin-top: 70px;">
  <h3>Payments</h3>
</div>

<%= render :partial => 'table', :locals => { :url => invoice_invoice_payments_path(@invoice), id: 'invoice_payments'} %>

<%= render :partial => 'payments_index_javascript' %>