<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong>Account Settings</strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to 'ADD ACCOUNT', login_path, :class => 'action-button' %></li>
      </ul>
    </div>
  </div>
  <strong style="color: white;">A</strong>

  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/profile_tabs' %>
      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap"></div>

<div class="events-profile">
  <h3>Synced Accounts</h3>
  <table class="table table-striped table-hover">
    <thead class="user-table-head">
    <tr>
      <th>Name</th>
      <th>Email address</th>
      <th>Provider</th>
      <th>Sync Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @namespaces.each do |ns| %>
      <tr class="namespace_row" data-id="<%= ns.id %>">
        <td><%= ns.name %></td>
        <td><%= ns.email_address %></td>
        <td><%= ns.provider %></td>
        <td><%= ns.account_status %></td>
        <td>
          <%= link_to 'Delete namespace', namespace_path(ns), :data => { :confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-danger delete' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $('.namespace_row').click(function (e) {
      if (!$('.get_calendars').is(e.target) && !$(e.target).hasClass('delete')){
        var id = $(this).data('id');
        if(id != undefined) {
          window.location.href = "/namespaces/"+id;
        }
      }
    });
  })
</script>
