<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong>Account Settings</strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to 'SYNC SELECTED CALENDARS', '', :class => 'action-button sync_calendars' %></li>
      </ul>
    </div>
  </div>
  <strong style="color: white;">A</strong>

  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/profile_tabs' %>
      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap"></div>

<div class="events-profile">
  <p><strong>Name:</strong> <%= @namespace.name %></p>

  <p><strong>Email:</strong> <%= @namespace.email_address %></p>

  <p><strong>Provider:</strong> <%= @namespace.provider %></p>

  <strong>How far back would you like to sync?</strong><br/>
  <div class="radio" style="width: 200px;">
  <%= collection_radio_buttons :sync_period, :sync_period, Namespace::SYNC_PERIODS.map {|k,v| [k, v]}, :first, :last, {checked: @namespace.sync_period.present? ? @namespace.sync_period : 0}, class: 'sync_period' %>
  </div>

  <h3><%= @namespace.provider %> Calendars</h3>
  <table class="table table-striped table-hover">
    <thead class="user-table-head">
    <tr>
      <th>Sync</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @namespace.enabled_calendars.each do |calendar| %>
      <% if calendar.name != 'Emailed events' %>
        <tr>
          <td><%= check_box_tag "calendar_id[#{calendar.id}]", calendar.id, calendar.active, class: 'calendar_ids' %></td>
          <td><%= calendar.name %></td>
          <td><%= calendar.description %></td>
          <td>
            <%= link_to 'Delete Calendar', calendar_path(@namespace, calendar), :data => { :confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<%= render :partial => "namespaces_show_javascript" %>