<%= simple_form_for(@firm, :url => dashboards_path, :method => 'post') do |f| %>
      
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1>Welcome!</h1>
              <%= f.error_notification %>
            </div>
         <div class="modal-body">
            <p>One last step before you are using your free case management software. We just need a few more details: </p>

            <div class="form-inputs">
        
                <%= f.input :name, :label => "Firm or Company", :required => true %>
                <%= f.simple_fields_for :contact, Contact.new do |p| %>
                  <%= p.input :type, :label => 'Role', :collection => ['Attorney', 'Staff/Paralegal'], :selected => 'Attorney', :include_blank => false %>
                <% end %>
                <%= f.input :phone, :required => false %>
            </div>   
          
          </div><!--end of modal-body-->
          
           <div class="modal-footer">
            
              <div class="form-actions">
                  <%= f.button :submit, "Get Started", :class =>"btn btn-default" %>
              </div>

          
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
    

<% end %>