<%= simple_form_for(@firm, :url => dashboards_path, :method => 'post') do |f| %>
      
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h2>Welcome!</h2>
              <%= f.error_notification %>
            </div>
         <div class="modal-body">
            <p style="font-size:16px;">We just need a few more details before using your case management software:</p>

        <table class="dash-form table-condensed">
            <tbody>
                <tr>
                    <td>
                        <strong>Firm or Company Name:</strong>
                    </td>
                    <td>
                        <%= f.text_field :name, label: false, :required => true, :class => 'table-input' %>
                    </td>
                </tr>
                <tr>
                  <td>
                      <strong>Your Role:</strong>
                  </td>
                  <td>
                      <%= f.simple_fields_for :contact, Contact.new do |p| %>
                      <%= p.select :type, ['Attorney', 'Staff/Paralegal'], :selected => 'Attorney', :include_blank => false, :class => 'table-input' %>
                      <% end %>
                  </td>
                </tr>
                <tr>
                    <td>
                        <strong>Firm Phone Number:</strong>
                    </td>

                    <td>
                        <%= f.text_field :phone, :required => false, label: false, :class => 'table-input', :id => 'firm_phone' %>
                    </td>
                </tr>
                      <tr>
                      <td>
                        <strong>Timezone:</strong>
                      </td>
                      <td>
                          <%= f.simple_fields_for :user do |u| %>
                            <%= u.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Pacific Time (US & Canada)", class: 'table-input', label: false %>
                          <% end %>
                      </td>
            </tbody>
        </table> 
          
          </div><!--end of modal-body-->
          
           <div class="modal-footer">
            
              <div class="form-actions">
                  <%= f.button :submit, "Get Started", :class =>"sub2-small" %>
              </div>

          
            </div><!--end of modal-footer-->
        </div><!--end of modal-content-->
      </div><!--end of modal-dialog-->
<% end %>
<script>
  $(document).ready(function() {
    $('#firm_phone').mask("(999) 999-9999");
  });
</script>