<div class="modal-dialog">
  <div class="modal-content" style="height: auto; overflow: scroll;">
    <div id="wizard-demo" class="step-wrapper">
      <div class="modal-header">
        <ul class="step-header cf">
          <li class="step-header-item active" data-body="#step1">1</li>
          <li class="step-header-item" data-body="#step2">2</li>
          <li class="step-header-item" data-body="#step3">3</li>
          <li class="step-header-item" data-body="#step4">4</li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="step-body">
          <div id="step1" class="step-body-item active">
            <%= simple_form_for(@firm, :url => dashboards_path, :method => 'post', remote: true, html: {id: :modal_firm}) do |f| %>
              <div class="text-center">
                <h1><span style="color: #3FC2D8; margin: 10px 20px 0 0; " class="glyphicon glyphicon-cog"></span>Basic
                  Information</h1>

                <div style="margin-bottom: 20px;">
                  Enter information about you and your firm
                </div>
              </div>
              <hr style="height: 1px; background: #ccc;">
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label style="text-align: left;">Firm Name</label>
                    <%= f.text_field :name, label: false, :required => true, :class => 'inv_email form-control table-input' %>
                  </div>
                  <div class="form-group">
                    <label style="text-align: left;">Your Role</label>
                    <%= f.simple_fields_for :contact, Contact.new do |p| %>
                      <%= p.select :type, %w(Attorney Staff/Paralegal), :selected => 'Attorney', :include_blank => false, :class => 'table-input form-control' %>
                    <% end %>
                  </div>
                  <div class="form-group">
                    <label style="text-align: left;">Firm Phone Number</label>
                    <%= f.text_field :phone, :required => false, label: false, :class => 'table-input inv_email form-control', :id => 'firm_phone', placeholder: '(___) ___-___' %>
                  </div>
                  <div class="form-group">
                    <label style="text-align: left;">Timezone</label>
                    <%= f.simple_fields_for :user do |u| %>
                      <%= u.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Pacific Time (US & Canada)", class: 'table-input', label: false %>
                    <% end %>
                  </div>
                  <br>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            <% end %>
          </div>

          <div id="step2" class="step-body-item">

            <div style="width: 100%; margin: 0 auto;">
              <div class="text-center">
                <h1><span style="color: #3FC2D8; margin: 10px 20px 0 0; " class="glyphicon glyphicon-send"></span>Invite
                  Employees</h1>

                <div style="margin-bottom: 20px;">
                  New members will automatically be connected to all firm information
                </div>
              </div>
              <hr style="height: 1px; background: #ccc;"/>
              <div class="invite_form">
                <%= form_tag user_invitation_path, :method => :post, :class => 'invitee_form', :remote => true, :id => 'invitee_form' do %>
                  <%= hidden_field_tag :invitee_firm_name, id: :invitee_firm_name %>
                  <div class="invitees" style="margin-bottom: 10px;"><%= render 'users/invitations/user_form' %></div>
                  <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                      <%= link_to '+ Add Another', '#', :class => 'add-btn', id: 'add_invitee' %>
                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                      <%= submit_tag 'Send Invitations', id: 'inv_submit', :class => 'btn btn-info custom33', :style => 'width: 100%; padding: 10px; margin-left: 0 !important;' %>
                    </div>
                    <div class="col-md-3">
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div id="step3" class="step-body-item">
            <div class="text-center">
              <h1><span style="color: #3FC2D8; margin: 10px 20px 0 0; " class="glyphicon glyphicon-calendar"></span>Calendar Sync</h1>
              <div style="margin-bottom: 20px;">
                Litigo works with all the major email providers
              </div>
            </div>
            <hr style="height: 1px; background: #ccc;">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs12 hidden calendar_frame"></div>
              <div class="col-md-6 col-sm-6 col-xs-6 calendar_board">
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                  <div class="gmail"></div>
                  <div class="yahoo"></div>
                  <div class="outlook"></div>
                  <div class="icloud"></div>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 calendar_board">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                  <%= link_to '#', id: 'add_calendar' do %>
                    <div class="tile-new" style="margin-top: 60px; cursor: pointer;">
                      <div class="tile-icon-new"><span class="glyphicon glyphicon-calendar"></span></div>
                      <div class="tile-text">Add Calendar</div>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
          </div>
          
          <div id="step4" class="step-body-item">
            <div class="text-center">
              <h1><span style="color: #3FC2D8; margin: 10px 20px 0 0; " class="glyphicon glyphicon-shopping-cart"></span>Choose Plan</h1>
              <div style="margin-bottom: 20px;">
                Choose the right plan for your firm
              </div>
            </div>
            <hr style="height: 1px; background: #ccc;">
            <div class="row">
              <iframe src="<%= plans_path(user_id: @user.id) %>" frameborder="0" width="100%" height="300"></iframe>
            </div>
          </div>
          
        </div>
      </div>
      <!--end of modal-body-->

      <div class="modal-footer">
        <div class="step-footer">
          <a href="javascript:void(0)" class="btn btn-default step-btn step-prev">Previous</a>
          <a href="javascript:void(0)" class="btn btn-default step-next step-btn">Next</a>
          <%= button_tag 'Finished', :class => 'btn btn-success step-finish step-btn', id: 'step_finish' %>
        </div>
        <div class="form-actions">

        </div>
      </div>
      <!-- wizard div -->

    </div>
    <!--end of modal-footer-->
  </div>
  <!--end of modal-content-->
</div>
<!--end of modal-dialog-->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('#firm_phone').mask("(999) 999-9999");
    $('.remove_invitee').click(function (e) {
      e.preventDefault();
      $(e.currentTarget).parent().remove();
    });
    $('#wizard-demo').step({
      startAt: <%= current_user.confirm_step.to_i > 1 ? current_user.confirm_step.to_i - 1 : 0 %>,
      onprev: function(index) {
        saveStep(index+1);
      },
      onnext: function (index) {
        saveStep(index+1);
        if (1 == index) {
          $('#modal_firm').submit();
        }
      }
    });

    var inv = 1;

    function saveStep(step, callback) {
      if(typeof callback !== "function") callback = void 0;
      $.ajax('/save_confirm_step/', {type: 'post', data: {step: step},success: callback});
    }


    $('#add_invitee').click(function (e) {
      e.preventDefault();
      $('.invitees').append("<%= j(render :partial => 'users/invitations/user_form').html_safe %>");
      $('.inv_email').last().attr('name', 'users[' + inv + '][email]');
      $('.inv_role').last().attr('name', 'users[' + inv + '][role]');
      inv++;
    });
    $(".invitee_form").validate();
    try {
      $(".inv_email").rules("add", {
        required: true,
        email: true
      });
    } catch (err) {
    }

    /**
     * @return {boolean}
     */
    function IsEmail(email) {
      var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      return regex.test(email);
    }

    $('#invitee_form').submit(function () {
      $('#invitee_firm_name').val($('#firm_name').val());
      return true;
    }).bind('ajax:success', function (event, data, status, xhr) {
      add_message('notice', data.message, 'success');
    }).bind('ajax:error', function (xhr, status, error) {
      var data = {};
      try {
        data = JSON.parse(status.responseText);
      } catch (err) {
      }
      if (data.hasOwnProperty('message')) {
        add_message('notice', data.message, 'success');
      }
    });

    $('#step_finish').click(function () {
      saveStep(<%= @user.steps_count%>, function() {
        window.location = '/finish_registration';
      });
    });
    $('#add_calendar').click(function() {
      var $calendarFrame = $('.calendar_frame');
      var $calendarBoard = $('.calendar_board');
      $calendarFrame.html('<iframe src="<%= login_path %>" frameborder="0" width="100%"></iframe>');
      $calendarFrame.find('iframe').height($calendarBoard.height());

      $calendarFrame.removeClass('hidden');
      $calendarBoard.addClass('hidden');

      window.closeCalendarFrame = function() {
        $calendarFrame.html('');
        $calendarFrame.addClass('hidden');
        $calendarBoard.removeClass('hidden');
      };
    });
  });
</script>