<% if @user.show_onboarding %>
<%= render 'calendars_modal' if @calendars %>
 <div class="row">
    <div class="col-md-12">
          <div style="font-size: 24px; text-shadow: 0 1px 0 #fff; color: #323A45;">
                Quick Links
          </div>
    </div>
</div>  
  <div class="row">
   <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_lead_path, class: 'new-modal', data: {id: 'lead'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-edit"></span></div>
                  <div class="tile-text">New Caller Intake</div>
            </div>
    <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_case_path, class: 'new-modal', data: {id: 'case'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-folder-close"></span></div>
                  <div class="tile-text">New Case</div>
            </div>
    <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_contact_path, class: 'new-modal', data: {id: 'contact'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-user"></span></div>
                  <div class="tile-text">New Contact</div>
            </div>
      <% end %>
      </div>
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_task_path, class: 'new-modal', data: {id: 'task'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-list-alt"></span></div>
                  <div class="tile-text">New Task</div>
            </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_document_path, class: 'new-modal', data: {id: 'document'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-file"></span></div>
                  <div class="tile-text">New Document</div>
            </div>
    <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_note_path, class: 'new-modal', data: {id: 'note'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-pencil"></span></div>
                  <div class="tile-text">New Note</div>
            </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_event_path, class: 'new-modal', data: {id: 'event'} do %>
            <div class="tile-new-green">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-flag"></span></div>
                  <div class="tile-text">New Event</div>
            </div>
      <% end %>
    </div>
  </div>


<div class="row">
    <div class="col-md-12">
          <div style="font-size: 24px; text-shadow: 0 1px 0 #fff; color: #323A45; margin-top: -8px;">
                Getting Started
          </div>
    </div>
</div>  

  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to login_path do %>
            <div class="tile-new">
                      <div class="tile-icon-new"><span class="glyphicon glyphicon-calendar"></span></div>
                      <div class="tile-text">Add Calendar</div>
            </div>
    <% end %>
    </div>
  <!-- <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to "/auth/google_oauth2?state=contacts" do %>
            <div class="tile-new">
                  <div class="tile-icon-new"><span class="glyphicon glyphicon-download-alt"></span></div>
                  <div class="tile-text">Google Contact Import</div>
            </div>
    <% end %>
    </div> -->
    <!-- <div class="col-xs-6 col-sm-3 col-md-2">
          <a class="bo" href="#" id="startTourBtn" onclick="hopscotch.startTour(tour)">
                <div class="tile-new">
                      <div class="tile-icon-new"><span class="glyphicon glyphicon-facetime-video"></span></div>
                      <div class="tile-text">Take a Quick Tour</div>
                </div>
          </a>
    </div> -->
    <% if @user.admin? %>
      <div class="col-xs-6 col-sm-3 col-md-2"><%= link_to new_invitation_path(@user) do %>
              <div class="tile-new">
                    <div class="tile-icon-new"><span class="glyphicon glyphicon-user"></span></div>
                    <div class="tile-text">Add Users to Firm</div>
              </div>
      <% end %>
      </div>
    <% end %>
  </div>



<% else %>
  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Show Onboarding: <%= @user.show_onboarding if @user.show_onboarding %></p>
<% end %>

<script type="text/javascript" charset="utf-8">
  <% if @calendars %>
    $("#modal-window2").modal('show');
  <% end %>
    $('.new-modal').click(function (e) {
      e.preventDefault();
      var instance = $(e.currentTarget).data('id');
      switch(instance) {
        case 'lead':
          $("#modal-window").html("<%= escape_javascript(render 'client_intakes/form') %>").modal('show');
          break;
        case 'case':
          $("#modal-window").html("<%= escape_javascript(render 'cases/form', new_case: Case.new) %>").modal('show');
          break;
        case 'contact':
          $("#modal-window").html("<%= escape_javascript(render 'contacts/form', new_contact: Contact.new) %>").modal('show');
          break;
        case 'task':
          $("#modal-window").html("<%= escape_javascript(render 'tasks/form', new_task: Task.new) %>").modal('show');
          break;
        case 'document':
          $("#modal-window").html("<%= escape_javascript(render 'documents/form', new_document: Document.new) %>").modal('show');
          break;
        case 'event':
          $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new) %>").modal('show');
          break;
        case 'note':
          $("#modal-window").html("<%= escape_javascript(render 'notes/form', new_note: Note.new) %>").modal('show');
          break;
      }
    });
</script>

