
<% if @user.show_onboarding %>
<div class="text-center">
 	</div>
<br>
  <div class="config">
		<div class="title"><span class="glyph-cog glyphicon glyphicon-cog"></span>Practice Configuration</div>
		
	<ul>
		<li><%= link_to "/auth/google_oauth2" do %>Sync you Google Calendar<span class="glyph-ok glyphicon glyphicon-ok-sign"></i> 
<% end %></li>
<% if @user.admin? %>
		<li><%= link_to new_invitation_path(@user) do %>Add users to your firm<span class="glyph-ok glyphicon glyphicon-ok-sign"></i> 
	<% end %></li>
<% end %>
		<li><a class="bo" href="#" id="startTourBtn" onclick="hopscotch.startTour(tour)">Take a quick tour<span class="glyph-ok glyphicon glyphicon-ok-sign"></span></a></li>
	</ul>
  </div>
   
<% else %>

  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Show Onboarding: <%= @user.show_onboarding if @user.show_onboarding %></p>

<p><button id="startTourBtn" class="btn btn-large btn-primary" onclick="hopscotch.startTour(tour)" >Take a tour</button></p>
<% end %>
