<tr class="nested-fields">
  <td>
    <%= f.text_field :name, label: false, :class => 'table-input' %>
  </td>
  <td>
    <%= f.number_field :due_term, label: false, :class => 'table-input' %>
  </td>
  <td>
    <%= f.select :conjunction, ['before', 'after'], label: false %>
  </td>
  <td>
    <%= f.select :anchor_date, ['case open', 'incident date', 'statute of limitations', 'trial date', 'previous task'], label: false %>
  </td>
  <td>
    <%= f.text_area :description, label: false, :class => 'table-text' %>
  </td>
  <td class="task-icon">Dependent Task</td>
  <td class="task-icon">
    <%= link_to_remove_association f, class: 'dark-small' do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></span><% end %>
  </td>
</tr>
<script type="text/javascript" charset="utf-8">
  $("select").select2();
</script>