
<%= simple_form_for(@task_list) do |f| %>
  
  <%= f.error_notification %>
 <div id="tasklist-buttons">
      <ul>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save' %></li>
          <li><%= link_to 'Cancel', request.referrer, :class => 'dark-right' %></li>
        </ul>
  </div>
  <br>

  <div style="width:700px; margin-top: 50px;">
  <h3>List Name</h3>
        <div class="form-group">
            <%= f.text_field :name, :class => 'table-input'%>
        </div>

<h3>Permissions</h3>
    <div class="form-group">
        <strong>Who can view this list?</strong>
        <%= f.select :view_permission, TaskList::VIEW_PERMISSIONS.map { |k,v| [v, k]}, label: false, :class => 'table-input' %>
    </div>
        <br>
        <strong>Who can make changes to this list?</strong>
        <%= f.select :amend_permission, TaskList::AMEND_PERMISSIONS.map { |k,v| [v, k]}, label: false, :class => 'table-input' %>
    <h3>Settings</h3>
    <div class="form-group">
        <div class="radio-bloc">
          <%= f.radio_button :task_import, 'automatic' %>
          <%= f.label :task_import, 'Automatically import task list when case is created', :value => 'automatic' %>
        </div>
        <div class="radio-bloc" style="margin-bottom: 40px;">
          <%= f.radio_button :task_import, 'manual' %>
          <%= f.label :task_import, 'Manually import task list on demand', :value => 'manual' %>
        </div>
        </div>
    </div>

  <div class="clearfix"></div>
  <div id="tasks">
    <table class="task-nested-table table-striped task_lists_table" style="margin-top: 40px; margin-bottom:40px;">
      <thead class="user-table-head">
        <th>Task Name</th>
        <th>Description</th>
        <th>Days</th>
        <th>Before / After</th>
        <th>Anchor Date</th>
        <th></th>
        <th></th>
      </thead>
      <tbody id="task_drafts">
      <%= f.simple_fields_for :task_drafts do |task| %>
        <%= render 'task_draft_fields', :f => task %>
      <% end %>
      <%= link_to_add_association 'ADD TASK', f, :task_drafts, :"data-association-insertion-node" => "tbody#task_drafts", :"data-association-insertion-method" => "append", :partial => "task_draft_fields", class: 'action-button' %>
      </tbody>
    </table>
  </div>
 
<% end %>


<script>
  $(document).ready(function () {
    $("#note_select, select").select2();
    $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
    });
    <%= render :partial => 'datatable.js', :locals => { :sort_column => 3, :sort_order => 'asc'} %>
    $('.add_fields').click(function () {
      $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    });

    $('#task_drafts').on('cocoon:after-insert', function (e, insertedItem) {
      var last_id = 'task_draft_'+$('.task-draft-field').length;
      if ($(insertedItem[0]).hasClass('task-draft-field')) {
        $(insertedItem[0]).attr('id', last_id);
        $(insertedItem[0]).find($('.add_child')).attr('data-association-insertion-node', '#'+last_id);
      } else if ($(insertedItem[0]).hasClass('child_task_draft')) {
        var parent_task_id = $(insertedItem[0]).prev('tr.task-draft-field').attr('id');
        $(insertedItem[0]).addClass('parent_'+parent_task_id);
      }
    }).on('cocoon:before-remove', function (e, deletedItem) {
      if($(deletedItem[0]).hasClass('task-draft-field')) {
        var parent_task_id = $(deletedItem[0]).attr('id');
        $('.parent_'+parent_task_id).remove();
      }
    });
  });

</script>

