<%= simple_form_for(@task_list) do |f| %>

  <div class="text-center">
    <table id="info-table4">
      <tbody>
      <tr>
        <td id="left-td"><%= link_to request.referrer, :class => 'dark' do %>
            <span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></span>
          <% end %>
        </td>
        <td>
        </td>
        <td><%= link_to 'Cancel', request.referrer, :class => 'dark-right' %>
        </td>
        <td><%= f.submit :class => 'sub2-small dark-right', :value => 'Save' %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <%= f.error_notification %>

  <table id="info-table3">
    <thead>
    <tr class="right-top">
      <td colspan="3" class="gray-back">
        <strong>Tasks List</strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="right">
        <strong>List Name</strong>
      </td>
      <td colspan="2">
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td colspan="3">PERMISSIONS</td>
    </tr>
    <tr>
      <td class="right">
        <strong>Who can view this list?</strong>
      </td>
      <td colspan="2">
        <%= f.select :view_permission, TaskList::VIEW_PERMISSIONS.map { |k,v| [v, k]}, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Who can make changes to this list?</strong>
      </td>
      <td colspan="2">
        <%= f.select :amend_permission, TaskList::AMEND_PERMISSIONS.map { |k,v| [v, k]}, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td colspan="3">SETTINGS</td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="radio-bloc">
          <%= f.radio_button :task_import, 'automatic' %>
          <%= f.label :task_import, 'Automatically import task list when case is created', :value => 'automatic' %>
        </div>
        <div class="radio-bloc">
          <%= f.radio_button :task_import, 'manual' %>
          <%= f.label :task_import, 'Manually import task list on adhoc basis', :value => 'manual' %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

<br/>
<br/>
  <div class="clearfix"></div>
  <div id="tasks">
    <table class="task-nested-table">
      <thead>
        <th>Task</th>
        <th>Due Date</th>
        <th>Conjunction</th>
        <th>Anchor Date</th>
        <th>Description</th>
        <th>Add Dependent Task</th>
        <th>Remove Task</th>
      </thead>
      <tbody id="task_drafts">
      <%= f.simple_fields_for :task_drafts do |task| %>
        <%= render 'task_draft_fields', :f => task %>
      <% end %>
      <%= link_to_add_association 'ADD TASK', f, :task_drafts, :"data-association-insertion-node" => "tbody#task_drafts", :"data-association-insertion-method" => "append", :partial => "task_draft_fields", class: 'action-button' %>
      </tbody>
    </table>
  </div>
<% end %>
<script>
  $(document).ready(function () {
    $("#note_select, select").select2();
    $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
    });
    <%= render :partial => 'datatable.js', :locals => { :sort_column => 3, :sort_order => 'asc'} %>
    $('.add_fields').click(function () {
      $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    });

    $('#task_drafts').on('cocoon:after-insert', function (e, insertedItem) {
      var last_id = 'task_draft_'+$('.task-draft-field').length;
      if ($(insertedItem[0]).hasClass('task-draft-field')) {
        $(insertedItem[0]).attr('id', last_id);
        $(insertedItem[0]).find($('.add_child')).attr('data-association-insertion-node', '#'+last_id);
      } else if ($(insertedItem[0]).hasClass('child_task_draft')) {
        var parent_task_id = $(insertedItem[0]).prev('tr.task-draft-field').attr('id');
        $(insertedItem[0]).addClass('parent_'+parent_task_id);
      }
    }).on('cocoon:before-remove', function (e, deletedItem) {
      if($(deletedItem[0]).hasClass('task-draft-field')) {
        var parent_task_id = $(deletedItem[0]).attr('id');
        $('.parent_'+parent_task_id).remove();
      }
    });
  });

</script>

