
<%= simple_form_for(@task_list) do |f| %>
  <%= f.error_notification %>
 <div id="tasklist-buttons">
      <ul>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save' %></li>
          <li><%= link_to 'Cancel', tasks_path, :class => 'dark-right' %></li>
        </ul>
  </div>
  <br>

<div style="width:100%; margin-top: 15px;">
  <div class="row">
    <div class="col-md-6">
      <h3>List Name</h3>
            <div class="form-group">
                <%= f.input :name, label: false, :class => 'table-input'%>
            </div>
    <h3>Permissions</h3>
        <div class="form-group">
            <strong>Who can view this list?</strong>
            <%= f.select :view_permission, TaskList::VIEW_PERMISSIONS.map { |k,v| [v, k]}, label: false, :class => 'table-input' %>
        </div>
            <br>
            <strong>Who can make changes to this list?</strong>
            <%= f.select :amend_permission, TaskList::AMEND_PERMISSIONS.map { |k,v| [v, k]}, label: false, :class => 'table-input' %>
        <h3>Settings</h3>
        <div class="form-group">
          <div class="radio-bloc">
            <%= f.radio_button :task_import, 'automatic' %>
            <%= f.label :task_import, 'Automatically import task list when a case is created', :value => 'automatic' %> <span id="auto" title="When a case of the selected type is created, this task list will automatically be imported to the case" style="cursor: pointer;" class="glyphicon glyphicon-question-sign"></span>
          </div>
          <div class="case-selector" <% if @task_list.task_import == 'automatic' %> style="display:block" <% end %>>
            <div style='margin-bottom: 5px;'>
              <strong>When case type is:</strong>
              <%= f.input :case_type, collection: Case::TYPES, label: false %>
            </div>
            <div class=" case-creator">
              <div class="radio-bloc">
                <%= f.radio_button :case_creator, 'all_firm', disabled: !@user.is_admin? %>
                <%= f.label :task_import, 'For any case created by firm', :value => 'all_firm'%>
              </div>
              <div class="radio-bloc">
                <%= f.radio_button :case_creator, 'owner' %>
                <%= f.label :task_import, 'For only cases created by me', :value => 'owner' %>
              </div>
            </div>
          </div>
          <div class="radio-bloc" style="margin-bottom: 40px;">
            <%= f.radio_button :task_import, 'manual' %>
            <%= f.label :task_import, 'Manually import task list on demand', :value => 'manual' %>
                <span id="man" title="After a case is created, users must go to Tasks > Import" style="cursor: pointer;" class="glyphicon glyphicon-question-sign"></span>
          </div>
        </div>
      </div> <!-- col-md-6 div -->
      <div class="col-md-6">
      </div>
  </div>
</div>

  <div class="clearfix"></div>
  <div id="tasks">
    <table class="task-nested-table table-striped task_lists_table" style="margin-top: 40px; margin-bottom:40px;">
      <thead class="user-table-head">
        <th>Task Name</th>
        <th>Description</th>
        <th>Day(s)</th>
        <th>Before / After</th>
        <th>Anchor Date</th>
        <th></th>
        <th></th>
      </thead>
      <tbody id="task_drafts">
      <%= f.simple_fields_for :task_drafts do |task| %>
        <%= render 'task_draft_fields', :f => task %>
      <% end %>
      <%= link_to_add_association 'ADD TASK', f, :task_drafts, :"data-association-insertion-node" => "tbody#task_drafts", :"data-association-insertion-method" => "append", :partial => "task_draft_fields", class: 'action-button' %>
      </tbody>
    </table>
  </div>
<% end %>
<script>
  $(document).ready(function () {
    $("#note_select, select").select2();
    $('.tip').tipr({
      'speed': 500,
      'mode': 'top'
    });
    <%= render :partial => 'datatable.js', :locals => { :sort_column => 3, :sort_order => 'asc'} %>
    $('.add_fields').click(function () {
      $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    });

    $('#task_drafts').on('cocoon:after-insert', function (e, insertedItem) {
      var last_id = 'task_draft_'+$('.task-draft-field').length;
      if ($(insertedItem[0]).hasClass('task-draft-field')) {
        $(insertedItem[0]).attr('id', last_id);
        $(insertedItem[0]).find($('.add_child')).attr('data-association-insertion-node', '#'+last_id);
      } else if ($(insertedItem[0]).hasClass('child_task_draft')) {
        var parent_task_id = $(insertedItem[0]).prev('tr.task-draft-field').attr('id');
        $(insertedItem[0]).addClass('parent_'+parent_task_id);
      }
    }).on('cocoon:before-remove', function (e, deletedItem) {
      if($(deletedItem[0]).hasClass('task-draft-field')) {
        var parent_task_id = $(deletedItem[0]).attr('id');
        $('.parent_'+parent_task_id).remove();
      }
    });
  });
  $('form').bind('submit', function() {
    $(this).find(':input').removeAttr('disabled');
  });
  $("input[name='task_list[task_import]']:radio").change(function (e) {
    if($('#task_list_task_import_automatic').is(':checked')) {
      $('.case-selector').show();
      var user_admin = <%= @user.is_admin? %>;
      if(!user_admin) {
        $('#task_list_case_creator_owner').prop('checked', true);
      }
    } else {
      $('.case-selector').hide();
      var task_list_case_type = $('#task_list_case_type');
      task_list_case_type.find("option:selected").removeAttr("selected");
      task_list_case_type.select2('val', '');
      $("input[name='task_list[case_creator]']:radio").prop('checked', false);
    }
  })
</script>
<script type='text/javascript'>
  $(function() {
    $('#man, #auto').tipsy({gravity: 's', fade: true});
  });
</script>
