  <tr class="nested-fields task-draft-field">
    <td>
      <%= f.input :name, label: false, :class => 'table-input' %>
    </td>
     <td>
      <%= f.text_area :description, label: false, :class => 'table-input' %>
    </td>
    <td>
      <%= f.input :due_term, label: false, min: 0, :class => 'table-input' %>
    </td>
    <td>
      <%= f.select :conjunction, [ 'After', 'Before'], {}, { class: 'conjunction-select', label: false } %>
    </td>
    <td>
      <%= f.select :anchor_date, TaskDraft::ANCHOR_DATE, label: false %>
    </td>
    <td class="task-icon">
      <%= link_to_add_association f, :children, :"data-association-insertion-node" => ".task-draft-field:last", :"data-association-insertion-method" => "after", :partial => "child_fields", class: 'dark-small add_child' do %><span class="glyphicon glyphicon-plus tip" data-tip=" Dependent"></span><% end %>
    </td>
    <td class="task-icon">
      <%= link_to_remove_association f, class: 'dark-small remove_task_drafts' do %><span class="glyphicon glyphicon-trash tip" data-tip="Remove"></span><% end %>
    </td>
    <%= f.simple_fields_for :children do |child| %>
      <%= render 'child_fields', :f => child %>
    <% end %>
  </tr>

<script type="text/javascript" charset="utf-8">
  $("select").select2();
  $('.tip').tipr({
    'speed': 500,
    'mode': 'top'
  });
  $('#task_drafts').on('cocoon:after-remove', function(e, insertedItem) {

  });
  $('.conjunction-select').on('change', function (e) {
    var after_options = "<%= raw TaskDraft::ANCHOR_DATE.map {|option| "<option value='#{option}'>#{option}</option>"}.join('') %>";
    var before_options = "<%= raw TaskDraft::BEFORE_ANCHOR_DATE.map {|option| "<option value='#{option}'>#{option}</option>"}.join('') %>";
    var raw_name = $(this).attr('name').replace('[conjunction]','');
    var anchor_select = $("select[name='"+raw_name+"[anchor_date]']")
    if($(this).val() == 'before') {
      anchor_select.empty().append(before_options);
    } else if($(this).val() == 'after') {
      anchor_select.empty().append(after_options);
    }
  });
</script>