

<div id="index-buttons">
              <ul>
                  <li>
                      <div id="top-custom">
                          <ul>
                              <li>
                                    <%= link_to 'NEW TASK LIST', new_task_list_path, :class =>'action-button' %></li>
                                    <% if params[:case_id].present? %>
                                          <%= link_to "IMPORT TASK LIST(S)", '', {:class => "action-button", :id => "import_task_lists", :remote => true} %>
                                    <% end %>
                        </ul>
                      </div>
                  </li>
              </ul>
   </div>

<div style="margin-top: 70px;">
  <h3>Task Lists</h3>
  <div class="table-responsive">
  <table class="table table-striped table-hover rowlink imports">
    <thead class="user-table-head">
    <tr>
      <% if params[:case_id].present? %>
        <th>Import to Case</th>
      <% end %>
      <th>Name</th>
      <th>View Permission</th>
      <th>Amend Permission</th>
      <th>Selection</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <% @task_lists.each do |task_list| %>
      <%= render 'task_list_row', task_list: task_list %>
    <% end %>
    </tbody>
  </table>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var table = $('.table').dataTable({
    language: {
      search: "_INPUT_",
      searchPlaceholder: "Search or Filter",
      lengthMenu: "View _MENU_"
    },
    sDom: 'Rfrtlip',
    aaSorting: [[0, "asc"]]
  });
  $('table.rowlink tr td:not(:nth-child(5), :nth-child(6), :nth-child(7))').click(function ()    {
    location.href = $(this).parent().find('td a').attr('href');
  });

  <% if params[:case_id].present? %>
  $('#import_task_lists').click(function (e) {
    e.preventDefault();
    var task_lists_ids = [];
    $.each($('.import_task_lists:checkbox:checked'), function (i, cb) {
      task_lists_ids.push($(cb).data('id'));
    });
    $.ajax({
      type: "POST",
      url: '/task_lists/import_to_case',
      dataType: "json",
      data: {task_list: {task_lists_ids: task_lists_ids, case_id: <%= params[:case_id] %>}},
      success: function (data, textStatus) {
        window.location.href = "<%= case_tasks_path(params[:case_id]) %>";
        $('.alert').remove();
        $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
        setTimeout(function(){ $('.alert').fadeOut() }, 2000);
      }
    });
  });
    <% end %>
</script>