<div id="insights_filter" class="well">
  <div class="row">
    <div class="col-md-2 box right_whiteborder">
      <label>INJURY:</label>
      <%= select_tag "f_injury", options_for_select(Injury::INJURY_TYPE), :include_blank => true, class: 'optional full-width' %>
      <label>REGION:</label>
      <%= select_tag "f_region", options_for_select(Injury::REGION_TYPE), :include_blank => true, class: 'optional full-width' %>
    </div>
    <div class="col-md-8 box right_whiteborder">
      <div class="col-md-3">
        <br/>
        <label>INSUER:</label>
        <%= select_tag "f_insuer", options_for_select(Incident::INSURANCE_PROVIDERS), :include_blank => true, class: 'optional full-width' %>
      </div>
      <div class="col-md-6">
        <br/>
        <label>STATE(S):</label>
        <%= select_tag "f_state", options_from_collection_for_select(@us_states, "last", "first"), :include_blank => true, class: 'optional full-width' %>
      </div>
      <div class="col-md-3">
        <label>COURT:</label>
        <input type="text" id="f_court" class="full-width" />
        <label>JUDEGE:</label>
        <%= select_tag "f_judge", options_for_select(Contact::TYPES), :include_blank => true, class: 'optional full-width' %>
      </div>
    </div>
    <div class="col-md-2 box">
      <div class="full-width center" style="margin-top:10px;">
        <a id="btnFilterSearch" class="action-button" href="javascript:void(0)">SEARCH</a>
      </div>
      <div class="full-width center" style="margin-top:30px;">
        <a id="btnFilterReset" class="action-button" href="javascript:void(0)">RESET</a>  
      </div>
    </div>
  </div>
</div>
<p id="notice" style="display:none;">No data</p>
<div id="chart_container" class="col-md-12 with-3d-shadow with-transitions">
  <div id="stackedArea_chart" style="height:300px;width:100%;">
    <svg></svg>
  </div>
  <div id="pie_chart" style="height:300px;width:300px;margin:0 auto;">
    <svg></svg>
  </div>
  <h4 style="text-align:center;">NATIONAL AVERAGE</h4>
  <div id="map_chart" style="position:relative;width:750px;height:350px;margin:0 auto;"></div>
</div>