  <% if @case.present? %>
  <div class="case-header">
    <div class="case-title">
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-2" style="font-size: 24px;">
            <strong><%= @case.name %></strong><br>
          </div>
          <div class="col-md-7">
            <%= render partial: 'notes/case_alert' %>
          </div>
        </div>
      </div>
      <div id="case-buttons" style="width: 168px;">
        <ul>
      <li class="dropdown task-list">
        <%= link_to "", class: 'dropdown-toggle action-button', id: 'task-list-bnt', data: {toggle: "dropdown", :style => 'display:inline;'} do %>
          NEW COST
          <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 10px; left: -22px;">
            <li style="padding: 0; display: inline;"><%= link_to "New Time Entry", @new_time_entry_path, { :id => "new_time_modal", :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window2'} %></li>
            <li style="padding: 0; display: inline;"><%= link_to "New Expense", @new_path, { :id => "new_modal", :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %></li>
        </ul>
      </li>
    </ul>
      </div>
    </div>
    <strong>Case #: </strong><%= @case.case_number %>
    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/case_tabs' %>
        </div>
      </div>
    </div>
    <%= render partial: 'notes/case_alert' %>
  </div>
  <div style="margin-top: 3px;">
</div>
  <% else %>
    <div class="case-header">
      <div class="case-title">
        <div style="font-size: 24px;">
          <strong>Expenses</strong><br>
        </div>
        <div id="case-buttons">
          <ul>
            <li><%= render 'new_button' %></li>
          </ul>
        </div>
      </div>
      <strong style="color: white;">A</strong>
      <div class="container-fluid" style="padding: 0;">
        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'time_entries/time_entries_tabs' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="incase-tabs-gap">
  </div>
  <% if @case.present? %>
  <div style="margin-top: 70px;">
    <h3>Time Entries</h3>
  </div>
<div class="table-responsive">
  <table id="my_docs" class="table table-striped rowlink">
    <thead class="user-table-head">
    <tr>
      <th>Timekeeper</th>
      <th>Date</th>
      <th>Activity</th>
      <th>Charge Type</th>
      <th>Hours</th>
    </tr>
    </thead>
    <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr data-id="<%= time_entry.id %>">
        <td class="mid-td"><div class="larger-td" style='padding-top:12px;'><%= link_to time_entry.try(:user).try(:name), time_entry %></div></td>
        <td style="vertical-align: middle;"><%= simple_format_date_regexp time_entry.date %></td>
        <td style="vertical-align: middle;"><%= time_entry.activity %></td>
        <td style="vertical-align: middle;"><%= time_entry.charge_type %></td>
        <td style="vertical-align: middle;"><%= time_entry.hours %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />
<br />
<% end %>
<div style="margin-top: 70px;">
  <h3>Expenses</h3>
</div>
  <div class="table-responsive">
    <table id="firm_docs" class="table table-striped rowlink">
      <thead class="user-table-head">
      <tr>
        <th>Submitted by</th>
        <th>Date</th>
        <th>Expense</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <% @expenses.each do |expense| %>
        <tr data-id="<%= expense.id %>">
          <td class="mid-td"><div class="larger-td" style='padding-top:12px;'><%= link_to expense.user.try(:name), @case.present? ? case_expense_path(@case, expense) : expense %></div></td>
          <td style="vertical-align: middle;"><%= simple_format_date_regexp expense.created_date %></td>
          <td style="vertical-align: middle;"><%= expense.expense %></td>
          <td style="vertical-align: middle;"><%= number_to_currency expense.amount %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="modal-window2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <%= render :partial => "expenses_index_javascript" %>