<%= javascript_include_tag 'expenses/show', 'data-turbolinks-track' => true %>
<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong><%= @expense.expense %>, <%= simple_format_date_regexp @expense.created_date %></strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to 'Edit', @case.present? ? edit_case_expense_path(@case, @expense) : edit_expense_path, :class => 'dark' %></li>
        <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
        <li><%= link_to @expense,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a time entry will remove all information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Lead"></span> <% end %></li>
      </ul>
    </div>
  </div>
  <strong>Expense #: </strong><%= @expense.id %>
  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap-double">
</div>
<table id="insurance-table" class="time_entry-table">
  <thead>
  <tr class="right-top">
    <td colspan="2" class="gray-back">
      <strong>Expense Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <strong>Submitted By:</strong>
    </td>
    <td>
      <%= @expense.user.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Created Date:</strong>
    </td>
    <td>
      <%= simple_format_date_regexp @expense.created_date %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Expense:</strong>
    </td>
    <td>
      <%= @expense.expense %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>ABA Billing Code:</strong>
    </td>
    <td>
      <%= @expense.aba_billing_code%>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Amount:</strong>
    </td>
    <td>
      <%= number_to_currency @expense.amount %>
    </td>
  </tr>
  <tr>
    <td class="right big-row">
      <strong>Description:</strong>
    </td>
    <td class="big-row">
      <%= @expense.description %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Case:</strong>
    </td>
    <td>
      <%= @expense.case.try(:name) %>
    </td>
  </tr>
  </tbody>
</table>
