<%= simple_form_for @lead do |f| %>
  <%= f.error_notification %>

  <% if action_name == "index" %>
    <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h2>New Lead</h2>
        </div>
        <div class="modal-body">
  <% end %>


  <table class="lead-form table-condensed">
    <tbody>
    <tr>
      <td>
        <strong>First name:</strong>
      </td>
      <td>
        <%= f.text_field :first_name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Last name:</strong>
      </td>
      <td>
        <%= f.text_field :last_name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Attorney:</strong>
      </td>
      <td>
        <%= f.select :attorney_id, @firm.admin_n_attorneys.map{ |c| ["#{c.name} #{c.email} ", "#{c.id}:#{c.id}"] }, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Phone number:</strong>
      </td>
      <td>
        <%= f.telephone_field :phone, label: false, :class => 'table-input', placeholder: '(925) 555-1234' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Note:</strong>
      </td>
      <td>
        <%= f.text_area :note, label: false, :class => 'table-area' %>
      </td>
    </tr>
    </tbody>
  </table>

  <% if action_name == "index" %>
    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class =>"sub2-small" %>
  </div>

  <% if action_name == "index" %>
    </div><!--end of modal-footer-->
    </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  <% end %>

<% end %>
<script>
  $(document).ready(function() {
    $("#lead_select, select").select2();
    $('#lead_phone').mask("(999) 999-9999");
  });
</script>