<%= javascript_include_tag 'client_intakes/form', 'data-turbolinks-track' => true %>
<%= simple_form_for @lead || Lead.new do |f| %>
  <%= f.error_notification %>

  <% if action_name == "index" || controller_name == 'dashboards' %>
    <!--only render html from 'if' to 'end' if the controller action this form was rendered from was 'index'; reason for this is because this form is used in 'new' and 'edit' actions; reason we aren't checking for if action_name == 'new' is because this is a modal that is rendered from the index action -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
          <h1>New Lead</h1>
        </div>
        <div class="modal-body">
  <% end %>


  <table class="lead-form table-condensed">
    <tbody>
    <tr>
      <td>
        <strong>Caller First Name:</strong>
      </td>
      <td>
        <%= f.text_field :first_name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Caller Last Name:</strong>
      </td>
      <td>
        <%= f.text_field :last_name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Assign Attorney:</strong>
      </td>
      <td>
        <%= f.select :attorney_id, @firm.admin_n_attorneys.map{ |c| ["#{c.name} ", "#{c.id}:#{c.id}"] }, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Caller Phone Number:</strong>
      </td>
      <td>
        <%= f.telephone_field :phone, label: false, :class => 'table-input', placeholder: '(___) ___-____' %>
      </td>
    </tr>
     <tr>
    <td>
      <strong>Address:</strong>
    </td>
    <td>
      <%= f.text_field :address, label: false, :class => 'table-input' %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>City:</strong>
    </td>
    <td>
      <%= f.text_field :city, label: false, :class => 'table-input' %>
    </td>
  </tr>
    <tr>
    <td>
      <strong>State:</strong>
    </td>
    <td>
      <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
    </td>
    </tr>
    <tr>
    <td>
      <strong>Zip Code:</strong>
    </td>
    <td>
      <%= f.text_field :zip_code, label: false, :class => 'table-input' %>
    </td>
  </tr>
        <tr>
      <td>
        <strong>How did you hear about us?</strong>
      </td>
      <td>
         <%= f.select :marketing_channel, Lead::CHANNELS, label: false, :class => 'table-input', :include_blank => '', :onchange => 'Hide(this.value)' %>
      </td>
    </tr>
     <tr id="phone_book">
      <td>
        <strong>Which Phone Book:</strong>
      </td>
      <td>
         <%= f.text_field :phone_book, label: false, :class => 'table-input' %>
      </td>
    </tr>
      <tr>
      <td>
        <strong>Case Type:</strong>
      </td>
      <td>
         <%= f.input :case_type, label: false, collection: Case::TYPES, :class => 'table-input', :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Case Sub Type:</strong>
      </td>
      <td>
         <%= f.input :sub_type, label: false, collection: Case::SUB_TYPES, as: :grouped_select, :group_method => :last, :class => 'table-input', :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Case Summary:</strong>
      </td>
      <td>
        <%= f.text_area :case_summary, label: false, :class => 'table-area' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Note:</strong>
      </td>
      <td>
        <%= f.text_area :note, label: false, :class => 'table-area' %>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <% if action_name == "index" || controller_name == 'dashboards'%>
    </div><!--end of modal-body-->

    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class =>"btn btn-info", :style => 'font-size: 18px;' %>
  </div>

  <% if action_name == "index" || controller_name == 'dashboards'%>
    </div><!--end of modal-footer-->
    </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  <% end %>

<% end %>
