<%= simple_form_for @lead do |f| %>

  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @lead.name %></strong><br>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Cancel', lead_contact_path(@lead), :class => 'dark' %></li>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
        </ul>
      </div>
    </div>
    <strong>Lead #: </strong><%= @lead.id %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/lead_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap-double">
  </div>
<table id="info-table3" class="lead-table">
  <thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>Contact Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right">
      <strong>First Name:</strong>
    </td>
    <td>
      <%= f.text_field :first_name, label: false, :class => 'table-input' %>
    </td>
        <td class="right">
      <strong>Last Name:</strong>
    </td>
    <td>
      <%= f.text_field :last_name, label: false, :class => 'table-input' %>
    </td>
  </tr>
   <tr>
    <td>
      <strong>Has Representation?</strong>
    </td>
    <td>
      <div class='radio'>
                <%= f.radio_button :attorney_already, 'true' %> 
                <%= label :attorney_already, 'Yes', :value => 'Yes' %>
            </div>
            <div class='radio'>
                <%= f.radio_button :attorney_already, 'false' %>
                <%= f.label :attorney_already, 'No', :value => 'No'%>
            </div>
    </td>
    <td class="right">
      <strong>Attorney Name:</strong>
    </td>
    <td>
      <%= f.text_field :attorney_name, label: false, :class => 'table-input' %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Date of Birth:</strong>
    </td>
    <td>
      <%= f.date_field :dob, label: false, :class => 'table-input' %>
    </td>
    <td class="right">
      <strong>SSN:</strong>
    </td>
    <td>
      <%= f.text_field :ssn, label: false, :class => 'table-input' %>
    </td>
  </tr>
   <tr>
    <td class="right">
      <strong>Phone:</strong>
    </td>
    <td>
      <%= f.telephone_field :phone, label: false, :class => 'table-input Phone', placeholder: '(___)___-____' %>
    </td>
    <td class="right">
      <strong>Email:</strong>
    </td>
    <td>
      <%= f.text_field :email, label: false, :class => 'table-input' %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Address:</strong>
    </td>
    <td colspan="3">
      <%= f.text_field :address, label: false, :class => 'table-input' %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>City:</strong>
    </td>
    <td colspan="3">
      <%= f.text_field :city, label: false, :class => 'table-input' %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>State:</strong>
    </td>
    <td>
      <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
    </td>
    <td class="right">
      <strong>Zip Code:</strong>
    </td>
    <td>
      <%= f.text_field :zip_code, label: false, :class => 'table-input' %>
    </td>
  </tr>

  </tbody>
</table>

<% end %>



<script>
  $(document).ready(function() { $("#note_select, select").select2(); });
</script>
<script>
  $(document).ready(function() {
    $('.phone').mask("(999) 999-9999");
  });
</script>
        
