<%= simple_form_for @lead do |f| %>

  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @lead.name %></strong><br>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Cancel', @lead, :class => 'dark' %></li>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save'%></li>
        </ul>
      </div>
    </div>
    <strong>Lead #: </strong><%= @lead.id %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/lead_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap-double"></div>
<table id="insurance-table" class="lead-table">
  <thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>Lead Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right">
      <strong>Caller Name:</strong><span id="caller" title="Edit the Caller's Name from the Contact tab" style="cursor: pointer;" class="glyphicon glyphicon-question-sign pull-right"></span>
    </td>
    <td  colspan="3">
      <%= @lead.name %>
    </td>
  </tr>  
  <tr>
    <td class="right">
      <strong>Call Date:</strong>
    </td>
    <td  colspan="3">
      <%= @lead.created_at.strftime("%b %d, %Y at %I:%M%p") %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Marketing Channel:</strong>
    </td>
    <td>
        <%= f.select :marketing_channel, Lead::CHANNELS, label: false, :class => 'table-input', :include_blank => '' %>
    </td>
        <td class="right">
      <strong>Referred by:</strong>
    </td>
    <td>
      <%= f.text_field :referred_by, label: false, :class => 'table-input' %>
    </td>
  </tr>
  <tr>
  <td>
        <strong>Screener:</strong>
    </td>
    <td>
      <%= f.select :screener_id, @firm.users.map{ |c| ["#{c.name}", c.id] }, label: false, :class => 'table-input' %>
    </td>
    <td class="right">
      <strong>Assigned Attorney:</strong>
    </td>
    <td>
       <%= f.select :attorney_id, @firm.admin_n_attorneys.map{ |c| ["#{c.name}", c.id] }, label: false, :class => 'table-input' %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>Case Type:</strong>
    </td>
    <td>
      <%= f.input :case_type, label: false, collection: Case::TYPES, :class => 'table-input', :include_blank => true %>
    </td>
    <td class="right">
      <strong>Sub-type:</strong>
    </td>
    <td>
       <%= f.input :sub_type, label: false, collection: Case::SUB_TYPES, :class => 'table-input', :include_blank => true %>
    </td>
  </tr>
    <tr>
      <td class="right">
      <strong>Estimated Value:</strong>
    </td>
    <td>
      <%= f.text_field :estimated_value, label: false, :class => 'table-input' %>
    </td>
    <td class="right">
      <strong>Total Insurance:</strong>
    </td>
    <td>
    <%= f.text_field :lead_policy_limit, label: false, :class => 'table-input' %>
    </td>
  </tr>
   <tr>
      <td class="right">
      <strong>Primary Injury:</strong>
    </td>
    <td>
      <%= f.select :primary_injury, Injury::INJURY_TYPE, label: false, :class => 'table-input', :include_blank => true  %>
    </td>
    <td class="right">
      <strong>Injury Region:</strong>
    </td>
    <td>
      <%= f.select :primary_region, Injury::REGION_TYPE, label: false, :class => 'table-input', :include_blank => true %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Incident Date:</strong>
    </td>
    <td colspan="3">
      <%= f.date_field :incident_date, label: false, :class => 'table-input' %>
    </td>
  </tr>
   <tr>
    <td class="right big-row">
      <strong>Case Summary:</strong>
    </td>
    <td colspan="3" class="right big-row">
      <%= f.text_area :case_summary, label: false, :class => 'table-text' %>
    </td>
  </tr>
   <tr>
    <td class="right">
      <strong>Status:</strong>
    </td>
    <td colspan="3">
      <%= f.select :status, Lead::STATUS.map { |k,v| [v, k] }, label: false, :class => 'table-input' %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>Appointment Date:</strong>
    </td>
    <td colspan="3">
      <%= f.date_field :appointment_date, label: false, :class => 'table-input' %>
    </td>
  </tr>
  <tr>
    <td class="right big-row">
      <strong>Notes:</strong>
    </td >
    <td colspan="3" class="big-row">
      <%= f.text_area :note, label: false, :class => 'table-text' %>
    </td>
  </tr>

  </tbody>
</table>

<% end %>

<script>
  $(document).ready(function() { $("#note_select, select").select2({allowClear: true}); });
</script>
<script type='text/javascript'>
  $(function() {
    $('#caller').tipsy({gravity: 's', fade: true});
  });
</script>