<%= simple_form_for @lead do |f| %>

  <div class="case-header">
    <div class="case-title">
      <div style="font-size: 24px;">
        <strong><%= @lead.name %></strong><br>
      </div>
      <div id="case-buttons">
        <ul>
          <li><%= link_to 'Cancel', @lead, :class => 'dark' %></li>
          <li><%= f.submit :class => 'sub2-small dark-right', :value => 'Save' %></li>
        </ul>
      </div>
    </div>
    <strong>Lead #: </strong><%= @lead.id %>

    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'shared/lead_tabs' %>
        </div>
      </div>
    </div>
  </div>
  <div class="incase-tabs-gap-double"></div>
  <table id="info-table3" class="lead-table">
    <thead>
    <tr class="right-top">
      <td colspan="4" class="gray-back">
        <strong>Lead Contact Information</strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="right">
        <strong>First Name:</strong>
      </td>
      <td>
        <%= f.text_field :first_name, label: false, :class => 'table-input' %>
      </td>
      <td class="right">
        <strong>Last Name:</strong>
      </td>
      <td>
        <%= f.text_field :last_name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Has Representation?</strong>
      </td>
      <td>
        <div class='radio'>
          <%= f.radio_button :attorney_already, 'true' %>
          <%= label :attorney_already, 'Yes', :value => 'Yes' %>
        </div>
        <div class='radio'>
          <%= f.radio_button :attorney_already, 'false' %>
          <%= f.label :attorney_already, 'No', :value => 'No' %>
        </div>
      </td>
      <td class="right">
        <strong>Attorney Name:</strong>
      </td>
      <td>
        <%= f.text_field :attorney_name, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Date of Birth:</strong>
      </td>
      <td>
        <%= f.date_field :dob, label: false, :class => 'table-input' %>
      </td>
      <td class="right">
        <strong>SSN:</strong>
      </td>
      <td>
        <%= f.text_field :ssn, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Phone:</strong>
      </td>
      <td>
        <%= f.telephone_field :phone, label: false, :class => 'table-input Phone', placeholder: '(___)___-____' %>
      </td>
      <td class="right">
        <strong>Email:</strong>
      </td>
      <td>
        <%= f.text_field :email, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Address:</strong>
      </td>
      <td colspan="3">
        <%= f.text_field :address, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>City:</strong>
      </td>
      <td colspan="3">
        <%= f.text_field :city, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>State:</strong>
      </td>
      <td>
        <%= f.select :state, us_states, label: false, :class => 'table-input', :include_blank => true %>
      </td>
      <td class="right">
        <strong>Zip Code:</strong>
      </td>
      <td>
        <%= f.text_field :zip_code, label: false, :class => 'table-input' %>
      </td>
    </tr>

    </tbody>
  </table>

  <table id="insurance-table" class="lead-table">
    <thead>
    <tr class="right-top">
      <td colspan="4" class="gray-back">
        <strong>Lead Details</strong>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="right">
        <strong>Caller Name:</strong>
      </td>
      <td colspan="3">
        <%= @lead.name %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Call Date:</strong>
      </td>
      <td colspan="3">
        <%= simple_format_datetime_at_regexp @lead.created_at %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Marketing Channel:</strong>
      </td>
      <td>
        <%= f.select :marketing_channel, Lead::CHANNELS, label: false, :class => 'table-input', :include_blank => '' %>
      </td>

      <% if @lead.marketing_channel == 'Phone book' %>
        <td class="right">
          <strong>Phone book:</strong>
        </td>
        <td>
          <%= f.text_field :phone_book, label: false, :class => 'table-input' %>
        </td>
      <% elsif @lead.marketing_channel == 'Referral' %>
        <td class="right">
          <strong>Referring Attorney:</strong>
        </td>
        <td>
          <%= f.select :referring_contact_id, @firm.contacts.map { |c| c.name ? ["#{c.name}", c.id] : ["#{c.email}", c.id] }, label: false, :class => 'table-input' %>
        </td>
      <% else %>
        <td colspan="2"></td>
      <% end %>
    </tr>
    <tr>
      <td>
        <strong>Screener:</strong>
      </td>
      <td>
        <%= f.select :screener_id, @firm.users.map { |c| ["#{c.name}", c.id] }, label: false, :class => 'table-input' %>
      </td>
      <td class="right">
        <strong>Assigned Attorney:</strong>
      </td>
      <td>
        <%= f.select :attorney_id, @firm.admin_n_attorneys.map { |c| ["#{c.name}", c.id] }, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Case Type:</strong>
      </td>
      <td>
        <%= f.input :case_type, label: false, collection: Case::TYPES, :class => 'table-input', :include_blank => true %>
      </td>
      <td class="right">
        <strong>Sub-type:</strong>
      </td>
      <td>
        <%= f.input :sub_type, label: false, collection: Case::SUB_TYPES, as: :grouped_select, :group_method => :last, :class => 'table-input', :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Estimated Value:</strong>
      </td>
      <td>
        <%= f.text_field :estimated_value, label: false, :class => 'table-input' %>
      </td>
      <td class="right">
        <strong>Total Insurance:</strong>
      </td>
      <td>
        <%= f.text_field :lead_policy_limit, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Primary Injury:</strong>
      </td>
      <td>
        <%= f.select :primary_injury, Injury::INJURY_TYPE, label: false, :class => 'table-input', :include_blank => true %>
      </td>
      <td class="right">
        <strong>Injury Region:</strong>
      </td>
      <td>
        <%= f.select :primary_region, Injury::REGION_TYPE, label: false, :class => 'table-input', :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Incident Date:</strong>
      </td>
      <td colspan="3">
        <%= f.date_field :incident_date, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right big-row">
        <strong>Case Summary:</strong>
      </td>
      <td colspan="3" class="right big-row">
        <%= f.text_area :case_summary, label: false, :class => 'table-text' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Status:</strong>
      </td>
      <td colspan="3">
        <%= f.select :status, Lead::STATUS.map { |k, v| [v, k] }, label: false, :class => 'table-input' %>
      </td>
    </tr>
    <tr>
      <td class="right">
        <strong>Appointment Date:</strong>
      </td>
      <td colspan="3" class="rel_td">
        <% if @lead.exist_event? %>
          <%= f.datetime_field :appointment_date, label: false, :class => 'table-input', value: "#{date_to_input_regexp(@lead.appointment_date)} #{time_to_input(@lead.appointment_date)}", readonly: @lead.exist_event? %>
          <%= link_to 'Edit', edit_event_path(@lead.event), {:class => 'user pull-right', :id => 'edit_modal', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :style => 'margin-right: 12px;'} %>
        <% else %>
          <%= link_to 'Create Event', new_event_path, {:class => 'action-button', :id => 'new_modal', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :style => 'margin-right: 12px;'} %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="right big-row">
        <strong>Notes:</strong>
      </td>
      <td colspan="3" class="big-row">
        <%= f.text_area :note, label: false, :class => 'table-text' %>
      </td>
    </tr>

    </tbody>
  </table>

<% end %>

<%= render :partial => "client_intakes_edit_javascript" %>