
<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong><%= @lead.name %></strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to 'Edit', edit_lead_path(@lead), :class => 'dark' %></li>
        <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
        <li><%= link_to @lead,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Lead"></span> <% end %></li>
        <li>
          <% unless @lead.case.present? %>
            <%= link_to accept_case_path(@lead), :class => 'dark' do %><span id="accept" class="glyphicon glyphicon-folder-close" title="Accept & Create Case"></span><% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <strong>Lead #: </strong><%= @lead.id %>

  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/lead_tabs' %>
      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap-double">
</div>
<table id="insurance-table">
  <thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>Lead Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td class="right">
      <strong>Caller Name:</strong>
    </td>
    <td  colspan="3">
      <%= @lead.name %>
    </td>
  </tr> 
  <tr>
    <td class="right">
      <strong>Call Date:</strong>
    </td>
    <td  colspan="3">
      <%= @lead.created_at.strftime("%b %d, %Y at %I:%M%p") %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Marketing Channel:</strong>
    </td>
    <td>
        <%= @lead.marketing_channel %>
    </td>
        <td class="right">
      <strong>Referred by:</strong>
    </td>
    <td>
      <%= @lead.referred_by %>
    </td>
  </tr>
  <tr>
  <td>
        <strong>Screener:</strong>
    </td>
    <td>
      <%= @lead.screener.try(:name) %>
    </td>
    <td class="right">
      <strong>Assigned Attorney:</strong>
    </td>
    <td>
      <%= @lead.attorney.try(:name) %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>Case Type:</strong>
    </td>
    <td>
      <%= @lead.case_type %>
    </td>
    <td class="right">
      <strong>Sub-type:</strong>
    </td>
    <td>
      <%= @lead.sub_type %>
    </td>
  </tr>
    <tr>
      <td class="right">
      <strong>Estimated Value:</strong>
    </td>
    <td>
      <%= number_to_currency @lead.estimated_value, precision: 0 %>
    </td>
    <td class="right">
      <strong>Total Insurance:</strong>
    </td>
    <td>
      <%= number_to_currency @lead.lead_policy_limit, precision: 0 %>
    </td>
  </tr>
   <tr>
      <td class="right">
      <strong>Primary Injury:</strong>
    </td>
    <td>
      <%= @lead.primary_injury %>
    </td>
    <td class="right">
      <strong>Injury Region:</strong>
    </td>
    <td>
      <%= @lead.primary_region %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Incident Date:</strong>
    </td>
    <td colspan="3">
      <%= @lead.incident_date %>
    </td>
  </tr>
   <tr>
    <td class="right big-row">
      <strong>Case Summary:</strong>
    </td>
    <td colspan="3" class="right big-row">
      <%= @lead.case_summary %>
    </td>
  </tr>
   <tr>
    <td class="right">
      <strong>Status:</strong>
    </td>
    <td colspan="3">
      <%= Lead::STATUS[@lead.status.to_sym] %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>Appointment Date:</strong>
    </td>
    <td colspan="3">
      <%= @lead.appointment_date %>
    </td>
  </tr>
  <tr>
    <td class="right big-row">
      <strong>Notes:</strong>
    </td >
    <td colspan="3" class="big-row">
      <%= @lead.note %>
    </td>
  </tr>

  </tbody>
</table>

<script type='text/javascript'>
  $(function() {
    $('#print').tipsy({gravity: 'n', fade: true});
    $('#delete').tipsy({gravity: 'n', fade: true});
    $('#accept').tipsy({gravity: 'ne', fade: true});
  });
</script>
