<%= javascript_include_tag 'client_intakes/show', 'data-turbolinks-track' => true %>
<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong><%= @lead.name %></strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li><%= link_to 'Edit', edit_lead_path(@lead), :class => 'dark' %></li>
        <li><%= link_to "javascript:window.print()",  :class => 'dark' do %><span id="print" class="glyphicon glyphicon-print" title="Print Screen"></span> <% end %></li>
        <li><%= link_to @lead,  :class => 'dark', method: :delete, data: { confirm: 'WARNING! Deleting a case will remove all the case information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span id="delete" class="glyphicon glyphicon-trash" title="Delete Lead"></span> <% end %></li>
        <li>
          <% unless @lead.case.present? %>
            <%= link_to accept_case_path(@lead), :class => 'dark' do %><span id="accept" class="glyphicon glyphicon-folder-close" title="Accept & Create Case"></span><% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <strong>Lead #: </strong><%= @lead.id %> 
  <% if @lead.case %>
  - Lead Accepted on <%= simple_format_datetime_slash_regexp @lead.case.created_at %> - <%= link_to "View Case", @lead.case, :class => 'dark' %>
  <% end %>
  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/lead_tabs' %>
      </div>
    </div>
  </div>
</div>
<div class="incase-tabs-gap-double">
</div>
<table id="info-table3" class="lead-table">
  <thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>Contact Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right">
      <strong>First Name:</strong>
    </td>
    <td>
      <%= @lead.first_name %>
    </td>
    <td class="right">
      <strong>Last Name:</strong>
    </td>
    <td>
      <%= @lead.last_name %>
    </td>
  </tr>
   <tr>
    <td>
      <strong>Has Representation?</strong>
    </td>
    <td>
      <%= boolean_as_yesno @lead.attorney_already %>
    </td>
    <td class="right">
      <strong>Attorney Name:</strong>
    </td>
    <td>
      <%= @lead.attorney_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Date of Birth:</strong>
    </td>
    <td>
      <%= @lead.dob %>
    </td>
    <td class="right">
      <strong>SSN:</strong>
    </td>
    <td>
      <%= @lead.ssn %>
    </td>
  </tr>
   <tr>
    <td class="right">
      <strong>Phone:</strong>
    </td>
    <td>
      <%= @lead.phone %>
    </td>
    <td class="right">
      <strong>Email:</strong>
    </td>
    <td>
      <%= @lead.email %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Address:</strong>
    </td>
    <td colspan="3">
      <%= @lead.address %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Address 2:</strong>
    </td>
    <td colspan="3">
      <%= @lead.address_2 %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>City:</strong>
    </td>
    <td colspan="3">
      <%= @lead.city %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>State:</strong>
    </td>
    <td>
      <%= @lead.state %>
    </td>
    <td class="right">
      <strong>Zip:</strong>
    </td>
    <td>
      <%= @lead.zip_code %>
    </td>
  </tr>

  </tbody>
</table>
<table id="insurance-table">
  <thead>
  <tr class="right-top">
    <td colspan="4" class="gray-back">
      <strong>Lead Information</strong>
    </td>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td class="right">
      <strong>Caller Name:</strong>
    </td>
    <td  colspan="3">
      <%= @lead.name %>
    </td>
  </tr> 
  <tr>
    <td class="right">
      <strong>Call Date:</strong>
    </td>
    <td  colspan="3">
      <%= simple_format_datetime_slash_regexp @lead.created_at %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Marketing Channel:</strong>
    </td>
    <td>
        <%= @lead.marketing_channel %>
    </td>
<% if @lead.marketing_channel == 'Phone book' %>
 <td class="right">
      <strong>Phone book:</strong>
    </td>
    <td>
      <%= @lead.phone_book %>
    </td>
<% elsif @lead.marketing_channel == 'Referral' %>
    <td class="right">
      <strong>Referring Attorney:</strong>
    </td>
    <td>
      <%= @lead.referring_contact.try(:name) %>
    </td>
<% else %>
  <td colspan="2"></td>
<% end %>
  </tr>
  <tr>
  <td>
        <strong>Screener:</strong>
    </td>
    <td>
      <%= @lead.screener.try(:name) %>
    </td>
    <td class="right">
      <strong>Assigned Attorney:</strong>
    </td>
    <td>
      <%= @lead.attorney.try(:name) %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>Case Type:</strong>
    </td>
    <td>
      <%= @lead.case_type %>
    </td>
    <td class="right">
      <strong>Sub-type:</strong>
    </td>
    <td>
      <%= @lead.sub_type %>
    </td>
  </tr>
    <tr>
      <td class="right">
      <strong>Estimated Value:</strong>
    </td>
    <td>
      <%= number_to_currency @lead.estimated_value, precision: 0 %>
    </td>
    <td class="right">
      <strong>Total Insurance:</strong>
    </td>
    <td>
      <%= number_to_currency @lead.lead_policy_limit, precision: 0 %>
    </td>
  </tr>
   <tr>
      <td class="right">
      <strong>Primary Injury:</strong>
    </td>
    <td>
      <%= @lead.primary_injury %>
    </td>
    <td class="right">
      <strong>Injury Region:</strong>
    </td>
    <td>
      <%= @lead.primary_region %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Incident Date:</strong>
    </td>
    <td colspan="3">
      <%= @lead.incident_date %>
    </td>
  </tr>
   <tr>
    <td class="right big-row">
      <strong>Case Summary:</strong>
    </td>
    <td colspan="3" class="right big-row">
      <%= @lead.case_summary %>
    </td>
  </tr>
   <tr>
    <td class="right">
      <strong>Status:</strong>
    </td>
    <td colspan="3">
      <%= Lead::STATUS[@lead.status.to_sym] %>
    </td>
  </tr>
    <tr>
    <td class="right">
      <strong>Appointment Date:</strong>
    </td>
    <td colspan="3">
      <%= "#{date_to_input_regexp(@lead.appointment_date)} #{time_to_input(@lead.appointment_date)}" %>
    </td>
  </tr>
  <tr>
    <td class="right big-row">
      <strong>Notes:</strong>
    </td >
    <td colspan="3" class="big-row">
      <%= @lead.note %>
    </td>
  </tr>

  </tbody>
</table>


