<div class="text-center">
  <table id="info-table4">
    <tbody>
    <tr>
      <td id="left-td"><%= link_to leads_path,  :class => 'dark' do %><span data-tip="Back" class="glyphicon glyphicon-arrow-left tip"></span> <% end %></td>
      <td>
      </td>
      <td>
      </td>
      <td><%= link_to @note, :class => 'dark-right', method: :delete, data: { confirm: 'WARNING! Deleting a lead will remove all the information from storage and you will not be able to retrieve it. Would you like to delete anyway?' } do %><span class="glyphicon glyphicon-trash tip" data-tip="Delete"></span> <% end %>
        <%= link_to "javascript:window.print()",  :class => 'dark-right' do %><span class="glyphicon glyphicon-print tip" data-tip="Print"></span> <% end %>
        <%= link_to 'Edit', edit_lead_path(@lead), :class => 'dark' %></td>
    </tr>
    </tbody>
  </table>
</div>

<table id="info-table3">
  <thead>
  <tr class="right-top">
    <td colspan="3" class="gray-back">
      <strong>Client Intake</strong>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right">
      <strong>Call date:</strong>
    </td>
    <td colspan="2">
      <%= @lead.created_at.strftime("%b %d/%Y at %I:%M%p") %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Attorney:</strong>
    </td>
    <td colspan="2">
      <%= @lead.attorney.try(:name) %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Case:</strong>
    </td>
    <td class="doc-link" colspan="2">
      <%= link_to @lead.case.try(:name), case_path(@lead.case) if @lead.case.present? %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Injured Party Name:</strong>
    </td>
    <td colspan="2">
      <%= @lead.name %>
    </td>
  </tr>
  <tr>
    <td class="right big-row">
      <strong>Note:</strong>
    </td >
    <td colspan="2" class="big-row">
      <%= @lead.note %>
    </td>
  </tr>

  </tbody>
</table>

<script>
  $('.tip').tipr({
    'speed': 500,
    'mode': 'top'
  });
</script>
