<div class="case-header">
  <div class="case-title">
    <div style="font-size: 24px;">
      <strong>Account Settings</strong><br>
    </div>
    <div id="case-buttons">
      <ul>
        <li></li>

      </ul>
    </div>
  </div>
  <strong style="color: white;">A</strong>

  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/profile_tabs' %>
      </div>
    </div>
  </div>
</div>
<% if @own_subscription.present? %>
<div class="row">
  <div class="col-md-12" style="margin-top: 130px;">
      <p><%= date_to_input_regexp @own_subscription.created_at %> - You have signed up for the <strong><%= @own_subscription.plan.name %></strong> plan for just <strong><%= number_to_currency @own_subscription.plan.price * @firm.users.count %></strong> <%= @own_subscription.plan.price_description %>
      <%= link_to 'Cancel', @own_subscription, method: :delete, :class => 'cancel' %></p>
  </div>
</div>
<% end %>
<div class="row">
  <% if @own_subscription.present? %>
    <div class="col-md-12">
  <% else %>
    <div class="col-md-12" style="margin-top: 130px;">
  <% end %>
    <div id="plans">
      <h2>Plans</h2>
      <% @plans.each do |plan| %>
        <div class="plan">
          <div class="name"><%= plan.name %></div>
          <div class="details">
            <div class="price">
              <%= number_to_currency plan.price * @firm.users.count, :precision => 0 %>
            </div>
            <div class="per_month"><%= plan.price_description %></div>
            <div class="signup">
              <% if !@own_subscription %>
                <%= link_to "Sign up", new_subscription_path(:plan_id => plan.id) %>
              <% else %>
                <% if @own_subscription.plan_id != plan.id  %>
                  <%= link_to "Sign up", new_subscription_path(:plan_id => plan.id) %>
                <% else %>
                  <p>Current plan...</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>
</div>
