<p>Hello, <%= @user.email %></p>
<p><%= @admin.email %> would like you to join their firm <%= @admin.firm.name %> as <%= @role %> on Litigo.co</p>
<p>Please click the link below to sign up for your account and join your firm.</p>
<%= link_to 'Accept Invitation', accept_invitation_url(@user, :invitation_token => @token) %><br>

<p>Cheers,</p>
<p>The Litigo Team</p>
<p>If you don't want to accept the invitation, please ignore this email.</p>
