<%= form_tag reports_case_sol_path, method: :get do %>
	<%= date_field_tag :start_date, @start_date %>
	<%= date_field_tag :end_date, @end_date %>
	<%= select_tag :attorney, options_for_select(@firm.contacts.where("type = 'Attorney'").collect {|contact| contact.name }), :options => {:include_blank => :false} %>
	<%= submit_tag "Run", name: nil %>
<% end %>
<div class="span6">
  <%= render template: 'dossier/reports/show', locals: {report: @case_sol_report.run} %>
</div>