<%= javascript_include_tag 'reports/cases_by_user_report', 'data-turbolinks-track' => true %>
<%= form_tag reports_cases_by_user_path, method: :get do %>
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong>Cases by User</strong><br>
          </div>
            <div id="case-buttons">
              <ul>
             		<li><%= submit_tag "RUN REPORT", name: nil, :class => 'run-report' %></li>
              </ul>
          </div>
    </div>
    <!-- .collect {|contact| contact.name }) -->
        <div class="container-fluid" style="padding: 0; margin-top: 10px;">
              <div class="row">
                      	<div class="col-md-3 col-xs-6">
                      	User<br>
                      		<%= collection_select :contact, :contact_id, @firm.contacts.where("type IN ('Attorney', 'Staff')"), :id, :name, :include_blank => true, :class => 'table-input', :selected => @selected_user %>
                      	</div>
                      	<div class="col-md-9 col-xs-6">
                      	</div>
              </div>
        </div>
</div>
<div class="incase-tabs-gap"></div>
<% end %>
<div style="margin-top: 72px;">
<div class="span6">
  <%= render template: 'dossier/reports/show', locals: {report: @cases_by_user_report.run} %>
</div>
