<%= javascript_include_tag 'reports/open_close_detail_report', 'data-turbolinks-track' => true %>
<%= form_tag reports_open_close_detail_path, method: :get do %>
<div class="case-header">
    <div class="case-title">
          <div style="font-size: 24px;">
                <strong>Close Report</strong><br>
          </div>
            <div id="case-buttons">
              <ul>
             		<li><%= submit_tag "RUN REPORT", name: nil, :class => 'run-report' %></li>
              </ul>
          </div>
    </div>
    <!-- .collect {|contact| contact.name }) -->
        <div class="container-fluid" style="padding: 0; margin-top: 10px;">
              <div class="row">
                      <div class="col-md-2 col-xs-6">
                      	Start date<br>
                     			<%= date_field_tag :start_date, @start_date, :id => 'start-date' %>
                     	</div>
                     	<div class="col-md-2 col-xs-6">
                     	End date<br>
								<%= date_field_tag :end_date, @end_date, :id => 'end-date' %>
                      	</div>
                      	<div class="col-md-8 col-xs-12">
                      	</div>
              </div>
        </div>
</div>
<div class="incase-tabs-gap"></div>
<% end %>
<div style="margin-top: 72px;">
<div class="span6">
  <%= render template: 'dossier/reports/show', locals: {report: @open_close_detail_report.run} %>
</div>
