<%# add navigation links to this file %>
<% if user_signed_in? %>
  <div class="dropdown">

    <button class="nav-dropdown-btn dropdown-toggle" type="button" id="userMenuDropdown" data-toggle="dropdown" aria-expanded="true">
      <%= current_user.name %>
      <span class="caret"></span>
      <br><span style="font-size: 10px;"><%= @firm.name %></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="userMenuDropdown">
      <li role="presentation"><a href="#menu-toggle" class="side-menu-toggle" id="menu-toggle">Toggle Side Menu 
                    </a></li>
      <li role="presentation"><%= link_to 'Profile & Settings', users_profile_path %></li>
      <li role="presentation"><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
    </ul>
  </div>

<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>