<ul class="nav nav-sidebar">
    <li>
        <%= link_to user_path(@user) do %>
                  <i class="fa fa-dashboard fa-fw"></i>
                  DASHBOARD
                <% end %>
    </li>
    <li id="first">
              <a href="#" onclick="return false;"><i class="fa fa-bar-chart-o fa-fw"></i>
              CASE MANAGEMENT</a>
        <ul>
            <li class="sec"><%= link_to "CASES", cases_path %></li>
            <li class="sec"><%= link_to "CALENDAR", user_path(@user) %></li>
            <li class="sec"><%= link_to "CONTACTS", contacts_path %></li>
            <li class="sec"><%= link_to "DOCUMENTS", user_path(@user) %></li>
            <li class="sec"><%= link_to "TASKS", user_path(@user) %></li>
        </ul>
    </li>
    <li>
        <%= link_to user_path(@user) do %>
          <i class="fa fa-dashboard fa-fw"></i>
          CASE EVALUATION
          <% end %>
    </li>
    <li id="second">
          <a href="#" onclick="return false;"><i class="fa fa-bar-chart-o fa-fw"></i>
          LEGAL INSIGHTS</a>
    <ul>
        <li><%= link_to "LITIGATION", user_path(@user) %></li>
            <li class="sec"><%= link_to "MY STATS", user_path(@user) %></li>
            <li class="sec"><%= link_to "PRACTICE STATS", user_path(@user) %></li>
            <li class="sec"><%= link_to "FINANCIALS", user_path(@user) %></li>
    </ul>
    </li>
    <li>
        <%= link_to user_path(@user) do %>
      <i class="fa fa-dashboard fa-fw"></i>
      PROFILE
      <% end %>
    </li>
</ul>


<script>
$(function() {  
    var isFirstOpen = 0;
    var isSecondOpen = 0;
    if(document.location && document.location.toString().indexOf('/cases') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/contacts') > 0) { isFirstOpen = 1; }

    $('#first').collapsible('default-open', {
        contentOpen: isFirstOpen
    });
    $('#second').collapsible('default-open', {
        contentOpen: isSecondOpen
    });
});

</script>