<ul class="nav nav-sidebar">
    <li>
        <%= active_link_to "DASHBOARD", user_path(current_user), class: "nav-sidebar__dsh" %>
    </li>
    <li id="first">
      <a href="#" class="nav-sidebar__cm">
      CASE MANAGEMENT</a>
      <ul class="nav2">
          <li><%= active_link_to "CASES", cases_path %></li>
          <li><%= active_link_to "CALENDAR", events_path %></li>
          <li><%= active_link_to "TASKS", tasks_path %></li>
          <li><%= active_link_to "CONTACTS", contacts_path %></li>
          <li><%= active_link_to "DOCUMENTS", documents_path %></li>
          <li><%= active_link_to "NOTES", notes_path %></li>
      </ul>
    </li>
    <li>
        <%= link_to "CASE EVALUATION", user_path(current_user), class: "nav-sidebar__cev" %>
    </li>
    <li id="second">
          <a href="#" class="nav-sidebar__li">
          LEGAL INSIGHTS</a>
    <ul>
        <li class="sec"><%= link_to "LITIGATION", user_path(current_user) %></li>
        <li class="sec"><%= link_to "MY STATS", user_path(current_user) %></li>
        <li class="sec"><%= link_to "PRACTICE STATS", user_path(current_user) %></li>
        <li class="sec"><%= link_to "FINANCIALS", user_path(current_user) %></li>
    </ul>
    </li>
     <li>
      <%= link_to " BILLING", user_path(current_user), :class => 'nav-sidebar__bil' %>
    </li>
    <li>
      <%= active_link_to "PROFILE", edit_user_registration_path, :class => 'nav-sidebar__prf' %>
    </li>
</ul>


<script>
$(function() {
    var isFirstOpen = 0;
    var isSecondOpen = 0;
    if(document.location && document.location.toString().indexOf('/cases') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/contacts') > 0) { isFirstOpen = 1; }

    $('#first').collapsible('default-open', {
        contentOpen: isFirstOpen
    });
    $('#second').collapsible('default-open', {
        contentOpen: isSecondOpen
    });

});

</script>