<ul class="nav nav-sidebar">
    <li>
        <%= active_link_to "Dashboard", user_root_path(@user), :class_active => 'tester', :class => 'nav-sidebar__dsh', :active => [['dashboards', 'new']] %>
    </li>
    <li>
        <%= active_link_to "Client Intake", leads_path, :class_active => 'tester', :class => 'nav-sidebar__cev', :id => 'client-intake', :active => [['client_intakes'], []] %>
    </li>
    <li id="first">
      <%= active_link_to " Case Management", '#', :id => 'case-management', :class_active => 'tester', :class => 'nav-sidebar__cm', :active => [['cases', 'events', 'tasks', 'contacts', 'documents', 'notes', 'incidents', 'medicals', 'resolutions', 'insurances'], []] %>
      <ul>
          <li><%= active_link_to "CASES", cases_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "CONTACTS", contacts_path, :class_active => 'enabled' %></li>
          <% if @case.present? %>
          <li><%= active_link_to "TASKS", tasks_path, :class_active => 'enabled' %></li>
          <% else %>
          <li><%= active_link_to "TASKS", tasks_path, :class_active => 'enabled', :active => [['tasks', 'task_lists'], []] %></li>
          <% end %>
          <li><%= active_link_to "DOCUMENTS", documents_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "NOTES", notes_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "CALENDAR", events_path, :class_active => 'enabled' %></li>
      </ul>
    </li>
    <!-- <li>
        <%= link_to "CASE EVALUATION", user_path(current_user), :class => 'nav-sidebar__cev', :id => 'CaseEval' %>
    </li> -->
    <li id="second">
  
      <%= active_link_to " Legal Insights", '#', :id => 'legal-insights', :class_active => 'tester', :class => 'nav-sidebar__li', :active => [['insights'], []] %>
    <ul>
        <li> <%= active_link_to insights_path :class_active => 'enabled' do %>LIT RESEARCH<sup>  Beta</sup><% end %></li>
       <!-- <li><%= active_link_to "STATISTICS", user_path(current_user), :class_active => 'enabled' %></li>
        <li><%= active_link_to "FINANCIALS", user_path(current_user), :class_active => 'enabled' %></li> -->
    </ul>
    </li>
     <!-- <li>
      <%= active_link_to " BILLING", user_path(current_user), :class_active => 'tester', :class => 'nav-sidebar__bil', :id => 'bill' %>
    </li> -->
    <li>
      <%= active_link_to "Profile", users_profile_path, :class_active => 'tester',:class => 'nav-sidebar__prf', :active => [['registrations']], :id => 'profile' %>
    </li>
</ul>


<script>
$(function() {
    var isFirstOpen = 0;
    var isSecondOpen = 0;
    if(document.location && document.location.toString().indexOf('/cases') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/notes') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/documents') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/tasks') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/task_lists') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/events') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/contacts') > 0) { isFirstOpen = 1; }

    if(document.location && document.location.toString().indexOf('/insights') > 0) { isSecondOpen = 1; }

    $('#first').collapsible('default-open', {
        contentOpen: isFirstOpen
    });
    $('#second').collapsible('default-open', {
        contentOpen: isSecondOpen
    });
    $('#case-management').click(function(e){
      e.preventDefault();
      $('.nav-sidebar > li > a').removeClass('tester');
      $(e.currentTarget).addClass('tester');
    });
    $('#legal-insights').click(function(e){
      e.preventDefault();
      $('.nav-sidebar > li > a').removeClass('tester');
      $(e.currentTarget).addClass('tester');
    })
});

</script>