<ul class="nav nav-sidebar">
    <li>
        <%= active_link_to "DASHBOARD", user_root_path(@user), :class_active => 'tester', :class => 'nav-sidebar__dsh' %>
    </li>
    <li id="first">
      <%= active_link_to " CASE MANAGEMENT", '#', :id => 'case-management', :class_active => 'tester', :class => 'nav-sidebar__cm', :active => [['cases', 'events', 'tasks', 'contacts', 'documents', 'notes', 'incidents', 'medicals'], []] %>
      <ul>
          <li><%= active_link_to "CASES", cases_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "CALENDAR", events_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "TASKS", tasks_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "CONTACTS", contacts_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "DOCUMENTS", documents_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "NOTES", notes_path, :class_active => 'enabled' %></li>
      </ul>
    </li>
    <li>
        <%= link_to "CASE EVALUATION", user_path(current_user), :class => 'nav-sidebar__cev' %>
    </li>
    <li id="second">
          <a href="#" class="nav-sidebar__li">
          LEGAL INSIGHTS</a>
    <ul>
        <li><%= active_link_to "LIT RESEARCH", user_path(current_user), :class_active => 'enabled' %></li>
        <li><%= active_link_to "STATISTICS", user_path(current_user), :class_active => 'enabled' %></li>
        <li><%= active_link_to "FINANCIALS", user_path(current_user), :class_active => 'enabled' %></li>
    </ul>
    </li>
     <li>
      <%= active_link_to " BILLING", user_path(current_user), :class_active => 'tester', :class => 'nav-sidebar__bil', :id => 'bill' %>
    </li>
    <li>
      <%= active_link_to "PROFILE", edit_user_registration_path, :class_active => 'tester',:class => 'nav-sidebar__prf', :id => 'profile' %>
    </li>
</ul>


<script>
$(function() {
    var isFirstOpen = 0;
    var isSecondOpen = 0;
    if(document.location && document.location.toString().indexOf('/cases') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/notes') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/documents') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/tasks') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/events') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/contacts') > 0) { isFirstOpen = 1; }

    $('#first').collapsible('default-open', {
        contentOpen: isFirstOpen
    });
    $('#second').collapsible('default-open', {
        contentOpen: isSecondOpen
    });
    $('#case-management').click(function(e){
      e.preventDefault();
      $('.nav-sidebar > li > a').removeClass('tester');
      $(e.currentTarget).addClass('tester');
    });

});

</script>