<ul class="nav nav-sidebar">
    <li>
        <%= active_link_to "Dashboard", user_root_path(@user), :class_active => 'tester', :class => 'nav-sidebar__dsh', :active => [['dashboards', 'new']] %>
    </li>
    <li>
        <%= active_link_to "Client Intake", leads_path, :class_active => 'tester', :class => 'nav-sidebar__cev', :id => 'client-intake', :active => [['client_intakes'], []] %>
    </li>
    <li id="first">
      <%= active_link_to " Case Management", '#', :id => 'case-management', :class_active => 'tester', :class => 'nav-sidebar__cm', :active => [['cases', 'events', 'tasks', 'contacts', 'documents', 'notes', 'incidents', 'medicals', 'resolutions', 'insurances'], []] %>
      <ul>
          <li><%= active_link_to "CASES", cases_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "CONTACTS", contacts_path, :class_active => 'enabled' %></li>
          <% if @case.present? %>
          <li><%= active_link_to "TASKS", tasks_path, :class_active => 'enabled' %></li>
          <% else %>
          <li><%= active_link_to "TASKS", tasks_path, :class_active => 'enabled', :active => [['tasks', 'task_lists'], []] %></li>
          <% end %>
          <li><%= active_link_to "DOCUMENTS", documents_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "NOTES", notes_path, :class_active => 'enabled' %></li>
          <li><%= active_link_to "CALENDAR", events_path, :class_active => 'enabled' %></li>
      </ul>
    </li>
    <!-- <li>
        <%= link_to "CASE EVALUATION", user_path(current_user), :class => 'nav-sidebar__cev', :id => 'CaseEval' %>
    </li> -->
     <li>
      <%= active_link_to "Time & Expense", time_entries_path, :class_active => 'tester',:class => 'nav-sidebar__time', :active => [['time_entries']], :id => 'time_entries' %>
    </li>
     <!-- <li>
      <%= active_link_to " Billing", user_path(current_user), :class_active => 'tester', :class => 'nav-sidebar__bil', :id => 'bill' %>
    </li> -->
    <li id="second">
  
      <%= active_link_to " Analytics", '#', :id => 'legal-insights', :class_active => 'tester', :class => 'nav-sidebar__li', :active => [['insights'], []] %>
    <ul>
        <li> <%= active_link_to insights_path :class_active => 'enabled' do %>LEGAL INSIGHTS<sup>  Beta</sup><% end %></li>
       <!-- 
        <li><%= active_link_to "FINANCIALS", user_path(current_user), :class_active => 'enabled' %></li> -->
    </ul>
    </li>
    <li>
      <%= active_link_to "Profile", users_profile_path, :class_active => 'tester',:class => 'nav-sidebar__prf', :active => [['registrations']], :id => 'profile' %>
    </li> 
        <div class="timer">
        <li style="border-top: 1px solid #4B6172; border-bottom: 1px solid #33424E;">
        <div style="width: 230px;">
            <input id="clock" type="text" value="00:00:00" class="timer-clock" readonly>
            </div>
            <ul class="timer-controls">
            <li><a href='#' id="startstopbutton" type="button" title="Start/Stop Timer">
                      <span id="control" class='glyphicon glyphicon-play'></span></a></li>
            <li><a href='#' id="resetbutton" type="button" title="Reset Timer"><span class='glyphicon glyphicon-repeat'></span></a></li>
            <li><a href='#' id="assignbutton" type="button" title="Assign to Case"><span class='glyphicon glyphicon-paperclip'></span></a></li>
            <textarea id="output" style="height: 90%; display:none;"></textarea>
          </ul>
            </li>
        </div>
    </ul>

<script>
$(function() {
    var isFirstOpen = 0;
    var isSecondOpen = 0;
    if(document.location && document.location.toString().indexOf('/cases') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/notes') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/documents') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/tasks') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/task_lists') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/events') > 0) { isFirstOpen = 1; }
    if(document.location && document.location.toString().indexOf('/contacts') > 0) { isFirstOpen = 1; }

    if(document.location && document.location.toString().indexOf('/insights') > 0) { isSecondOpen = 1; }

    $('#first').collapsible('default-open', {
        contentOpen: isFirstOpen
    });
    $('#second').collapsible('default-open', {
        contentOpen: isSecondOpen
    });
    $('#case-management').click(function(e){
      e.preventDefault();
      $('.nav-sidebar > li > a').removeClass('tester');
      $(e.currentTarget).addClass('tester');
    });
    $('#legal-insights').click(function(e){
      e.preventDefault();
      $('.nav-sidebar > li > a').removeClass('tester');
      $(e.currentTarget).addClass('tester');
    })
});
</script>
<script>
  $(document).ready(function () {
    if(flagclock==1) {
      $('#control').removeClass('glyphicon-play').addClass('glyphicon-stop');
    } else {
      $('#control').removeClass('glyphicon-stop').addClass('glyphicon-play');
    }
    $('#startstopbutton').click(function (e) {
      e.preventDefault();
      startstop();
    });
    $('#resetbutton').click(function (e) {
      e.preventDefault();
      resetclock();
    });
    $('#assignbutton').click(function (e) {
      e.preventDefault();
      var modal = $("#modal-window");
      var hours_val = $('#clock').val().split(':');
      modal.html("<%= escape_javascript(render 'time_entries/form') %>");
      $('#time_entry_hours').val(hours_val[0]+':'+hours_val[1]);
      modal.modal('show');
    })

  });
</script>

<script type='text/javascript'>
  $(function() {
    $('#startstopbutton').tipsy({gravity: 'sw', fade: true, delayIn: 1000});
    $('#resetbutton').tipsy({gravity: 's', fade: true, delayIn: 1000});
    $('#assignbutton').tipsy({gravity: 's', fade: true, delayIn: 1000});
  });
</script>