<ul class="nav nav-sidebar">
   <li>
  <% if have_notification? %>
    <%= active_link_to "Dashboard", user_root_path(@user), :class_active => 'tester', :class => 'nav-sidebar__dsh_notif', :active => [['dashboards', 'new']] %>
  <% else %>
    <%= active_link_to "Dashboard", user_root_path(@user), :class_active => 'tester', :class => 'nav-sidebar__dsh', :active => [['dashboards', 'new']] %>
  <% end %>
  </li>
  <li>
    <%= active_link_to "Intake", leads_path, :class_active => 'tester', :class => 'nav-sidebar__cli', :id => 'client-intake', :active => [['client_intakes'], []] %>
  </li>
  <li id="first">
    <%= active_link_to " Cases", cases_path, :class_active => 'tester', :class => 'nav-sidebar__cm', :active => [['cases', 'incidents', 'medicals', 'resolutions', 'insurances'], []] %>
    </li>
    <li>
    <%= active_link_to "Contacts", contacts_path, :class_active => 'tester', :class => 'nav-sidebar__prf', :active => @case.present? ? '' : [['contacts'], []] %></li>
      <li><%= active_link_to " Tasks", tasks_path, :class_active => 'tester', :class => 'nav-sidebar__task', :active => @case.present? ? '' : [['tasks', 'task_lists'], []] %></li>
      <li><%= active_link_to "Documents", documents_path, :class_active => 'tester', :class => 'nav-sidebar__doc', :active => @case.present? ? '' : [['documents', 'templates'], []] %></li>
      <li><%= active_link_to " Notes", notes_path, :class_active => 'tester', :class => 'nav-sidebar__pen' %></li>
      <li><%= active_link_to "Calendar", events_path, :class_active => 'tester', :class => 'nav-sidebar__cal' %></li>
  <li>
    <%= active_link_to "Expenses", time_entries_path, :class_active => 'tester', :class => 'nav-sidebar__bil', :active => [['time_entries', @case.present? ? '' : 'expenses']], :id => 'time_entries' %>
  </li>
  <!-- <li>
      <%= active_link_to " Billing", user_path(current_user), :class_active => 'tester', :class => 'nav-sidebar__bil', :id => 'bill' %>
    </li> -->
  <li id="second">

   <!-- <%= active_link_to " Analytics", '#', :id => 'legal-insights', :class_active => 'tester', :class => 'nav-sidebar__li', :active => [['insights'], []] %>
    <ul>
      <li> <%= active_link_to insights_path :class_active => 'enabled' do %>LEGAL INSIGHTS<sup> Beta</sup>
        <% end %></li>
        <li><%= active_link_to "FINANCIALS", user_path(current_user), :class_active => 'enabled' %></li>
    </ul> -->
  </li>
  <li>
        <%= active_link_to "Reports", reports_path , :class_active => 'tester', :class => 'nav-sidebar__cev', :active => [['reports']], :id => 'CaseEval' %>
    </li>

</ul>

<%= render :partial => "layouts/side_navigation_javascript" %>