<!DOCTYPE html>
<html>
<%= render partial: 'layouts/head' %>
  <body>
  <% if user_signed_in? %> 
    <header>
      <%= render 'layouts/navigation' %>
    </header> 
        <div id="wrapper">
            <div id="sidebar-wrapper">
                  <%= render 'layouts/side_navigation' %>
            </div>
            <div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12" id="page_content_wrapper_start" style="margin-top: 10px;">
                                <%= render 'layouts/messages' %>
                                <%= yield %>
                                <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                 <button href="#menu-toggle2" class="side-menu-toggle" id="menu-toggle"> 
                          <span class="glyphicon glyphicon-align-justify"></span>        
                    </button>
            </div>
        </div>
         <% else %>

          <div class="main">
                <%= render 'layouts/messages' %>
                <%= yield %>
          </div>

      </div>
      <% end %>
      <%= render :partial => "layouts/javascript_application" %>
      <%= yield :javascript %>
  </body>
</html>
